Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix: repo structure
  tests/e2e/specs/employee2/timesheet2.spec.js
Due: eslint-js

feat : allure-report with single-html file
  .github/workflows/e2e-playwright-test.yml
  .gitignore
  package-lock.json
  package.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : included env variables
  .github/workflows/e2e-playwright-test.yml
  package.json
Due: none

fix : zip issue and report generation
  .github/workflows/e2e-playwright-test.yml
  .gitignore
  package.json
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

refactor: included await for writeDataToFile
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix : update playwright version and include allure-playwright
  package-lock.json
  package.json
Due: none

fix : solve zip issues and make a test fail on purpose
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Revert "fix : solve zip issues and make a test fail on purpose"
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : zip issue and make a test to fail
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Actions: COnfigs: Switch to erp qe.
  .github/deploy_configs/erp-qe.rt.gw.toml
  .github/workflows/e2e-playwright-test.yml
Due: none

Workflow: Use qe workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

Workflow: Fix sitename
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: remove unnecessary ownership change and cleanup steps in workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

Workflow: config: Add lending app config
  .github/deploy_configs/erp-qe.rt.gw.toml
Due: none

Workflow: Update configs from erp stage
  .github/deploy_configs/erp-qe.rt.gw.toml
Due: none

fix : dependency issues
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : run workflow with install-deps
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : dependecy issue
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : change the dependency
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : include both install and install-deps
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: parse html to get the description of holiday
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix : update paths for Allure report zipping
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : install jq for extracting test results
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : update conditional checks in workflow for better compatibility
  .github/workflows/e2e-playwright-test.yml
Due: none

Update dealtype options
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
Due: none

fix: Update allowed fields for time log
  next_pms/timesheet/utils/constant.py
Due: none

fix: Update weekly status on on_update hook instead of submit
  next_pms/hooks.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

chore: Update package dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/packages/design-system/package.json
Due: none

feat: Add new component text editor in design system
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/index.css
Due: eslint-react

refactor: Update component reference in used pages
  frontend/packages/app/src/app/components/AddTime.tsx
  frontend/packages/app/src/app/components/form-view/components/editor.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/dataCell.tsx
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

fix: Formate links in hover content
  frontend/packages/app/src/app/components/timesheet-table/components/dataCell.tsx
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/app/src/global.css
Due: eslint-react

feat : scripts to run in parallel.
  package.json
  tests/e2e/data/employee/timesheet.json
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/utils/api/frappeRequests.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

fix: format task log content
  frontend/packages/app/src/app/components/AddTime.tsx
  frontend/packages/app/src/app/pages/task/components/taskLog.tsx
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

refactor: Parse link in html string or normal text
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/utils/index.ts
Due: eslint-react

fix: Add employee name in profit report
  next_pms/next_pms/report/profit_report/profit_report.py
Due: none

fix: update report paths and zip file
  .github/workflows/e2e-playwright-test.yml
  .gitignore
  package.json
Due: none

chore: Make description field text editor
  next_pms/fixtures/property_setter.json
Due: none

fix : included detailed count of tests
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : total count of tests
  .github/workflows/e2e-playwright-test.yml
Due: none

feat : try for allure reports history on a single html file
  .github/workflows/e2e-playwright-test.yml
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
