Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix(projects): launch phase uses text-ink-green-3
  frontend/packages/app/src/pages/projects/list/cells/stages-icon.tsx
Due: eslint-react

fix(projects): add spacing between risk dot and project name
  frontend/packages/app/src/pages/projects/list/cells/project-name-cell.tsx
Due: eslint-react

feat: make add allocation modal interactive
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/utils.ts
Due: eslint-react

fix: icon imports
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/pages/allocations/layout.tsx
  frontend/packages/app/src/pages/timesheet/components/timesheet-breadcrumbs.tsx
  frontend/packages/design-system/src/components/task-status/constants.ts
Due: eslint-react

chore: init module for grouping project work
  next_pms/modules.txt
  next_pms/next_projects/__init__.py
Due: none

feat: add doctype project phase for tracking purpose
  next_pms/next_projects/doctype/__init__.py
  next_pms/next_projects/doctype/project_phase/__init__.py
  next_pms/next_projects/doctype/project_phase/project_phase.js
  next_pms/next_projects/doctype/project_phase/project_phase.json
  next_pms/next_projects/doctype/project_phase/project_phase.py
  next_pms/next_projects/doctype/project_phase/test_project_phase.py
Due: eslint-js

feat: add patch to get default values for the doctype
  next_pms/install.py
  next_pms/next_projects/doctype/project_phase/project_phase.json
  next_pms/next_projects/patches/__init__.py
  next_pms/next_projects/patches/create_default_project_phase.py
  next_pms/patches.txt
Due: none

fix: prevent infinite refetch loop causing timesheet flickering
  frontend/packages/app/src/app/components/add-leave/index.tsx
  frontend/packages/app/src/app/layout/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
Due: eslint-react

fix: add perms for Project and Delivery Managers
  next_pms/next_projects/doctype/project_phase/project_phase.json
Due: none

fix: exist check based on phase name
  next_pms/install.py
Due: none

fix: ensure patch doesnt create record if it already exists
  next_pms/next_projects/patches/create_default_project_phase.py
Due: none

refactor: remove project timesheet data fetching workaround
  frontend/packages/app/src/pages/timesheet/project/layout.tsx
  frontend/packages/app/src/pages/timesheet/project/provider.tsx
  frontend/packages/app/src/pages/timesheet/project/reducer.ts
  frontend/packages/app/src/pages/timesheet/project/useProjectTimesheetData.ts
  frontend/packages/app/src/route.tsx
Due: eslint-react

fix: status field mismatch
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/utils.py
Due: none

chore: rename utilities directory
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getClampedBarLayout.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getNumDays.ts
Due: eslint-react

chore: use CVA for crosshatch variants
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/crosshatchLayer.tsx
Due: eslint-react

refactor: pre compute clamped values
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getClampedBarLayout.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

add isFilterRequest state and enhance loading logic in TeamTimesheet components
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/reducer.ts
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

update hook to use new api
  frontend/packages/app/src/hooks/useApprovers.ts
Due: eslint-react

streamline team timesheet context and provider, implement reducer for state management
  frontend/packages/app/src/components/timesheet-row/teamTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/reducer.ts
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

update team timesheet data structure and simplify member mapping
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
Due: eslint-react

add skip empty week support
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
Due: eslint-react

feat(projects): detail page skeleton — tabs + about-this-project aside (#1259)
  frontend/packages/app/src/pages/projects/detail.tsx
  frontend/packages/app/src/pages/projects/detail/constants.ts
  frontend/packages/app/src/pages/projects/detail/header.tsx
  frontend/packages/app/src/pages/projects/detail/index.tsx
  frontend/packages/app/src/pages/projects/detail/summary.tsx
  frontend/packages/app/src/pages/projects/detail/types.ts
Due: eslint-react

fix: correct indentation in overrides block
  package.json
Due: none

feat: add allocation modal
  frontend/packages/app/src/pages/allocations/layout.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/design-system/src/utils/date.ts
Due: eslint-react

feat: add support for edit
  frontend/packages/app/src/pages/allocations/layout.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
Due: eslint-react

refactor(projects-list): rename cell files to camelCase and columns to .ts
  frontend/packages/app/src/pages/projects/list/cells/budgetProgressCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/dateCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/stagesIcon.tsx
  frontend/packages/app/src/pages/projects/list/columns.ts
Due: eslint-react

remove weekGroups from state and simplify reducer actions
  frontend/packages/app/src/pages/timesheet/team/reducer.ts
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
Due: eslint-react

remove CompositeFilter component and integrate filters directly in timesheet tables
  frontend/packages/app/src/components/filters/compositeFilter.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/timesheet/constants.ts
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

fix(projects-list): apply PR #1220 round-5 review comments
  frontend/packages/app/src/pages/projects/list/cells/budgetProgressCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/dateCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/dot.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/stagesIcon.tsx
Due: eslint-react

doc(next-pms): record conventions from PR #1220 round-5 review
  .claude/skills/next-pms-conventions/SKILL.md
  CLAUDE.md
Due: none

doc: fix pre-impl scan step numbering (5 → 6 → 7)
  CLAUDE.md
Due: none

doc: record Button iconLeft, submodule-rebuild, and stacked-PR learnings
  .claude/skills/next-pms-conventions/SKILL.md
  CLAUDE.md
Due: none

chore: fix incorrect icon used for stages
  frontend/packages/app/src/pages/projects/list/cells/stagesIcon.tsx
Due: eslint-react

refactor useTeamTimesheetData to improve date handling and pagination logic
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/utils.ts
Due: eslint-react

chore: fix types
  frontend/packages/app/src/pages/timesheet/project/reducer.ts
  frontend/packages/app/src/pages/timesheet/project/types.ts
  frontend/packages/app/src/pages/timesheet/project/useProjectTimesheetData.ts
Due: eslint-react

refactor: replace icons
  frontend/packages/app/src/pages/timesheet/project/layout.tsx
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
