Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix: increase select width to avoid dropdown overlap with other selects
  frontend/packages/app/src/pages/project-details/tabs/risks/toolbar/toolbar.tsx
Due: eslint-react

fix(risks): prevent toolbar select dropdowns from overlapping siblings
  frontend/packages/app/src/pages/project-details/tabs/risks/toolbar/toolbar.tsx
Due: eslint-react

fix(allocations): stop paired allocation-type options acting as no filter
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  next_pms/resource_management/api/team.py
  next_pms/tests/resource_management/api/test_team.py
Due: eslint-react

feat: remove unnecessary refetch request
  frontend/packages/app/src/pages/project-details/tabs/notes/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/useNotesData.ts
Due: eslint-react

feat: weekly rejection reason
  next_pms/install.py
  next_pms/patches.txt
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/patches/setup_timesheet_weekly_rejection_reason_field.py
Due: none

feat(projects): forecast budget burn from billable rates
  next_pms/next_projects/api/project.py
  next_pms/project_currency/billing_rate.py
  next_pms/project_currency/overrides/timesheet.py
  next_pms/tests/next_projects/api/test_project.py
Due: none

Merge pull request #1986 from rtCamp/feat/notes-template
  next_pms/next_pms/doctype/project_status_update_template_category/__init__.py
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.js
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.json
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.py
  next_pms/next_pms/doctype/project_status_update_template_category/test_project_status_update_template_category.py
Due: eslint-js

fix: remove currency from filter count
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
Due: eslint-react

fix: formatting issue
  frontend/packages/design-system/src/components/comments/commentItem.tsx
  frontend/packages/design-system/src/components/comments/types.ts
Due: eslint-react

feat: weekly rejection reason (#1993)
  next_pms/install.py
  next_pms/patches.txt
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/patches/setup_timesheet_weekly_rejection_reason_field.py
Due: none

fix: flaky tests
  next_pms/tests/test_pm_report.py
Due: none

refactor(allocations): match no-allocation union in SQL
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
Due: eslint-react

fix(projects): guard forecast rate lookup against a string date
  next_pms/next_projects/api/project.py
  next_pms/project_currency/billing_rate.py
Due: none

fix: hrms leave approver
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
Due: none

fix: flaky tests (#2000)
  next_pms/tests/test_pm_report.py
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
Due: none

chore: address claude pr comments
  .github/workflows/unit-tests.yml
Due: none

fix: formatting
  package.json
Due: none

fix: formatting
  frontend/package.json
  package.json
Due: none

fix: eof
  frontend/package.json
  package.json
Due: none

chore: add info to the github step summary warning users not the full testsuite ran
  .github/workflows/unit-tests.yml
Due: none

fix: field order on add task form
  frontend/packages/app/src/pages/tasks/components/add-task/index.tsx
Due: eslint-react

test(task): add coverage for add_task priority and exp_end_date
  next_pms/tests/timesheet/api/test_add_task.py
Due: none

feat(task): allow setting priority and expected end date when adding a task
  next_pms/timesheet/api/task.py
Due: none

feat(tasks): add priority and due date fields to the add-task form
  frontend/packages/app/src/pages/tasks/components/add-task/index.tsx
  frontend/packages/app/src/pages/tasks/components/add-task/schema.ts
  frontend/packages/app/src/pages/tasks/list/provider.tsx
Due: eslint-react

feat(allocations): show free capacity when a team member has no allocation
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
  frontend/packages/design-system/src/components/gantt-view/types.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

fix(allocations): harden GanttBar's passive prop and fix crosshatch variant type
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
Due: eslint-react

fix(allocations): use stable segment keys instead of array index
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
Due: eslint-react

perf(allocations): avoid computing startOfDay twice per free-day iteration
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
Due: eslint-react

chore: improve list view accessibility
  frontend/packages/app/src/components/infiniteScroll.tsx
  frontend/packages/app/src/components/types.ts
  frontend/packages/app/src/pages/projects/list/view.tsx
  frontend/packages/app/src/pages/tasks/list/view.tsx
Due: eslint-react

feat: add rtcamp app to ci and fix ci perms (#1979)
  .github/workflows/gitleaks.yml
  .github/workflows/semantic-commits.yml
  .github/workflows/unit-tests.yml
Due: none

fix: lint mismatch fix
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

chore: remove incorrectly sortable options
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns.ts
  frontend/packages/app/src/pages/projects/types.ts
Due: eslint-react

fix: move to useCallback
  frontend/package-lock.json
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/feedbackDetailBody.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/comments.tsx
Due: eslint-react

feat: add weekly rejection message in manager weekly approval popup
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/types.ts
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/utils.ts
  frontend/packages/app/src/types/timesheet.ts
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

fix: remove unused type
  frontend/packages/app/src/types/timesheet.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
