Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Updated TC102, TC103 and TC104 to work on weekends. Also fixed flaky tests.
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Fix age in company column
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

refactor: Remove back-dated date validation
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: none

refactor: Re user functions from utils
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
Due: none

Update code to bypass the salary slip permission for report
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

refactor: Move method to utils
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
  next_pms/utils/employee.py
Due: none

feat: Add form tour for timesheet settings doctype
  next_pms/next_pms/form_tour/resource_allocation_tour/resource_allocation_tour.json
  next_pms/next_pms/form_tour/timesheet_settings_tour/timesheet_settings_tour.json
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.js
Due: eslint-js

feat: Add workspace for pms app
  next_pms/next_pms/workspace/next_pms/next_pms.json
Due: none

feat: Add Onboarding steps for pms app
  next_pms/next_pms/module_onboarding/next_pms/next_pms.json
  next_pms/next_pms/onboarding_step/pms__projects_settings/pms__projects_settings.json
  next_pms/next_pms/onboarding_step/pms__resource_allocation/pms__resource_allocation.json
  next_pms/next_pms/onboarding_step/pms__working_hours/pms__working_hours.json
  next_pms/next_pms/workspace/next_pms/next_pms.json
Due: none

Updated code to fix PR comments
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Add patch to remove custom fields from project dt
  next_pms/patches.txt
  next_pms/timesheet/patches/remove_custom_fields.py
Due: none

Updated console log message and fixed linter issue.
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
Due: eslint-js

Fixed linter issues
  tests/e2e/pageObjects/resourceManagement/timeline.js
Due: eslint-js

refactor: Export permissions fixtures
  next_pms/fixtures/custom_docperm.json
  next_pms/hooks.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.json
  next_pms/timesheet/doctype/pms_view_setting/pms_view_setting.json
Due: none

fix: Add conditional check for business unit
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/user.ts
  frontend/packages/app/src/types/index.ts
  next_pms/timesheet/api/app.py
  next_pms/www/next-pms/index.py
Due: eslint-react

chore: Reduce scrollbar height
  frontend/packages/app/src/app/components/list-view/header/index.tsx
  frontend/packages/app/src/global.css
Due: eslint-react

refactor: Update utils method to return employee monthly and hourly salary with respect to work scehdule
  next_pms/utils/employee.py
Due: none

chore: Remove un-used field
  next_pms/fixtures/custom_field.json
Due: none

fix: Update hourly salary logic in all reports
  next_pms/next_pms/report/profit_report/profit_report.py
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

chore: Code cleanup
  next_pms/project_currency/overrides/timesheet.py
  next_pms/utils/employee.py
Due: none

refactor: Remove un-necessary column formatting in reports
  next_pms/next_pms/report/client_profitability/client_profitability.js
  next_pms/next_pms/report/client_profitability/client_profitability.py
  next_pms/next_pms/report/profit_report/profit_report.js
  next_pms/next_pms/report/profit_report/profit_report.py
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/resource_management/report/employee_billability/employee_billability.js
  next_pms/resource_management/report/employee_billability/employee_billability.py
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: eslint-js

Update salary paid logic to handle employee company changes in appraisal evaluation report
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

fix: if not project found then return empty list
  next_pms/timesheet/api/task.py
Due: none

fix : schedule run on main
  .github/workflows/e2e-playwright-test.yml
Due: none

chore: Update email in hooks.py
  next_pms/hooks.py
  package.json
  pyproject.toml
Due: none

Fix word break in text-editor component
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Fix 0 float devision in custom field patch
  next_pms/timesheet/patches/remove_custom_fields.py
Due: none

fix: Do not select already approved timesheets for rejection
  frontend/packages/app/src/app/pages/team/components/approval.tsx
Due: eslint-react

refactor: Change logic to update weekly status
  next_pms/timesheet/api/utils.py
Due: none

refactor: Process timesheets in background
  next_pms/timesheet/api/team.py
Due: none

Reduce the timesheet count in recalculation job
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

Reduce recalculation cron chunk size to 300
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

sync changes from develop to main
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/task.js
  tests/e2e/data/manager/team.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

chore: Consider on draft and submitted time entries
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
Due: none

Increase job timeout to 1 hour for recalculation timesheet
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

Add sorting to timesheet fetch call
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

Update start value in timesheet fetch call
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

Fix parent project key in timesheet API calls
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

fix: Clear holiday list cache whenever changes are made to holidays
  next_pms/hooks.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/doc_events/holiday_list.py
Due: none

fix: Validate approval pending status
  next_pms/timesheet/api/utils.py
Due: none
