Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Remove Approval pending status
  next_pms/timesheet/api/utils.py
Due: none

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

feat : working fixtures for create and delete employees feat : created fixtures for other helper functions as well
  tests/e2e/fixtures/index.js
  tests/e2e/fixtures/projectFixtures.js
  tests/e2e/fixtures/taskFixtures.js
  tests/e2e/fixtures/teamFixtures.js
  tests/e2e/fixtures/timesheetFixtures.js
  tests/e2e/specs/manager/team-new.spec.js
Due: eslint-js

Add Approval Pending Status in update_weekly_status util and fix get_timesheet_detail API
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
Due: none

Added visual tests
  .github/workflows/visual-test-playwright.yml
  package.json
  tests/visualAutomation/playwright.config.js
  tests/visualAutomation/specs/visualAutomation.spec.js
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-leave-modal-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-leave-modal-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-leave-modal-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-time-modal-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-time-modal-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-time-modal-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/forgot-password-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/forgot-password-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/forgot-password-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-with-email-link-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-with-email-link-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/login-page-with-email-link-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-task-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-task-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-task-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-team-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-team-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-team-page-webkit-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-chromium-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-firefox-darwin.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-webkit-darwin.png
Due: eslint-js

Add Day-Priority based weekly status updates
  next_pms/timesheet/api/utils.py
Due: none

enhancement: Publish timesheet update changes via socket io
  next_pms/hooks.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

chore: Remove callback calls
  frontend/packages/app/src/app/layout/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/types.ts
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/types.ts
Due: eslint-react

fix: Connect to backend socket via proxy
  frontend/vite.config.ts
  next_pms/timesheet/doc_events/timesheet.py
Due: eslint-react

chore: Do not create function on component re-creation
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
Due: eslint-react

refactor: Use socketio to update the UI with data
  frontend/packages/app/src/app/pages/timesheet/components/approval.tsx
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/components/types.ts
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

Updated workflow file
  .github/workflows/visual-test-playwright.yml
Due: none

Updated file name to match js file
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

refactor: Update overview data for team and home page
  next_pms/timesheet/api/team.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

refactor: Update store data with latest one from socket
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/app/src/app/pages/home/reducer.ts
  frontend/packages/app/src/app/pages/home/types.ts
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/app/src/app/pages/team/reducer.ts
Due: eslint-react

Fixed flaky tests for TC102 and TC103
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

removed .only from spec file
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix: Do not consider cancelled timesheets
  next_pms/timesheet/api/team.py
Due: none

fix: Update status via socket when sent for approval
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

commit : changes from develop
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
Due: eslint-js

chore: Enable socketio by default
  frontend/packages/app/src/lib/utils.ts
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

chore: Update git-ignore
  frontend/.gitignore
Due: none

chore: Use alias for import
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix: Do not show loader if api failed
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/app/src/app/pages/team/reducer.ts
Due: eslint-react

refactor: Fetch employee related updates based on id instead of name
  next_pms/timesheet/api/team.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

chore: Do not make api call if it failed
  frontend/packages/app/src/app/pages/home/index.tsx
Due: eslint-react

chore: Update BU field check
  frontend/packages/app/src/app/pages/project/components/header.tsx
Due: eslint-react

Updated workflow file for visual tests
  .github/workflows/visual-test-playwright.yml
Due: none

fix : removed timeline.spec.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

Updated workflow file to use self hosted environment
  .github/workflows/visual-test-playwright.yml
Due: none

chore: Update readme
  README.md
Due: none

chore: Update readme
  README.md
  featured-image.png
  screenshots/project-setting.png
  screenshots/timesheet-view.png
Due: none

docs: Fix typo
  README.md
Due: none

Added run on pull request
  .github/workflows/visual-test-playwright.yml
Due: none

Updated install curl command
  .github/workflows/visual-test-playwright.yml
Due: none

Updated file with condition to skip download files step if folder is missing
  .github/workflows/visual-test-playwright.yml
Due: none

Added admin credentials to workflow file
  .github/workflows/visual-test-playwright.yml
Due: none

chore: Update spacing in readme
  README.md
Due: none

Update README.md
  README.md
Due: none
