Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

feat(allocations): add Approve / Edit modal workflow for AI allocations
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

ci: point CI triggers and sibling-app fetches at develop
  .github/workflows/gitleaks.yml
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
Due: none

fix(design-system): format DeleteAllocationMode for CI prettier
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

chore: fix scrolling and limit pinned columns
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/header.tsx
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/pages/projects/list/columns/utils.ts
  frontend/packages/app/src/pages/projects/list/view.tsx
Due: eslint-react

test(e2e): run tests within a spec file serially
  tests/e2e/playwright.config.js
Due: eslint-js

test(e2e): serialise the three spec files that share an account
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
Due: eslint-js

feat: modify timeoff widget
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/types.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/utils.ts
  next_pms/api/dashboard.py
Due: eslint-react

test(e2e): give each test 60s instead of Playwright's default 30s
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee3/timesheet3.spec.js
Due: eslint-js

Revert "test(e2e): give each test 60s instead of Playwright's default 30s"
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee3/timesheet3.spec.js
Due: eslint-js

feat: add approval flow
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/content.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/context.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/provider.tsx
  next_pms/api/dashboard.py
Due: eslint-react

docs: Update PR target branch to develop
  CONTRIBUTING.md
Due: none

fix(e2e): stabilise timesheet, project and allocation specs
  tests/e2e/pageObjects/columnSettings.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/sidebar.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/employee3/timesheet3.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/utils/dateUtils.js
  tests/e2e/utils/navigation.js
Due: eslint-js

feat: add type dropdown and hovercard to calendar tab
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/eventPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/floatingChip.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttBar.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/itemHoverCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/titleCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/columns.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/types.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/utils.ts
Due: eslint-react

fix(allocations): refresh grid after modal save
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

refactor(risk): extract owner-gated permission helper
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/utils/permissions.py
Due: none

feat(growth): add growth initiative category and status masters
  next_pms/next_pms/doctype/pms_growth_initiative_category/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative_category/pms_growth_initiative_category.json
  next_pms/next_pms/doctype/pms_growth_initiative_category/pms_growth_initiative_category.py
  next_pms/next_pms/doctype/pms_growth_initiative_status/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.json
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.py
Due: none

feat(growth): add growth initiative doctype
  next_pms/hooks.py
  next_pms/next_pms/doctype/pms_growth_initiative/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.json
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
Due: none

feat(growth): seed default growth masters
  next_pms/install.py
  next_pms/next_projects/patches/create_default_growth_masters.py
  next_pms/patches.txt
Due: none

test(growth): add growth initiative tests
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
Due: none

feat(allocations): add AI allocation notifications
  frontend/packages/app/src/providers/notifications/provider.tsx
  next_pms/hooks.py
  next_pms/next_pms/notifications.py
Due: eslint-react

test(allocations): cover AI notification and filters
  next_pms/resource_management/doctype/resource_allocation/test_resource_allocation.py
  next_pms/tests/resource_management/api/test_team.py
Due: none

feat: add rejection modal and api
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/content.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/context.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/provider.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/rejectLeaveDialog.tsx
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/schema.ts
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/utils.ts
  next_pms/api/dashboard.py
  next_pms/install.py
  next_pms/next_pms/patches/setup_leave_rejection_reason_field.py
  next_pms/patches.txt
Due: eslint-react

chore: ignore holidays in calculations when they fall on weekends
  frontend/packages/app/src/components/timesheet-row/components/row/timeOffRow.tsx
  frontend/packages/app/src/components/timesheet-row/utils.ts
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix(allocations): include holiday allocation types
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

fix(allocations): match types formatting
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

fix(allocations): match CI type formatting
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

fix(allocations): filter project from notification
  next_pms/next_pms/notifications.py
  next_pms/resource_management/doctype/resource_allocation/test_resource_allocation.py
Due: none

fix(timeline): lock category identity and expose labels to select-only roles
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item_category/project_timeline_item_category.json
  next_pms/next_projects/doctype/project_timeline_item_category/project_timeline_item_category.py
  next_pms/next_projects/doctype/project_timeline_item_category/test_project_timeline_item_category.py
  next_pms/next_projects/patches/setup_timeline_item_categories.py
Due: none

feat: add table and tab to show growth initiatives
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/priorityBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/statusBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listView.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
Due: eslint-react

feat:add filtering
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/ownerCombobox.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/sortButton.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/toolbar.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
Due: eslint-react

feat: add create modal
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/employeeField.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/toolbar.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/create-risk/index.tsx
  frontend/packages/app/src/pages/project-details/utils.tsx
Due: eslint-react

feat: add delete and follow functionality
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/ownerPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/useGrowthDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/rowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

feat: add edit functionality
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/rowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/riskRowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/useRiskPermissions.ts
  frontend/packages/app/src/pages/project-details/useOwnerGatedPermissions.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

fix: modal
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
Due: eslint-react

fix: remove icon from error message
  frontend/packages/app/src/pages/dashboard/widget/upcoming-time-off/rejectLeaveDialog.tsx
Due: eslint-react

feat: add additional documents section
  frontend/packages/app/src/pages/project-details/components/documentUploadButton.tsx
  frontend/packages/app/src/pages/project-details/components/fileCard.tsx
  frontend/packages/app/src/pages/project-details/components/followersBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/ownerPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/useGrowthDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/context.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailHeader.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/useRiskDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/useRisksData.ts
  frontend/packages/app/src/pages/project-details/types.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
