Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix(timesheet): recalc costing for deleted timesheets from in-memory tasks/projects
  next_pms/project_currency/background_jobs/project_costing.py
  next_pms/project_currency/overrides/timesheet.py
Due: none

feat: move task and project costing to a background queue
  next_pms/project_currency/background_jobs/project_costing.py
  next_pms/project_currency/overrides/timesheet.py
Due: none

fix(project_currency): skip per-timesheet costing enqueue during billing recalculation
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

fix: project-task sync in recalculate flow, performance improvement by removing double calls, typehints and docstrings, bugfixes on race conditions
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
  next_pms/project_currency/background_jobs/project_costing.py
  next_pms/project_currency/overrides/timesheet.py
Due: none

fix: add a no employee route
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/noEmployee.tsx
  frontend/packages/app/src/providers/user/index.ts
  frontend/packages/app/src/providers/user/provider.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

test: unit tests
  next_pms/project_currency/background_jobs/project_costing.py
  next_pms/project_currency/overrides/timesheet.py
  next_pms/tests/test_project_costing.py
Due: none

docs: PR template checkbox for documentation (#2100)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: update designation lookup hook to use dedicated endpoint
  frontend/packages/app/src/hooks/useDesignationLookup.ts
Due: eslint-react

fix(resource-management): invalidate resource caches on holiday changes
  next_pms/hooks.py
  next_pms/resource_management/api/team.py
  next_pms/tests/resource_management/api/test_team.py
Due: none

fix: role protection
  frontend/packages/app/src/route.tsx
Due: eslint-react

chore: clean comments
  next_pms/hooks.py
  next_pms/resource_management/api/team.py
  next_pms/tests/resource_management/api/test_team.py
Due: none

fix: reject reason scoped to task instead of timesheet
  next_pms/install.py
  next_pms/patches.txt
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/patches/move_rejection_reason_to_timesheet_detail.py
  next_pms/timesheet/utils/constant.py
Due: none

fix(security): enforce Customer read permission on generate_unique_abbr (Issue 4)
  next_pms/api/customer.py
Due: none

fix: add time form focus highlight
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
Due: eslint-react

fix: add leave form focus highlight
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
Due: eslint-react

fix(allocations): link form labels to inputs and use FormLabel consistently
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleHoursPerDayField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleTotalHoursField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
Due: eslint-react

fix(project-details): fix focus rings and consolidate sort component
  frontend/packages/app/src/pages/project-details/about/section.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/toolbar/sortButton.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/costBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/components/sort-button/index.tsx
  frontend/packages/design-system/src/components/sort-selector/index.tsx
Due: eslint-react

fix: submit approval form focus highlight
  frontend/packages/app/src/pages/timesheet/components/submit-approval/index.tsx
Due: eslint-react

refactor(focus): drop redundant per-component focus-ring classes
  frontend/packages/app/src/pages/project-details/about/section.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/costBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/view.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/design-system/src/components/sort-selector/index.tsx
Due: eslint-react

fix: link form labels to inputs and fix accordion focus ring
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-time/index.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/rejectionPopup.tsx
Due: eslint-react

fix(project): update focus styles
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/view.tsx
  frontend/packages/design-system/src/components/sort-selector/index.tsx
Due: eslint-react

refactor(tasks): use native buttons in task row cells
  frontend/packages/app/src/pages/tasks/list/cells/addTimeCell.tsx
  frontend/packages/app/src/pages/tasks/list/cells/likeCell.tsx
  frontend/packages/app/src/pages/tasks/list/cells/subjectCell.tsx
  frontend/packages/app/src/pages/tasks/list/cells/taskRowActions.tsx
Due: eslint-react

feat(allocations): show hourly rates in a configurable display currency
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.py
Due: none

chore: fix project sidebar layout
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/about/section.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/index.tsx
Due: eslint-react

fix: patch guard fix, add the rejection data to project/team api endpoint
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/patches/move_rejection_reason_to_timesheet_detail.py
Due: none

fix: N+1 in project threshold reminder
  next_pms/project_currency/tasks/reminde_project_threshold.py
  next_pms/tests/project_currency/__init__.py
  next_pms/tests/project_currency/test_project_threshold_reminder.py
Due: none

fix(auth): remove redundant reload racing the logout redirect
  frontend/packages/app/src/providers/user/provider.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

fix(security): enforce GitHub Repository read permission on get_repository_project_boards (Issue 5)
  next_pms/api/generate_pm_report.py
Due: none

fix: reject reason scoped to task instead of timesheet (#2114)
  next_pms/install.py
  next_pms/patches.txt
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/patches/move_rejection_reason_to_timesheet_detail.py
  next_pms/timesheet/utils/constant.py
Due: none

fix: email template fix + address copilot comments
  next_pms/project_currency/tasks/reminder_project_threshold.py
  next_pms/tests/project_currency/__init__.py
  next_pms/tests/project_currency/test_project_threshold_reminder.py
Due: none

fix(allocations): convert CTC in the project employee view and bust cache on currency change
  next_pms/resource_management/api/project.py
  next_pms/tests/resource_management/api/test_project.py
  next_pms/tests/resource_management/api/utils/__init__.py
  next_pms/tests/resource_management/api/utils/test_helpers.py
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.py
Due: none

fix: Remove stale util function to get the employee by skill
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
Due: none

fix: Validate project permission before loading siderbar information
  next_pms/next_projects/api/project.py
Due: none

fix: Allow only url in project links section
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/about/sections/link.tsx
  next_pms/fixtures/custom_field.json
Due: eslint-react

fix: Validate user's read permission to project before loading related communications and gmail threads
  next_pms/next_projects/api/email.py
Due: none

fix: Restrict self timesheet approval by higher access users
  next_pms/tests/timesheet/api/test_team.py
  next_pms/timesheet/api/team.py
Due: none

chore: Remove stale API param
  next_pms/resource_management/api/team.py
Due: none

chore: Remove deprecated endpoint
  next_pms/timesheet/api/team.py
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix: restrict api to certain roles
  next_pms/api/designation.py
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
