Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

feat: App app to app switcher screen
  next_pms/api/__init__.py
  next_pms/hooks.py
Due: none

feat: Add option to switch apps from navigation
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
Due: eslint-react

chore: Apply code review suggestions related to timeout and naming conventions
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

refactor : Make the test file to handle both employee and manager role state
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

refactor : reverted the different auth state in same file
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Add chown before checkout in e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

Add formContext and add add-row and update-row feature in child table
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/dynamicFormDialog.tsx
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/components/form-view/context.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/components/form-view/utils.ts
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Fix empty parentfield when updating childtable
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/dynamicFormDialog.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/components/form-view/utils.ts
  next_pms/api/__init__.py
Due: eslint-react

changes from main
  .github/workflows/e2e-playwright-test.yml
Due: none

Fix stale data issue in child table dynamic-form
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/dynamicFormDialog.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Fix calendarIcon visibility for date-type input in dark theme
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
Due: eslint-react

Remove explicit permissions from fieldConfig
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

refractor: removed unwanted awaits and included logs if api status is anything other than 2xx
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Update Project doctype layout
  next_pms/fixtures/custom_field.json
Due: none

Make childTable header sticky
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
Due: eslint-react

Fix field dependency
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
Due: eslint-react

Add editor component to support textEditor fieldType
  frontend/package-lock.json
  frontend/package.json
  frontend/packages/app/src/app/components/form-view/components/editor.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  next_pms/api/__init__.py
Due: eslint-react

Fix linkField border style in dark:mode
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
Due: eslint-react

Fix dark:mode styles for editor select fields
  frontend/packages/app/src/app/components/form-view/components/dynamicFormDialog.tsx
  frontend/packages/app/src/app/components/form-view/components/editor.tsx
Due: eslint-react

Add deepObjectCheck before showing save button
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

fix: Convert profile report to prepared report
  next_pms/next_pms/report/profit_report/profit_report.json
Due: none

Remove underscore from project_size field
  next_pms/fixtures/custom_field.json
Due: none

Remove explicit permission from API response and add readOnly flags to child table and editor
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/editor.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  next_pms/api/__init__.py
  next_pms/fixtures/custom_field.json
Due: eslint-react

Replace project_get_list with frappe default API and remove get_doc
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
  next_pms/api/__init__.py
  next_pms/timesheet/api/project.py
Due: eslint-react

Replace addProject API to default frappe API
  frontend/packages/app/src/app/pages/project/components/addProject.tsx
  next_pms/timesheet/api/project.py
Due: eslint-react

Add Project field_order in property-setter
  next_pms/fixtures/property_setter.json
Due: none

Fix linting in property-setter
  next_pms/fixtures/property_setter.json
Due: none

removed log for a function
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Replace child_table_bulk_delete API with frappe default API
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  next_pms/api/__init__.py
Due: eslint-react

Remove Timesheet user docperm
  next_pms/fixtures/custom_docperm.json
Due: none

Remove get_naming_rule API
  frontend/packages/app/src/app/pages/project/components/addProject.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  next_pms/api/__init__.py
Due: eslint-react

refractor : Flatten array and correct the function to take normal string instead of object
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

updated message
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Done npm audits
  frontend/package-lock.json
Due: none

changes from main branch
  .github/workflows/e2e-playwright-test.yml
Due: none

Update timesheetHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update teamPage.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Update team.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Update employeeRequests.js
  tests/e2e/utils/api/employeeRequests.js
Due: eslint-js

Update taskRequests.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
