Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fixed lint issues
  tests/e2e/specs/manager/resourceManagement/project.spec.js
Due: eslint-js

fix lint issues
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/utils/api/resourceManagementRequests.js
Due: eslint-js

fix : copilot suggestions
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
Due: eslint-js

fix : TC49
  tests/e2e/data/manager/team.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : wait until rejected symbol is shown. Max wait of 30s
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix : updated cancel for workflow dispatch
  .github/workflows/e2e-playwright-test.yml
Due: none

reverted change
  .github/workflows/e2e-playwright-test.yml
Due: none

Change Currency Selector filter UI
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/pages/project/components/header.tsx
Due: eslint-react

sync dev to main for e2e folder
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/project.js
  tests/e2e/data/manager/team.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/resourceManagementRequests.js
Due: eslint-js

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

Add industry filter
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/project/utils.ts
  frontend/packages/app/src/store/project.ts
Due: eslint-react

Add custom_industry
  next_pms/fixtures/custom_field.json
Due: none

Conditional render industry field
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/user.ts
  frontend/packages/app/src/types/index.ts
  next_pms/fixtures/custom_field.json
  next_pms/timesheet/api/app.py
  next_pms/www/next-pms/index.py
Due: eslint-react

fix: Do no validate back-dated timesheets if re-calculating
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
  next_pms/project_currency/overrides/timesheet.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Set timezone to Asia/Kolkata in e2e workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

Add Project Status Update and Project Comments Doctype
  next_pms/next_pms/doctype/__init__.py
  next_pms/next_pms/doctype/project_comments/__init__.py
  next_pms/next_pms/doctype/project_comments/project_comments.json
  next_pms/next_pms/doctype/project_comments/project_comments.py
  next_pms/next_pms/doctype/project_status_updates/__init__.py
  next_pms/next_pms/doctype/project_status_updates/project_status_updates.js
  next_pms/next_pms/doctype/project_status_updates/project_status_updates.json
  next_pms/next_pms/doctype/project_status_updates/project_status_updates.py
  next_pms/next_pms/doctype/project_status_updates/test_project_status_updates.py
Due: eslint-js

Add Custom tab support in project tabs
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Update name for project status update
  next_pms/next_pms/doctype/project_status_update/__init__.py
  next_pms/next_pms/doctype/project_status_update/project_status_update.js
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
  next_pms/next_pms/doctype/project_status_update/project_status_update.py
  next_pms/next_pms/doctype/project_status_update/test_project_status_update.py
  next_pms/timesheet/api/project_status_update.py
Due: eslint-js

Add Comment component and project-update
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/design-system/src/components/comments/CommentForm.tsx
  frontend/packages/design-system/src/components/comments/CommentInput.tsx
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
  frontend/packages/design-system/src/components/comments/Comments.tsx
  frontend/packages/design-system/src/components/comments/CommentsList.tsx
  frontend/packages/design-system/src/components/comments/index.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/components/text-editor/mentions.css
Due: eslint-react

Update name to title in project status update doctype
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
Due: none

Add created_at and mofied_at fields in project comments childtable
  next_pms/next_pms/doctype/project_comments/project_comments.json
Due: none

Add Project Status Update APIs
  next_pms/timesheet/api/project_status_update.py
Due: none

Refactor code and Make Comment responsive and adjust styles for dark-mode
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/project/types.ts
  frontend/packages/app/src/app/pages/project/utils.ts
  frontend/packages/design-system/src/components/comments/CommentForm.tsx
  frontend/packages/design-system/src/components/comments/CommentInput.tsx
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
  frontend/packages/design-system/src/components/comments/Comments.tsx
  frontend/packages/design-system/src/components/comments/CommentsList.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/components/text-editor/mentions.css
  frontend/packages/design-system/src/components/text-editor/types.ts
Due: eslint-react

Debounce userFetch
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Add notify_mentions utility
  frontend/packages/design-system/src/components/text-editor/index.tsx
  next_pms/timesheet/api/project_status_update.py
Due: eslint-react

Hide resource page for contractor
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  next_pms/resource_management/api/utils/helpers.py
Due: eslint-react

fix: Remove access to project
  frontend/packages/app/src/app/components/add-time/index.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
  next_pms/timesheet/api/task.py
Due: eslint-react

fix: Publish event to session user
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Update status badge styles and handleSave logic
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
Due: eslint-react

Enqueue notify_mentions and add email when update is published
  next_pms/timesheet/api/project_status_update.py
Due: none

Fix mention blobs when editing comments
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
  frontend/packages/design-system/src/components/comments/Comments.tsx
  frontend/packages/design-system/src/components/comments/CommentsList.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Add Last Edited fields
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
Due: none

Integrate last edited fields in FE
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/project/types.ts
  next_pms/timesheet/api/project_status_update.py
Due: eslint-react

Add feature to control defaultTab via queryParams
  frontend/packages/app/src/app/components/form-view/index.tsx
Due: eslint-react

chore: Update useEffect's dependency
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

refactor: Add dev context for react app in development mode
  frontend/packages/app/src/main.tsx
  next_pms/www/next-pms/index.py
Due: eslint-react

fix: Restrict project and other part of the UI for contractor
  frontend/packages/app/src/app/components/add-time/index.tsx
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

fix: Restrict project for contractor
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/task.py
Due: none

fix: Add permission check on resource management
  next_pms/resource_management/api/utils/helpers.py
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
