Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

feat: add links in about
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/index.tsx
Due: eslint-react

extract components, fix gantt-bar touchpoints, rename files camelCase
  frontend/packages/app/src/pages/project-details/tabs/calendar/calendarGrid.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/eventPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/fake-data.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttBar.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttView.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
Due: eslint-react

chore: rename files
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberSummaryBar.tsx
Due: eslint-react

improve date key retrieval in groupByDate function
  frontend/packages/app/src/pages/project-details/tabs/calendar/calendarGrid.tsx
Due: eslint-react

fix: permissions for the doctypes
  next_pms/next_pms/doctype/risk_category/risk_category.json
  next_pms/next_pms/doctype/risk_level/risk_level.json
  next_pms/next_pms/doctype/risk_status/risk_status.json
  next_pms/next_pms/doctype/risk_update/risk_update.json
Due: none

feat: add project allocations project summary and member bar
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/crosshatchLayer.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getCapacityStatus.ts
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

chore: address reviews
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/crosshatchLayer.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getCapacityStatus.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

chore: update fake data
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
Due: eslint-react

refactor calendar components: extract utility functions and constants for better modularity
  frontend/packages/app/src/pages/project-details/tabs/calendar/calendarGrid.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttView.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/utils.ts
Due: eslint-react

fix border alignment
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttView.tsx
Due: eslint-react

fix text z-index
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttView.tsx
Due: eslint-react

fix: remove unwanted column
  next_pms/next_projects/api/project.py
Due: none

fix: add defensive checks to the endpoint
  next_pms/next_projects/api/project.py
Due: none

fix: wrap user facing string in translate
  next_pms/next_projects/api/project.py
Due: none

fix: use url helper instead of hardcoded url
  next_pms/next_projects/api/project.py
Due: none

add calendar tables for milestones and touchpoints with avatar stack
  frontend/packages/app/src/pages/project-details/tabs/calendar/avatarStack.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/milestonesTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/touchpointsTable.tsx
Due: eslint-react

modularize components and improve date handling
  frontend/packages/app/src/pages/project-details/tabs/calendar/milestonesTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/actionsCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/dateCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/ownerCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/titleCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/watchersCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/columns.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/touchpointsTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/utils.ts
Due: eslint-react

feat: integrate real data into project allocations
  frontend/packages/app/src/pages/allocations/constants.ts
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/context.ts
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/project/provider.tsx
  frontend/packages/app/src/pages/allocations/project/type.ts
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/project/utils.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/app/src/pages/allocations/types.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

chore: fix cache key
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
Due: eslint-react

implement create milestone and touchpoint modals with user lookup functionality
  frontend/packages/app/src/hooks/useUserLookup.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/types.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/types.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
Due: eslint-react

update dialog action styles
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/index.tsx
Due: eslint-react

fix useUserLookup hook
  frontend/packages/app/src/hooks/useUserLookup.ts
Due: eslint-react

feat: comment thread implementation (#1318)
  next_pms/next_pms/doctype/project_comments/project_comments.json
  next_pms/next_pms/doctype/project_comments/project_comments.py
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
  next_pms/next_pms/doctype/project_status_update/project_status_update.py
  next_pms/timesheet/api/project_status_update.py
Due: none

feat: risk and risk update doctype (#1306)
  next_pms/install.py
  next_pms/next_pms/doctype/risk/__init__.py
  next_pms/next_pms/doctype/risk/risk.js
  next_pms/next_pms/doctype/risk/risk.json
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/next_pms/doctype/risk/test_risk.py
  next_pms/next_pms/doctype/risk_category/__init__.py
  next_pms/next_pms/doctype/risk_category/risk_category.js
  next_pms/next_pms/doctype/risk_category/risk_category.json
  next_pms/next_pms/doctype/risk_category/risk_category.py
  next_pms/next_pms/doctype/risk_category/test_risk_category.py
  next_pms/next_pms/doctype/risk_level/__init__.py
  next_pms/next_pms/doctype/risk_level/risk_level.js
  next_pms/next_pms/doctype/risk_level/risk_level.json
  next_pms/next_pms/doctype/risk_level/risk_level.py
  next_pms/next_pms/doctype/risk_level/test_risk_level.py
  next_pms/next_pms/doctype/risk_status/__init__.py
  next_pms/next_pms/doctype/risk_status/risk_status.js
  next_pms/next_pms/doctype/risk_status/risk_status.json
  next_pms/next_pms/doctype/risk_status/risk_status.py
  next_pms/next_pms/doctype/risk_status/test_risk_status.py
  next_pms/next_pms/doctype/risk_update/__init__.py
  next_pms/next_pms/doctype/risk_update/risk_update.json
  next_pms/next_pms/doctype/risk_update/risk_update.py
  next_pms/next_projects/patches/create_default_risk_masters.py
  next_pms/patches.txt
Due: eslint-js

feat: project allocations drag and resize
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

feat: quick add project allocations and draft bar
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

chore: fix stale allocation bars
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
Due: eslint-react

enhance project timeline features with completion tracking and user interactions
  frontend/packages/app/src/hooks/useThrottledCallback.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/eventPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttBar.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttView.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/milestonesTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/actionsCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/touchpointsTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/useProjectTimelineItems.ts
Due: eslint-react

chore: disable capacity labels for member allocations
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

feat: replace working hours constant with API call
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

enhance project timeline item fetching with monthly filtering
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/useProjectTimelineItems.ts
Due: eslint-react

fix: changes required to resolve merge conflict for v15 to v16
  next_pms/api/__init__.py
  next_pms/fixtures/custom_field.json
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/doctype/pms_view_setting/pms_view_setting.py
Due: none

chore: add fallback working hours
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

fix: cells
  frontend/packages/app/src/pages/projects/list/cells/currencyCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/percentCell.tsx
  frontend/packages/app/src/pages/projects/list/columns.ts
Due: eslint-react

fix: update type and marketing data
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/types.ts
Due: eslint-react

remove fake data
  frontend/packages/app/src/pages/project-details/tabs/calendar/fake-data.ts
Due: eslint-react

feat: edit project timeline item api endpoint
  next_pms/next_projects/api/project_timeline_item.py
Due: none
