Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

chore: Remove whitelist wrapper from internal method which was initial marking it as API
  next_pms/timesheet/api/team.py
Due: none

feat: add PMS user setting doctype
  next_pms/next_pms/doctype/pms_user_setting/__init__.py
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.js
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.json
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
  next_pms/next_pms/doctype/pms_user_setting/test_pms_user_setting.py
Due: eslint-js

chore: only fetch designation options when allowed
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
Due: eslint-react

fix(security): enforce employee scoping on Timesheet via permission query conditions (Issue 6)
  next_pms/hooks.py
  next_pms/timesheet/permissions.py
Due: none

fix(tests): import error in tests
  next_pms/tests/resource_management/api/test_team.py
  next_pms/timesheet/api/employee.py
Due: none

fix(tests): add timesheet settings setup in tests and remove unneceesary test
  next_pms/tests/timesheet/api/test_team.py
Due: none

chore: Bump app version to 2.4.0
  next_pms/__init__.py
Due: none

fix: add validate() call before save() in timesheet recalc
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
  next_pms/tests/test_project_costing.py
Due: none

fix: remove redundant tailwind import
  frontend/packages/app/src/global.css
Due: none

fix(security): enforce project and customer scoping on get_project_feedback_breakdown (Issue 8)
  next_pms/next_projects/api/feedback.py
Due: none

fix(security): enforce project and customer scoping on get_team_feedback_breakdown (Issue 9)
  next_pms/next_projects/api/feedback.py
Due: none

fix: recalculate timesheet billing only updates project
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
  next_pms/tests/test_project_costing.py
Due: none

feat: move task and project costing to a background queue (#2105)
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
  next_pms/project_currency/background_jobs/project_costing.py
  next_pms/project_currency/overrides/timesheet.py
  next_pms/tests/test_project_costing.py
Due: none

chore: fix login redirect
  frontend/packages/app/src/providers/user/index.ts
  frontend/packages/app/src/providers/user/provider.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

fix: scheme regex in safeExternalUrl
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix(security): enforce project permission checks on feedback APIs (Issues 8, 9, 10)
  next_pms/next_projects/api/feedback.py
Due: none

feat: add PMS user settings APIs
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.json
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
Due: none

fix: copilot issues
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.json
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
Due: none

feat: add settings modal, PMSSettings hook
  frontend/packages/app/src/components/settings/constants.tsx
  frontend/packages/app/src/components/settings/index.tsx
  frontend/packages/app/src/components/settings/pages/profile.tsx
  frontend/packages/app/src/components/settings/pages/timesheets.tsx
  frontend/packages/app/src/components/settings/types.ts
  frontend/packages/app/src/hooks/usePMSSettings.ts
  frontend/packages/app/src/layout/sidebar/index.tsx
Due: eslint-react

feat: add error toast
  frontend/packages/app/src/components/settings/index.tsx
  frontend/packages/app/src/hooks/usePMSSettings.ts
Due: eslint-react

feat: add system default weeks field for timesheet expand
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.json
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
Due: none

feat: add system settings for default expanded weeks and include in PMS user API
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.py
Due: none

feat: wire expanded weeks in settings modal and timesheets page
  frontend/packages/app/src/components/settings/index.tsx
  frontend/packages/app/src/components/settings/pages/timesheets.tsx
  frontend/packages/app/src/components/settings/types.ts
  frontend/packages/app/src/hooks/useDefaultExpandedWeeks.ts
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

fix(security): enforce project read and write permissions on timeline items (Issues 11, 12, 13)
  next_pms/next_projects/api/project_timeline_item.py
Due: none

fix: copilot issues
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.json
Due: none

fix(security): enforce project write permission on billing recalculation (Issue 15)
  next_pms/project_currency/api/project_timesheet_billing_recalculation.py
Due: none

test: add tests for pms user settings
  next_pms/next_pms/doctype/pms_user_setting/pms_user_setting.py
  next_pms/next_pms/doctype/pms_user_setting/test_pms_user_setting.py
Due: none

test: fix failing test
  next_pms/next_pms/doctype/pms_user_setting/test_pms_user_setting.py
Due: none

fix(security): enforce project write permission and employee scoping on resource allocations (Issue 16)
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/api/utils/helpers.py
Due: none

fix: copilot issues
  frontend/packages/app/src/components/settings/constants.ts
  frontend/packages/app/src/components/settings/index.tsx
  frontend/packages/app/src/components/settings/pages/profile.tsx
  frontend/packages/app/src/components/settings/pages/timesheets.tsx
  frontend/packages/app/src/components/settings/types.ts
Due: eslint-react

fix(security): restrict compensation fields and cross-employee leave queries (Issues 17, 18)
  next_pms/resource_management/api/team.py
Due: none

fix: N+1 in project threshold reminder
  next_pms/install.py
  next_pms/patches.txt
  next_pms/project_currency/patches/project_threshold_limit_reminder_email_template.py
  next_pms/project_currency/tasks/reminde_project_threshold.py
  next_pms/templates/project_currency/project_threshold_reminder.html
  next_pms/tests/project_currency/__init__.py
  next_pms/tests/project_currency/test_project_threshold_reminder.py
Due: none

fix: edit the template if already present in the site
  next_pms/install.py
Due: none

fix: tests location to match convention, patch newline to match convention
  next_pms/patches.txt
  next_pms/project_currency/patches/setup_project_threshold_reminder_template.py
  next_pms/tests/project_currency/tasks/__init__.py
  next_pms/tests/project_currency/tasks/test_reminde_project_threshold.py
Due: none

chore: remove dead file
  next_pms/project_currency/patches/project_threshold_limit_reminder_email_template.py
Due: none

fix(security): restrict get_employee_with_role to allowed approver roles (Issue 20)
  next_pms/timesheet/api/__init__.py
Due: none

chore: fix Projects Manager role permissions
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

feat(projects): split project profit into current and projected
  next_pms/next_projects/api/project.py
Due: none

fix: remove trailing underscore from custom_account_manager in MANAGER_FIELDS
  next_pms/next_projects/patches/share_projects_with_managers.py
Due: none

test(projects): cover current vs projected profit in tracking
  next_pms/tests/next_projects/api/test_project.py
Due: none
