Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix : removed unwanted artifacts
  .github/workflows/e2e-playwright-test.yml
Due: none

refactor: Add employee status filter in reports related to employees
  next_pms/resource_management/report/employee_billability/employee_billability.js
  next_pms/resource_management/report/employee_billability/employee_billability.py
  next_pms/resource_management/report/over_capacity/over_capacity.js
  next_pms/resource_management/report/over_capacity/over_capacity.py
Due: eslint-js

fix: Resolve issue with socketio not being connected
  frontend/.env.sample
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/lib/utils.ts
  frontend/vite.config.ts
Due: eslint-react

feat: Show version update toast
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/app/components/versionUpdate.tsx
  frontend/packages/app/src/providers/frappe/index.tsx
  frontend/packages/design-system/src/components/toast/hooks.ts
  frontend/packages/hooks/src/index.ts
  frontend/packages/hooks/src/useFrappeVersionUpdate.ts
Due: eslint-react

updated env variable naming style
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix : lint issues
  package.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/playwright.config.js
Due: eslint-js

fix : lint issues
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : removed logs and attachments from mail
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Add hideToolbar prop for editor preview mode
  frontend/packages/app/src/app/components/timesheet-table/components/dataCell.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Remove border and resize for text-editor preview
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

fix: Do not show employee in report if data does not exists
  next_pms/next_pms/report/profit_report/profit_report.py
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/resource_management/report/employee_billability/employee_billability.py
  next_pms/resource_management/report/over_capacity/over_capacity.py
Due: none

chore: Use not equal operator rather then list checking
  next_pms/next_pms/report/profit_report/profit_report.py
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/resource_management/report/employee_billability/employee_billability.py
  next_pms/resource_management/report/over_capacity/over_capacity.py
Due: none

commit : locator for description
  tests/e2e/pageObjects/timesheetPage.js
Due: eslint-js

fix : merge conflicts
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : concurrent workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : indentation
  .github/workflows/e2e-playwright-test.yml
Due: none

Workflow: e2e: Fix deployment branch and repo mismatch
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: test failures for new description box
  tests/e2e/data/manager/team.json
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

fix:removed node path
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : cache dependency path
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Update styling of text editor and override past event
  frontend/packages/app/src/app/components/timesheet-table/components/dataCell.tsx
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/design-system/src/components/text-editor/clipboard.ts
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/components/toast/index.tsx
Due: eslint-react

fix : changed node versions
  .github/workflows/e2e-playwright-test.yml
Due: none

refactor : changed the position of node setup
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : separate step for caching npm modules
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : change npm path
  .github/workflows/e2e-playwright-test.yml
Due: none

Migrate project custom fields to rtCRM
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
Due: none

Add next-pms field-order
  next_pms/fixtures/property_setter.json
Due: none

Fix indentation
  next_pms/fixtures/property_setter.json
Due: none

Remove project field-order property setter
  next_pms/fixtures/property_setter.json
Due: none

Update team.json
  tests/e2e/data/manager/team.json
Due: none

Update globalSetup.js
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update employeeHelper.js
  tests/e2e/helpers/employeeHelper.js
Due: eslint-js

Update storageStateHelper.js
  tests/e2e/helpers/storageStateHelper.js
Due: eslint-js

Create teamTabHelper.js
  tests/e2e/helpers/teamTabHelper.js
Due: eslint-js

Update timesheetHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update teamPage.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Update team.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Update employeeRequests.js
  tests/e2e/utils/api/employeeRequests.js
Due: eslint-js

Update timesheetRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Update dateUtils.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
