Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Workflow: Add Build Test workflow
  .github/workflows/build-test.yml
Due: none

TC87, 88,89,90
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

Add accordion to section titles and fix section borders
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/global.css
Due: eslint-react

changes from old branch
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/erpNextRequests.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

lint issues
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

new lint issues solved
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

fix: Consider internal working history for employee billability report
  next_pms/resource_management/report/employee_billability/employee_billability.py
Due: none

Add hideFields props in the formView component
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

fix: Convet date to string for db query
  next_pms/resource_management/report/employee_billability/employee_billability.py
Due: none

Remove unnecessary memoized states
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
Due: eslint-react

Reduce the props size in the resource team page single cell
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
Due: eslint-react

April 14 : test for orphan test data
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/frappeRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Add fieldConfig prop to handle field properties
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Add readOnly logic to fieldConfig
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Fix checkbox label accessibility
  frontend/packages/app/src/app/components/form-view/renderField.tsx
Due: eslint-react

feat: Add profit report for each employee
  next_pms/next_pms/report/profit_report/__init__.py
  next_pms/next_pms/report/profit_report/profit_report.js
  next_pms/next_pms/report/profit_report/profit_report.json
  next_pms/next_pms/report/profit_report/profit_report.py
Due: eslint-js

refacto: Add employee specific utils methods
  next_pms/resource_management/api/utils/query.py
  next_pms/utils/employee.py
Due: none

All fields are shown irrespective of their value
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

refactor: Use utils method instead of defining
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/resource_management/report/employee_billability/employee_billability.py
Due: none

fix: Resolve department filter not working
  next_pms/next_pms/report/profit_report/profit_report.py
Due: none

fix: Flush cache if user sends approval request
  next_pms/timesheet/api/timesheet.py
Due: none

Add project-detail fields
  next_pms/fixtures/custom_docperm.json
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
  next_pms/hooks.py
Due: none

Add link fieldtype in response
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  next_pms/api/__init__.py
Due: eslint-react

Add linkField component
  frontend/packages/app/src/app/components/form-view/linkField.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
Due: eslint-react

Update linkField to fetch user's full name and optimise page for dark-mode
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/linkField.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Refactor form-view
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
Due: eslint-react

try running on self hosted and included data for TC24
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/data/manager/task.json
Due: none

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

chore: Update methods name
  next_pms/next_pms/report/profit_report/profit_report.py
Due: none

lint issues
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/frappeRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Add ChildTable fieldtype/component support
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  next_pms/api/__init__.py
Due: eslint-react

Make formView layout generic by removing two-column layout constraint
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
Due: eslint-react

Add Shift-Click Multi-Select feature in childTable
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
Due: eslint-react

Update the employee doc event to use the correct cache clear function
  next_pms/timesheet/doc_events/employee.py
Due: none

changes for TC24
  tests/e2e/data/manager/task.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Add childTable bulk-Delete API and update UI to support row-deletion
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  next_pms/api/__init__.py
Due: eslint-react

Avoid deleting empty name rows
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
Due: eslint-react

TC22
  tests/e2e/data/manager/task.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

timeout to handle flaky test
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Add linkField type row in child table
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
Due: eslint-react
