Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

feat: add rtcamp app to ci
  .github/workflows/unit-tests.yml
Due: none

feat: add helpdesk
  .github/workflows/unit-tests.yml
Due: none

chore: ignore team timesheet benchmark artifacts
  .gitignore
Due: none

refactor(timesheet): extract shared team employee scope resolver
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
Due: none

perf(timesheet): batch employee holiday list resolution
  next_pms/timesheet/api/utils.py
Due: none

feat(timesheet): split team timesheet into week and member endpoints
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

perf(timesheet): add indexes for team timesheet queries
  next_pms/patches.txt
  next_pms/timesheet/patches/add_team_timesheet_indexes.py
Due: none

fix(timesheet): publish member week payload on timesheet_info
  next_pms/timesheet/doc_events/timesheet.py
Due: none

refactor(timesheet): remove superseded team timesheet pagination scan
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
Due: none

test(timesheet): cover split team timesheet endpoints
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
Due: none

fix(timesheet): make team timesheet search match member names
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
Due: none

feat: refactor team timesheet data fetching
  frontend/packages/app/src/components/timesheet-row/components/row/types.ts
  frontend/packages/app/src/components/timesheet-row/components/row/weekRow.tsx
  frontend/packages/app/src/components/timesheet-row/teamTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/team/constants.ts
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
  frontend/packages/app/src/pages/timesheet/team/types.ts
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetWeeks.ts
  frontend/packages/app/src/pages/timesheet/team/useTeamWeekMembers.ts
  next_pms/timesheet/api/utils.py
Due: eslint-react

chore: scroll to top when filter changes
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

fix(timesheet): return members without a timesheet for the Not Submitted filter
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

test(timesheet): port team timesheet tests to the split endpoint contract
  next_pms/tests/resource_management/api/test_leave_includes_holidays.py
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
Due: none

chore: fix layout shift caused when week is collapsed
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
Due: eslint-react

feat: add double infinte scroll to team timesheet
  frontend/packages/app/src/components/infiniteScroll.tsx
  frontend/packages/app/src/components/scrollRoot.ts
  frontend/packages/app/src/components/timesheet-row/components/row/types.ts
  frontend/packages/app/src/components/timesheet-row/components/row/weekRow.tsx
  frontend/packages/app/src/components/timesheet-row/teamTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
Due: eslint-react

chore: prevent page from jumping when open week is collapsed
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
Due: eslint-react

fix: scope has_more_weeks to the caller's team
  next_pms/tests/timesheet/api/test_team_timesheet_data.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

chore: move scroll anchor logic to comman week component
  frontend/packages/app/src/components/timesheet-row/components/row/weekRow.tsx
  frontend/packages/app/src/components/timesheet-row/personalTimesheetRow.tsx
  frontend/packages/app/src/components/timesheet-row/projectTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
Due: eslint-react

chore: skip semgrep error
  next_pms/hooks.py
Due: none

fix: permission issues, add apps
  .github/workflows/gitleaks.yml
  .github/workflows/semantic-commits.yml
  .github/workflows/unit-tests.yml
Due: none

fix: use set_query for Client POC link filter (v16 compat)
  next_pms/fixtures/custom_field.json
  next_pms/public/js/project.js
Due: eslint-js

fix: add crm
  .github/workflows/unit-tests.yml
Due: none

fix: add missing apps not mentioned in deps
  .github/workflows/unit-tests.yml
Due: none

chore: address reviews
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
Due: eslint-react

fix: ci
  .github/workflows/unit-tests.yml
Due: none

feat: add uv cache
  .github/workflows/unit-tests.yml
Due: none

feat: add mentions
  frontend/package-lock.json
  frontend/package.json
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/feedbackDetailBody.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/comments.tsx
  frontend/packages/design-system/src/components/comments/commentInput.tsx
  frontend/packages/design-system/src/components/comments/index.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  package.json
Due: eslint-react

fix: return empty filter when customer is not set on project
  next_pms/public/js/project.js
Due: eslint-js

feat: notes template category and description
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.json
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.py
  next_pms/next_pms/doctype/project_status_update_template_category/__init__.py
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.js
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.json
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.py
  next_pms/next_pms/doctype/project_status_update_template_category/test_project_status_update_template_category.py
Due: eslint-js

feat: tests
  next_pms/next_pms/doctype/project_status_update_template_category/test_project_status_update_template_category.py
Due: none

fix: perms and ci
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.json
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.py
Due: none

feat: allow task list toggling in notes detail tab
  frontend/packages/app/src/pages/project-details/tabs/notes/context.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/provider.tsx
Due: eslint-react

feat: add currency combobox to switch currency in the projects page
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/components/project-filters/useProjectFilters.ts
  frontend/packages/app/src/pages/projects/list/provider.tsx
  frontend/packages/app/src/pages/projects/types.ts
Due: eslint-react

feat(allocations): add No allocation filter to the team view
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/tests/resource_management/api/test_team.py
Due: eslint-react

fix: include currency in filter count
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
Due: eslint-react

chore: add generic update note function
  frontend/packages/app/src/pages/project-details/tabs/notes/context.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/types.ts
Due: eslint-react

fix: filter type for status
  frontend/packages/app/src/pages/project-details/tabs/tracking/index.tsx
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
