Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Implemented authentication to avoid repeated login.
  .gitignore
  tests/e2e/auth/user.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/loginHelper.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/timesheet.spec.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Removed auth file.
  tests/e2e/auth/user.json
Due: none

Added auth file in .gitignore.
  .gitignore
Due: none

fix: eslint-js
  .pre-commit-config.yaml
Due: none

fix: eslint-js
  .pre-commit-config.yaml
  package.json
Due: none

fix: lint:precommit script
  package.json
Due: none

fix: eslint-js lint
  .eslint.config.cjs
  .eslintrc
  package-lock.json
  package.json
Due: none

fix: eslint-js lint
  .eslint.config.cjs
  .eslintrc
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: none

fix: package.json
  package-lock.json
  package.json
Due: none

Fixed linting.
  tests/e2e/pages/timesheetPage.js
  tests/e2e/specs/manager/timesheet.spec.js
Due: eslint-js

Added test case for an employee.
  tests/e2e/pages/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Added comments.
  tests/e2e/pages/timesheetPage.js
Due: eslint-js

Fixed false failure in TC2.
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Add form dialog base component with UI render
  frontend/packages/app/src/app/components/form-dialog/components/button.tsx
  frontend/packages/app/src/app/components/form-dialog/components/field.tsx
  frontend/packages/app/src/app/components/form-dialog/components/fieldGroup.tsx
  frontend/packages/app/src/app/components/form-dialog/components/index.ts
  frontend/packages/app/src/app/components/form-dialog/components/type.ts
  frontend/packages/app/src/app/components/form-dialog/formDialog.tsx
  frontend/packages/app/src/app/components/form-dialog/index.ts
  frontend/packages/app/src/app/components/form-dialog/type.ts
  frontend/packages/app/src/app/pages/task/components/addTask.tsx
Due: eslint-react

Automated 3 employee test cases.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pages/loginPage.js
  tests/e2e/pages/teamPage.js
  tests/e2e/pages/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Automated 1 employee test case.
  tests/e2e/helpers/loginHelper.js
  tests/e2e/pageObjects/loginPage.js
  tests/e2e/pageObjects/sidebar.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Replace AddTask component code with FormDialog
  frontend/packages/app/src/app/components/form-dialog/components/button.tsx
  frontend/packages/app/src/app/components/form-dialog/formDialog.tsx
  frontend/packages/app/src/app/components/form-dialog/type.ts
  frontend/packages/app/src/app/pages/task/components/addTask.tsx
Due: eslint-react

Removed dynamic fields from static test data.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Automated 1 employee test case.
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Added timesheet-related methods in team page object page.
  tests/e2e/pageObjects/loginPage.js
  tests/e2e/pageObjects/sidebar.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
Due: eslint-js

Automated 2 manager test cases.
  tests/e2e/data/manager/team.json
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Stored authentication state for manager role.
  .gitignore
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Update the README of resource management package
  frontend/packages/resource-management/README.md
Due: none

Move EmptyTableCell to resource management
  frontend/packages/app/src/app/pages/resource_management/components/empty.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/resource-management/src/components/index.ts
  frontend/packages/resource-management/src/components/table/tableCell.tsx
  frontend/packages/resource-management/src/components/table/types.ts
Due: eslint-react

Update import paths, add third-party dependency in package.json of resource management
  frontend/package-lock.json
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/group.tsx
  frontend/packages/resource-management/package.json
  frontend/packages/resource-management/src/components/index.ts
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/components/table/tableRow.tsx
  frontend/packages/resource-management/src/utils/helper.ts
  package-lock.json
Due: eslint-react

Automated 1 manager test case.
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Remove the unused code
  frontend/packages/app/src/app/pages/resource_management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/types.ts
  frontend/packages/app/src/app/pages/resource_management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/utils/group.ts
Due: eslint-react

Integrated leave APIs.
  tests/e2e/utils/api/leaveRequests.js
Due: eslint-js

WIP: Creating Leave helpers for TC73.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Fixed ESLint failures.
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix: Resolve invalid components.json & update deps
  frontend/package-lock.json
  frontend/package.json
  frontend/packages/app/package.json
  frontend/packages/design-system/components.json
  frontend/packages/design-system/package.json
  frontend/packages/design-system/tsconfig.json
  frontend/packages/hooks/package.json
Due: none

chore: npm audit
  frontend/package-lock.json
Due: none

Add project-detail page and route
  frontend/packages/app/src/app/pages/project/columns.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/route.tsx
Due: eslint-react

Remove the redundant script from resource management package
  frontend/packages/resource-management/package.json
Due: none

Updated Test Case IDs.
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Automated employee test case.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/leaveRequests.js
Due: eslint-js

Automated 2 manager test cases.
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Add get_project_details API and tab component
  frontend/packages/app/src/app/pages/project/project-detail/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/tabs.tsx
  next_pms/timesheet/api/project.py
Due: eslint-react

Replace local sidebar-collapse state to global user context state
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/store/user.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
