Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

fix: keep holiday hours out of the weekly total
  frontend/packages/app/src/components/timesheet-row/components/row/timeOffRow.tsx
  frontend/packages/app/src/components/timesheet-row/utils.ts
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

feat: time report frequency option in project
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/types.ts
  next_pms/install.py
  next_pms/next_pms/doctype/project_time_report_frequency/__init__.py
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.js
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.json
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.py
  next_pms/next_pms/doctype/project_time_report_frequency/test_project_time_report_frequency.py
  next_pms/next_pms/patches/setup_time_report_frequency.py
  next_pms/patches.txt
Due: eslint-react, eslint-js

feat: tests and none in option
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  next_pms/next_pms/doctype/project_time_report_frequency/test_project_time_report_frequency.py
Due: eslint-react

chore: update ci to include the new app
  .github/workflows/unit-tests.yml
Due: none

chore: fix test condition to use name instead of __newname
  next_pms/next_pms/doctype/project_time_report_frequency/test_project_time_report_frequency.py
Due: none

fix: swr
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
Due: eslint-react

feat: time report frequency option in project (#2009)
  .github/workflows/unit-tests.yml
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/types.ts
  next_pms/install.py
  next_pms/next_pms/doctype/project_time_report_frequency/__init__.py
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.js
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.json
  next_pms/next_pms/doctype/project_time_report_frequency/project_time_report_frequency.py
  next_pms/next_pms/doctype/project_time_report_frequency/test_project_time_report_frequency.py
  next_pms/next_pms/patches/setup_time_report_frequency.py
  next_pms/patches.txt
Due: eslint-react, eslint-js

feat(timesheet): split project timesheet into dual API with realtime
  .gitignore
  next_pms/tests/timesheet/api/test_project_timesheet_data.py
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/doc_events/timesheet.py
  next_pms/timesheet/utils/constant.py
Due: none

docs: readme images
  README.md
Due: none

fix: readme link issue + remove title
  README.md
Due: none

docs: writeup in readme
  README.md
Due: none

chore: update to version 2.0.2
  next_pms/__init__.py
Due: none

docs: updated the pre-reqs and the feature text
  README.md
Due: none

docs: the feature text
  README.md
Due: none

fix: move images to public/ instead of gh url
  README.md
  featured-image.png
  next_pms/public/readme/leadership-dashboard.png
  next_pms/public/readme/personal-timesheet.png
  next_pms/public/readme/project-calendar.png
  next_pms/public/readme/project-email.png
  next_pms/public/readme/project-overview.png
  next_pms/public/readme/project-timesheets.png
  next_pms/public/readme/project-tracking.png
  next_pms/public/readme/team-allocations.png
  next_pms/public/readme/team-timesheets.png
Due: none

fix: code review fixes - consistent spacing, alt texts, standardized naming
  README.md
Due: none

fix: reverse subject and project order on add task form
  frontend/packages/app/src/pages/tasks/components/add-task/index.tsx
Due: eslint-react

fix: timesheet daily rejection reason propagated to new (day, project) timesheet pair
  next_pms/tests/timesheet/api/test_timesheet_rejection_reason.py
  next_pms/timesheet/api/utils.py
Due: none

docs: readme (#2014)
  README.md
  featured-image.png
  next_pms/public/readme/leadership-dashboard.png
  next_pms/public/readme/personal-timesheet.png
  next_pms/public/readme/project-calendar.png
  next_pms/public/readme/project-email.png
  next_pms/public/readme/project-overview.png
  next_pms/public/readme/project-timesheets.png
  next_pms/public/readme/project-tracking.png
  next_pms/public/readme/team-allocations.png
  next_pms/public/readme/team-timesheets.png
Due: none

chore: version bump to 2.1.0
  next_pms/__init__.py
Due: none

fix(resource-management): honour day overrides in team and project views
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
Due: none

feat(resource-allocation): skip leave and holiday days
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/api/utils/leave_sync.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/resource_management/doctype/resource_allocation_extra_entry/resource_allocation_extra_entry.json
  next_pms/tests/next_projects/api/test_project.py
  next_pms/tests/resource_management/api/test_project_view.py
  next_pms/tests/utils.py
Due: none

feat(resource-allocation): recalculate allocations when leave changes
  next_pms/hooks.py
  next_pms/resource_management/doc_events/leave_application.py
Due: none

test(resource-allocation): cover leave-aware allocation
  next_pms/tests/resource_management/api/test_allocation.py
Due: none

chore: fix filter label getting clipped
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
Due: eslint-react

chore: align label casing and naming
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/costBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/knowledgePoint.tsx
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
Due: eslint-react

fix: redirect unknown project detail tab param
  frontend/packages/app/src/pages/project-details/index.tsx
Due: eslint-react

feat: add support for project note template creation
  frontend/packages/app/src/hooks/useNoteTemplateCategoryLookup.ts
  frontend/packages/app/src/hooks/useNoteTemplateLookup.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/subHeader.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
Due: eslint-react

chore: docstring cleanup
  next_pms/resource_management/api/utils/helpers.py
  next_pms/resource_management/api/utils/leave_sync.py
Due: none

chore: remove unnecessary API call
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
Due: eslint-react

test(resource-allocation): own the customer fixture
  next_pms/tests/resource_management/api/test_allocation.py
Due: none

chore: address reviews
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
Due: eslint-react

chore: fix casing
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
Due: eslint-react

feat: add disallowAfter to report duration input
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
Due: eslint-react

fix: increase width of input fields
  frontend/packages/app/src/pages/project-details/tabs/overview/components/editableField.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/specifics.tsx
Due: eslint-react

Run Copilot code review on GitHub-hosted runners
  .github/workflows/copilot-code-review.yml
Due: none

feat(resource-allocation): report leave and holidays in the project view
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/leave_calendar.py
  next_pms/tests/resource_management/api/test_project.py
Due: none
