Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Add Processing Timesheet Status
  frontend/packages/app/src/app/components/timesheet-table/components/submitButton.tsx
  frontend/packages/app/src/app/pages/team/components/statusIndicator.tsx
  next_pms/fixtures/custom_field.json
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/utils.py
Due: eslint-react

Added tests for TC112 and TC113
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Fixed TC113
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Updated test case name to avoid conflict
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Fix status icon and use db.set_value to update status
  frontend/packages/app/src/app/components/timesheet-table/components/submitButton.tsx
  frontend/packages/app/src/app/pages/team/components/statusIndicator.tsx
  next_pms/timesheet/api/team.py
Due: eslint-react

Make Sidebar a generalized component
  frontend/packages/app/src/app/components/sidebar.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/sidebar.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/tags.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Make Tags a generalized component
  frontend/packages/app/src/app/components/tags.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/sidebar.tsx
Due: eslint-react

Update timestamp
  next_pms/fixtures/custom_field.json
Due: none

Fix child table delete msg and avoid sending approval when status is Processing timesheet
  frontend/packages/app/src/app/components/form-view/components/childTable.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/submitButton.tsx
  next_pms/timesheet/api/team.py
Due: eslint-react

Updated test name
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

all passed.
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix : updated TC3 from Thu to Fri
  tests/e2e/data/employee/timesheet.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix : remove .only and lint issues
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/project.spec.js
Due: eslint-js

Fix tag overflow isue in project-page
  frontend/packages/app/src/app/pages/project/components/columns.tsx
Due: eslint-react

Add cellref to last row to fix vertical scroll
  frontend/packages/app/src/app/pages/project/index.tsx
Due: eslint-react

Added readme file for visual regression tests
  tests/visualAutomation/README.md
Due: none

Fix tag layout
  frontend/packages/app/src/app/components/tags.tsx
  frontend/packages/app/src/app/pages/project/components/columns.tsx
Due: eslint-react

Update currencyFormat utility for better currency format
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Remove ring-offset from currency input
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
Due: eslint-react

fix : resource allocation errros
  tests/e2e/data/manager/team.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix : lint issues
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

sync changes from develop
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/project.js
  tests/e2e/data/manager/team.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Added resource management > team tests
  tests/e2e/data/manager/team.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

test : completed 5 test cases related to RM: project tab
  tests/e2e/data/manager/project.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/utils/api/resourceManagementRequests.js
Due: eslint-js

Fixed failing tests and updated allure report title
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Fixed linter issues
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Removed unused variables
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix: Update badge colors to match the UI
  frontend/packages/app/src/app/components/list-view/dataCell.tsx
  frontend/packages/app/src/app/pages/project/components/columns.tsx
  frontend/packages/app/src/app/pages/task/components/columns.tsx
  frontend/packages/app/src/app/pages/task/components/taskPriority.tsx
Due: eslint-react

refactor: Update get task method to priotize recent worked on task in top of the list while making time entry
  .pre-commit-config.yaml
  frontend/packages/app/src/app/components/add-time/index.tsx
  next_pms/timesheet/api/task.py
Due: eslint-react

chore: Resolve linting issue
  frontend/packages/app/src/app/components/list-view/dataCell.tsx
Due: eslint-react

Updated TC60 with comments on PR
  tests/e2e/data/manager/team.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix : timesheet creation
  tests/e2e/data/manager/team.js
Due: eslint-js

tests : tc74 and 77.
  tests/e2e/data/manager/project.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Updated TC60 to check allocation v/s planned hours
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Fixed failing test for incorrect date format and fixed TC108 for skipping allocation deletion
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Added values from data file
  tests/e2e/data/manager/team.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Fixed linter issues
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

tests: all working tests verified on local
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/project.js
  tests/e2e/data/manager/team.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : all tests passed after dev branch merge
  tests/e2e/data/manager/team.js
  tests/e2e/pageObjects/resourceManagement/team.js
Due: eslint-js

fix : included toast notification expect to solve CI issue
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
