Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

chore: strip tags from holiday description
  frontend/packages/app/src/components/timesheet-row/components/row/timeOffRow.tsx
Due: eslint-react

feat: sort time entries in approval modal
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/types.ts
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/utils.ts
Due: eslint-react

fix text overflow from badge
  frontend/packages/app/src/components/taskBadges.tsx
Due: eslint-react

fix: task status icon in weekly approval
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/utils.ts
Due: eslint-react

fix date formatting for task entry
  frontend/packages/app/src/components/task-log/components/taskEntryList.tsx
Due: eslint-react

feat: hide links in hovercards based on access
  frontend/packages/design-system/src/components/gantt-view/ganttMemberHoverCard.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectHoverCard.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

fix(customer): auto-disambiguate colliding custom_abbr (#1341)
  next_pms/resource_management/doc_events/customer.py
Due: none

fix(customer): address PR review feedback on abbr generation
  next_pms/public/js/customer.js
  next_pms/public/js/customer_quickentry.js
  next_pms/resource_management/doc_events/customer.py
  next_pms/tests/test_customer_abbr.py
Due: eslint-js

refactor(customer): move generate_unique_abbr to api/ and rename helpers
  next_pms/api/customer.py
  next_pms/public/js/customer.js
  next_pms/public/js/customer_quickentry.js
  next_pms/resource_management/doc_events/customer.py
  next_pms/tests/test_customer_abbr.py
Due: eslint-js

fix(customer): add type hints to whitelisted _generate_unique_abbr
  next_pms/resource_management/doc_events/customer.py
Due: none

feat: add a open in desk button
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/slackChannelField.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/useProjectReport.ts
Due: eslint-react

feat: add updateSlackChannel handler
  frontend/packages/app/src/pages/project-details/context.ts
  frontend/packages/app/src/pages/project-details/provider.tsx
Due: eslint-react

feat: add reports tab
  frontend/packages/app/src/hooks/useSlackChannelLookup.ts
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/reports/field.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/reportsTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/slackChannelField.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/types.ts
  next_pms/api/generate_pm_report.py
Due: eslint-react

fix: handle checkbox
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
Due: eslint-react

fix: remove extra spaces after bullet points in time entry descriptions
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

fix: guard against non existent custom field
  next_pms/api/dashboard.py
  next_pms/resource_management/api/utils/query.py
Due: none

feat: block overlapping allocation
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
Due: none

feat: add LinkLookup hook, FilterLinkValue component and wire Reporting Manager filter
  frontend/packages/app/src/components/filters/FilterLinkValue.tsx
  frontend/packages/app/src/hooks/useDoctypeLinkLookup.ts
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
Due: eslint-react

feat: wire customer to link fieldtype in allocations project page
  frontend/packages/app/src/pages/allocations/project/constants.ts
  frontend/packages/app/src/pages/allocations/project/subHeader.tsx
Due: eslint-react

chore: disable scrollbars on timesheet pages
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

fix: lint errors
  frontend/packages/app/src/pages/allocations/project/subHeader.tsx
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
Due: eslint-react

fix: lint issues
  frontend/packages/app/src/components/filters/FilterLinkValue.tsx
  frontend/packages/app/src/hooks/useDoctypeLinkLookup.ts
Due: eslint-react

fix: lint issues
  frontend/packages/app/src/hooks/useDoctypeLinkLookup.ts
Due: eslint-react

fix(allocations): reset search/duration/type when clearing all filters
  frontend/packages/app/src/pages/allocations/project/context.ts
  frontend/packages/app/src/pages/allocations/project/provider.tsx
  frontend/packages/app/src/pages/allocations/project/subHeader.tsx
  frontend/packages/app/src/pages/allocations/team/context.ts
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
Due: eslint-react

fix(timesheet): reset search/approval/reports-to when clearing all filters
  frontend/packages/app/src/pages/timesheet/hooks/useTimesheetFilters.ts
  frontend/packages/app/src/pages/timesheet/personal/context.ts
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/personal/provider.tsx
  frontend/packages/app/src/pages/timesheet/project/context.ts
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
Due: eslint-react

fix: add marker to budget burn bars
  frontend/packages/app/src/pages/project-details/about/components/budgetBurnBar.tsx
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/about/types.ts
  frontend/packages/app/src/pages/projects/list/cells/budgetProgressCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/design-system/src/components/budget-burn-bar/index.tsx
  frontend/packages/design-system/src/components/index.ts
  next_pms/next_projects/api/project.py
Due: eslint-react

fix: add tooltip in calendar view
  frontend/packages/app/src/pages/project-details/tabs/calendar/eventPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/ganttBar.tsx
Due: eslint-react

fix: use currency from projectdoc
  frontend/packages/app/src/pages/project-details/about/components/memberHoverCard.tsx
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/costBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/provider.tsx
Due: eslint-react

chore: update status cell
  frontend/packages/app/src/pages/project-details/tabs/reports/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/reports/reportsTable.tsx
Due: eslint-react

feat: reduce memory usage on allocation pages
  frontend/packages/app/src/components/infiniteScroll.tsx
  frontend/packages/app/src/components/types.ts
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/context.ts
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/project/provider.tsx
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/allocations/team/context.ts
  frontend/packages/app/src/pages/allocations/team/layout.tsx
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/hooks/src/usePagination.ts
Due: eslint-react

fix(allocations): remove cancelled/inactive project and disabled customers from the add allocation modal
  frontend/packages/app/src/hooks/useCustomerLookup.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
Due: eslint-react

feat: connect with api and add comments
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/comments.tsx
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/types.ts
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/useProjectRagDetails.ts
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/useRagComments.ts
Due: eslint-react

fix:spacing
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/rag-stats/index.tsx
Due: eslint-react

fix: add keyboard focus on edit icon for timesheet sidebar
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/entryRow.tsx
Due: eslint-react

chore: add boot variable for the new tab
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/types/index.ts
  next_pms/www/next-pms/index.py
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
