Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix(timesheet): surface Timesheet User approvers and test permissions
  next_pms/tests/next_projects/test_project_permissions.py
  next_pms/tests/timesheet/api/test_approver_details.py
  next_pms/timesheet/api/__init__.py
Due: none

chore: bump app version to 2.9.0
  next_pms/__init__.py
Due: none

fix: add permission for dm and sm for projects page
  next_pms/install.py
  next_pms/next_projects/patches/setup_project_permissions_for_managers.py
  next_pms/patches.txt
  next_pms/tests/timesheet/api/test_filter_employees.py
  next_pms/tests/timesheet/api/test_utils.py
  next_pms/timesheet/api/__init__.py
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/task.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

feat: add a customer field to add project modal
  frontend/packages/app/src/pages/projects/components/add-project/index.tsx
  frontend/packages/app/src/pages/projects/components/add-project/schema.ts
Due: eslint-react

chore: Do the currency conversion from timesheet to base currency
  next_pms/project_currency/overrides/timesheet.py
  next_pms/tests/project_currency/test_timesheet_base_rates.py
Due: none

fix(capacity-planning): coalesce a missing exchange rate to 0
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
  next_pms/tests/test_zero_exchange_rate.py
Due: none

fix(project-currency): store a zero billing rate instead of keeping the old one
  next_pms/project_currency/overrides/timesheet.py
  next_pms/tests/project_currency/test_timesheet_base_rates.py
Due: none

fix(allocations): let Delivery Managers manage regular allocations
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/resource_management/doctype/resource_allocation/test_resource_allocation.py
Due: none

chore: show error in project modal
  frontend/packages/app/src/pages/projects/components/add-project/index.tsx
Due: eslint-react

chore: address reviews
  tests/e2e/pageObjects/projectPage.js
Due: eslint-js

fix(growth): remount rich-text editors after edit prefill
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
Due: eslint-react

fix(growth): harden update-log rows, status master guards and load states
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listView.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.py
  next_pms/utils/update_log.py
Due: eslint-react

feat(permissions): give timesheet manager full access to risks and growth initiatives
  frontend/packages/app/src/pages/project-details/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/header.tsx
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.json
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.json
  next_pms/next_pms/doctype/risk/risk.json
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/next_pms/doctype/risk/test_risk.py
  next_pms/utils/permissions.py
Due: eslint-react

chore: bold AI allocation metadata in popover
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationPopover.tsx
Due: eslint-react

fix: restore full-row click on growth list
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
Due: eslint-react

test(todo): skip ToDo test-record walk in growth and timeline tests
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
  next_pms/next_projects/doctype/project_timeline_item/test_project_timeline_item.py
Due: none

fix(todo): check todo read permission on desk saves
  next_pms/tests/next_projects/api/test_todo.py
  next_pms/utils/linked_todos.py
Due: none

feat(notes): add project update subscriptions
  next_pms/hooks.py
  next_pms/next_pms/doctype/pms_project_update_subscription/__init__.py
  next_pms/next_pms/doctype/pms_project_update_subscription/pms_project_update_subscription.json
  next_pms/next_pms/doctype/pms_project_update_subscription/pms_project_update_subscription.py
  next_pms/tests/timesheet/api/test_project_status_update.py
  next_pms/timesheet/api/project_status_update.py
Due: none

feat(notes): add subscribe button to notes tab
  frontend/packages/app/src/pages/project-details/tabs/notes/subHeader.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/subscribeButton.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/types.ts
Due: eslint-react

feat(notes): notify subscribers and account manager on publish
  next_pms/hooks.py
  next_pms/next_pms/notifications.py
  next_pms/templates/notes/note_published.html
  next_pms/tests/next_pms/__init__.py
  next_pms/tests/next_pms/test_notifications.py
  next_pms/timesheet/api/project_status_update.py
  next_pms/timesheet/templates/project_status_update/publish_notification.html
Due: none

fix(notifications): send companion email with the notification
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/tests/next_pms/test_notifications.py
  next_pms/tests/test_risk_owner_notification.py
Due: none

test(e2e): scale timeouts and build auth states before the run
  tests/e2e/globals/globalSetup.js
  tests/e2e/pageObjects/columnSettings.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.config.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/utils/timeouts.js
Due: eslint-js

fix(notes): use subtle subscribe button with bell icon
  frontend/packages/app/src/pages/project-details/tabs/notes/subscribeButton.tsx
Due: eslint-react

feat(todo): link todos to milestones, touchpoints and growth initiatives in UI
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/project-details/components/activity/activityItem.tsx
  frontend/packages/app/src/pages/project-details/constants.ts
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/itemHoverCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/actionsCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/todosCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/columns.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/types.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/useTimelineItemsList.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedChip.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedTodoList.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedTodos.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/context.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/types.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useLinkableRecords.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useTodoModal.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useTodosData.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/utils.ts
Due: eslint-react

ci: bump frappe app versions
  .github/workflows/build-test.yml
  .github/workflows/unit-tests.yml
Due: none

fix(e2e): wait for the queued reject and search for the new project
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix(notes): tighten subscription perms and snapshot subscribers at publish
  next_pms/next_pms/doctype/pms_project_update_subscription/pms_project_update_subscription.json
  next_pms/next_pms/notifications.py
  next_pms/tests/next_pms/test_notifications.py
Due: none

ci(e2e): bump pnpm/action-setup to v6 (Node 24)
  .github/workflows/e2e-tests.yml
Due: none

ci(e2e): upload only a lean HTML report
  .github/workflows/e2e-tests.yml
  tests/e2e/playwright.ci.config.js
Due: eslint-js

feat(allocations): allow editing AI allocations that span holidays or leave
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
Due: eslint-react

feat: improve linked todo interactions
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/itemHoverCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/actionsCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/todosCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/types.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/useTimelineItemsList.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/types.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedChip.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedTodoList.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/linkedTodos.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/context.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/types.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useLinkableRecords.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useLinkedTodos.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useTodoModal.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/useTodosData.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/utils.ts
  frontend/packages/design-system/src/components/delete-action-dialog/index.tsx
  next_pms/next_projects/api/todo.py
  next_pms/tests/next_projects/api/test_todo.py
Due: eslint-react

fix: show update entry actions only to their author
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
Due: eslint-react

fix(projects): upload risk and growth documents as private
  frontend/packages/app/src/pages/project-details/components/documentUploadButton.tsx
Due: eslint-react

chore: rename todos to action items
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/actionsCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/useLinkedTodoCount.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/utils.ts
Due: eslint-react

fix(allocations): keep manual overrides and tentative status on AI allocations
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
