Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Rename handle_create_and_update_of_allocation to handle_allocation
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
  next_pms/resource_management/api/allocation.py
Due: eslint-react

Fix z-index for dialog compoenent
  frontend/packages/app/src/app/components/add-leave/index.tsx
  frontend/packages/design-system/src/components/dialog/index.tsx
Due: eslint-react

Fix linter issue
  frontend/packages/app/src/app/components/add-leave/index.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
Due: eslint-react

Remove is_billable argument from save function
  next_pms/timesheet/api/timesheet.py
Due: none

Fix linter issue
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
Due: eslint-react

Fix linter issue
  frontend/packages/app/src/schema/resource.ts
Due: eslint-react

Replace send_http_response with frappe.throw
  next_pms/project_currency/helpers/http.py
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/api/utils/http.py
Due: none

Add ignore_permission based on user role
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
Due: none

Fix permission check for timesheet crud
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
Due: eslint-react

Move filter_employee method to api file
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/timesheet/api/__init__.py
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/task.py
  next_pms/timesheet/api/team.py
Due: none

Add z-index on toast
  frontend/packages/design-system/src/components/toast/index.tsx
Due: eslint-react

Update handle_allocation permission to enable users with write permission to create and update allocation
  next_pms/resource_management/api/allocation.py
Due: none

fix: Consider doc status 0 and 1 for timesheet
  next_pms/next_pms/report/client_profitability/client_profitability.py
  next_pms/resource_management/report/employee_billability/employee_billability.py
  next_pms/resource_management/report/over_capacity/over_capacity.py
Due: none

Resolve Update allocation function to pass name in body to endpoint on update call
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
Due: eslint-react

Remove eslint.config.js file from resource management package
  frontend/packages/resource-management/eslint.config.js
Due: eslint-js

fix: Update permission check condition
  next_pms/timesheet/api/utils.py
Due: none

fix: Resolve issue with color indicator for time value
  frontend/packages/app/src/app/components/timesheet-table/components/weekTotal.tsx
  frontend/packages/app/src/app/pages/team/components/employee.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix: Remove app store slice
  frontend/packages/app/src/app/layout/index.tsx
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/app/pages/project/header.tsx
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/app.ts
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/user.ts
Due: eslint-react

chore: resolve linter issue in design system
  frontend/packages/design-system/package.json
  frontend/packages/design-system/src/components/badge/index.tsx
  frontend/packages/design-system/src/components/button/index.tsx
  frontend/packages/design-system/src/components/calendar/index.tsx
  frontend/packages/design-system/src/components/combo-box/index.tsx
  frontend/packages/design-system/src/components/command/index.tsx
  frontend/packages/design-system/src/components/date-picker/index.tsx
  frontend/packages/design-system/src/components/debounced-input/index.tsx
  frontend/packages/design-system/src/components/form/index.tsx
  frontend/packages/design-system/src/components/text-area/index.tsx
  frontend/packages/design-system/src/components/toast/hooks.ts
  frontend/packages/design-system/src/utils/index.ts
Due: eslint-react

chore: Remove scroll from edit time dialog
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

chore: Remove ring from select content
  frontend/packages/app/src/app/components/add-leave/index.tsx
  frontend/packages/design-system/src/components/select/index.tsx
Due: eslint-react

fix: Add focus ring on select
  frontend/packages/app/src/app/components/add-leave/index.tsx
Due: eslint-react

refactor: Split employee detail page into smaller component
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/components/employeeTimesheetTable.tsx
  frontend/packages/app/src/app/pages/team/components/statusIndicator.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheetList.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/hourInput.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/index.tsx
  frontend/packages/app/src/app/pages/team/employeeDetail.tsx
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/app/src/route.tsx
  frontend/tailwind.config.cjs
Due: eslint-react

fix: Add animation on tab content
  frontend/packages/design-system/src/components/tabs/index.tsx
Due: eslint-react

refactor: Move duplicate calculation to common util
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheetList.tsx
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

refactor: Split employee view code into smaller component for re-usability
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/components/rejectTimesheet.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/hourInput.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/index.tsx
Due: eslint-react

refactor: Move common calculation to utils function
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/utils.ts
Due: eslint-react

refactor: Make sidebar icons consistant
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/layout/sidebar/viewLoader.tsx
Due: eslint-react

fix: Resolve sidebar collapsible issue on smaller device
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/app/pages/timesheet/components/expandableHours.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Fix unique key issue (map) inside sidebar component
  frontend/packages/app/src/app/layout/sidebar/index.tsx
Due: eslint-react

Fix empty comboBox in employeeDetail Header component
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
Due: eslint-react

fix: Do not consider cancelled timesheet for remaining hour calculation
  next_pms/timesheet/api/timesheet.py
Due: none

fix: Show recent updates in timesheet
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/index.tsx
Due: eslint-react

chore: Remove debug statement
  frontend/packages/app/src/app/pages/team/employee-detail/employeeTimesheet.tsx
Due: eslint-react

fix: Update form state whenever value is set using set_value
  frontend/packages/app/src/app/components/AddTime.tsx
  frontend/packages/app/src/app/components/add-leave/index.tsx
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/task/components/addTask.tsx
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

fix: Resolve timesheet not found when changing dates
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

fix: Do not allow self timesheet approval
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Remove unwanted dependencies from editTime/useEffect
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

Resolve linting issues
  frontend/packages/app/src/main.tsx
  frontend/packages/resource-management/src/hooks.ts
  frontend/packages/resource-management/src/index.ts
Due: eslint-react

chore: Remove stale permission from timesheet user role
  next_pms/fixtures/custom_docperm.json
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
