Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

lint issues
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

lint issues
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fix Add Allocation state issues and form require employee to enable Create button
  frontend/packages/app/src/app/pages/resource-management/components/addAllocation.tsx
  frontend/packages/app/src/schema/resource.ts
Due: eslint-react

rrefactor: Cache employee working information
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

refactor: Cache employees weekly timesheet data
  next_pms/hooks.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/doc_events/employee.py
  next_pms/timesheet/doc_events/leave_application.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

perf: Cache leaves and app data
  next_pms/resource_management/api/utils/query.py
  next_pms/timesheet/api/app.py
  next_pms/timesheet/api/utils.py
Due: none

chore: Organize imports
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
Due: none

chore: In-validate cache on data change
  next_pms/hooks.py
  next_pms/timesheet/doc_events/employee.py
  next_pms/timesheet/doc_events/leave_application.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Update timesheet.json
  tests/e2e/data/employee/timesheet.json
Due: none

Update globalSetup.js
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update storageStateHelper.js
  tests/e2e/helpers/storageStateHelper.js
Due: eslint-js

Update timesheetHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update timesheet.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Create employeeRequests.js
  tests/e2e/utils/api/employeeRequests.js
Due: eslint-js

Create erpNextHelpers.js
  tests/e2e/utils/api/tests/e2e/utils/api/erpNextHelpers.js
Due: eslint-js

Update projectRequests.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

Fix handleWeekChange to correctly handle dates that fall on Saturday or Sunday
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
Due: eslint-react

inclusion of TC47,49,50 and 53
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/erpNextHelpers.js
Due: eslint-js

renamed file
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/erpNextRequests.js
Due: eslint-js

removed main branch
  .github/workflows/e2e-playwright-test.yml
Due: none

solve lint issues
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/erpNextRequests.js
Due: eslint-js

lint issues
  tests/e2e/globals/globalSetup.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

failed scripts
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

new changes to send mail report
  .github/workflows/e2e-playwright-test.yml
Due: none

run in parallel
  package.json
Due: none

commit
  .github/workflows/e2e-playwright-test.yml
Due: none

format yml file
  .github/workflows/e2e-playwright-test.yml
Due: none

change folder structre of zip file
  .github/workflows/e2e-playwright-test.yml
Due: none

commit
  package.json
Due: none

Update package.json
  package.json
Due: none

style: Fix import statement indentation in app.tsx
  frontend/packages/app/src/app.tsx
Due: eslint-react

replaced TC84 with TC82 as mentioned in the test cases
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix: Remove employee check from timesheet api
  frontend/packages/app/src/app/pages/home/index.tsx
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

Workflow: Add vulerable dependency check action
  .github/workflows/vulnerable_dependency_check.yml
Due: none

Optimize resource managmenet pages
  frontend/packages/app/src/app/pages/resource-management/components/empty/emptyTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/resourceExpandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/group.tsx
  frontend/packages/resource-management/src/components/table/row/resourceTableRow.tsx
Due: eslint-react

perf: Add index on frequently accessed columns
  next_pms/patches.txt
  next_pms/timesheet/api/employee.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/patches/add_index.py
Due: none

commit latest changes
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

included TC85
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Workflow: Add build test action
  .github/workflows/build-test.yml
Due: none
