Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

update comments component and add delete dialog
  frontend/packages/design-system/src/components/comments/commentInput.tsx
  frontend/packages/design-system/src/components/comments/componentActions.tsx
  frontend/packages/design-system/src/components/comments/deleteCommentDialog.tsx
  frontend/packages/design-system/src/components/comments/index.tsx
  frontend/packages/design-system/src/components/comments/types.ts
Due: eslint-react

add feedback details dialog with comments
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/feedbackDetailBody.tsx
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/feedbackDetailDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/metaRow.tsx
  frontend/packages/app/src/pages/project-details/tabs/feedback/types.ts
  frontend/packages/app/src/pages/project-details/tabs/feedback/useFeedbackComments.ts
  frontend/packages/app/src/pages/project-details/tabs/feedback/useTeamFeedbackBreakdown.ts
Due: eslint-react

feat: add support for allocation_status (resource allocation) in project alloc, custom_reporting_manager for reporting manager LIKE search, custom_project_manager_name for project namanger LIKE search
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
Due: none

feat: add information to boot to hide email tab
  next_pms/next_projects/api/email.py
  next_pms/www/next-pms/index.py
Due: none

feat: dashboard notifications for PMS
  next_pms/next_pms/doctype/nextpms_notifications/__init__.py
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.js
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/doctype/nextpms_notifications/test_nextpms_notifications.py
Due: eslint-js

chore: update filters based on backedend change
  frontend/packages/app/src/pages/allocations/project/constants.ts
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/utils.ts
Due: eslint-react

chore: fix multiselect behaviour
  frontend/packages/app/src/pages/allocations/project/provider.tsx
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
Due: eslint-react

chore: better routing
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/dashboard/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/manager/index.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

global css cleanup - move legacy styles to EOF - no new style is added
  frontend/packages/app/src/global.css
Due: none

fix: json loading for allocation status
  next_pms/resource_management/api/project.py
Due: none

fix: wrap string in translation and add app check in boot
  next_pms/next_projects/api/email.py
Due: none

fix: audit BAC (#1528)
  next_pms/timesheet/api/project_status_update.py
Due: none

feat: add support for recurring edit schedule
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

feat: add data to stat cards
  .mcp.json
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership-view/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership-view/provider/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership-view/provider/type.ts
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/manager/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/forecastBreakdownCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/heatmapCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi/kpiCardSkeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi/leadershipKpiCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi/types.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi/useLeadershipKpi.ts
  frontend/packages/app/src/pages/dashboard/widget/kpiCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/notificationsCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat/liveStatCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat/statCardSkeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat/types.ts
  frontend/packages/app/src/pages/dashboard/widget/utilization/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/utilization/utilisationDonut.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

refactor: remove provider
  frontend/packages/app/src/pages/dashboard/leadership-view/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership-view/provider/context.ts
  frontend/packages/app/src/pages/dashboard/leadership-view/provider/index.tsx
  frontend/packages/app/src/pages/dashboard/leadership-view/provider/type.ts
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
Due: eslint-react

refactor: simplify code
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi/leadershipKpiCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi/types.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi/useLeadershipKpi.ts
Due: eslint-react

feat: add data to heatmap card
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/heatmapCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/heatmapCardSkeleton.tsx
Due: eslint-react

feat: add utilitzation card ; refactor: stat cards
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/statCardSkeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat/liveStatCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat/types.ts
  frontend/packages/app/src/pages/dashboard/widget/statCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/utilization/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/utilization/utilisedTimeCardSkeleton.tsx
Due: eslint-react

feat: add forecast breakdownls card ; refactor: stat cards
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/forcast-breakdown/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/forcast-breakdown/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/forecastBreakdownCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/heatmap/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/heatmap/skeleton.tsx
  next_pms/api/dashboard.py
Due: eslint-react

refactor: move types
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/forcast-breakdown/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/forcast-breakdown/types.ts
  frontend/packages/app/src/pages/dashboard/widget/heatmap/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/heatmap/types.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi-cards/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi-cards/leadershipKpiCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi-cards/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/kpi-cards/types.ts
  frontend/packages/app/src/pages/dashboard/widget/kpi-cards/useLeadershipKpi.ts
  frontend/packages/app/src/pages/dashboard/widget/kpiCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/notificationsCard.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/stat-card.tsx
  frontend/packages/app/src/pages/dashboard/widget/stat-cards/types.ts
  frontend/packages/app/src/pages/dashboard/widget/utilization/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/utilization/types.ts
Due: eslint-react

feat: add timeline
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/calendar-timeline/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/calendar-timeline/skeleton.tsx
  frontend/packages/design-system/src/components/calendar-timeline/calendarTimeline.tsx
  frontend/packages/design-system/src/components/calendar-timeline/constants.ts
  frontend/packages/design-system/src/components/calendar-timeline/eventChip.tsx
  frontend/packages/design-system/src/components/calendar-timeline/index.ts
  frontend/packages/design-system/src/components/calendar-timeline/types.ts
  frontend/packages/design-system/src/components/calendar-timeline/utils.ts
  frontend/packages/design-system/src/components/index.ts
Due: eslint-react

fix: manager view
  frontend/packages/app/src/pages/dashboard/manager-view/index.tsx
Due: eslint-react

fix: calendar styles
  frontend/packages/app/src/pages/dashboard/widget/calendar-timeline/index.tsx
  frontend/packages/design-system/src/components/calendar-timeline/calendarTimeline.tsx
Due: eslint-react

fix: make project selection dynamic
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/calendar-timeline/index.tsx
  next_pms/api/dashboard.py
Due: eslint-react

feat: add date selection
  frontend/packages/app/src/pages/dashboard/widget/calendar-timeline/index.tsx
  frontend/packages/design-system/src/components/calendar-timeline/calendarTimeline.tsx
  frontend/packages/design-system/src/components/calendar-timeline/types.ts
Due: eslint-react

fix: scrollbar
  frontend/packages/app/src/pages/dashboard/leadership/index.tsx
Due: eslint-react

feat: add assigned projects widget
  frontend/packages/app/src/pages/dashboard/manager-view/index.tsx
  frontend/packages/app/src/pages/dashboard/manager/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/assigned-projects/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/assigned-projects/hours-burn.tsx
  frontend/packages/app/src/pages/dashboard/widget/assigned-projects/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/assigned-projects/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/assigned-projects/types.ts
Due: eslint-react

feat: add timesheet widget
  frontend/package-lock.json
  frontend/packages/app/src/pages/dashboard/manager/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/dashboard/widget/timesheet-summary/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/timesheet-summary/index.tsx
  frontend/packages/app/src/pages/dashboard/widget/timesheet-summary/skeleton.tsx
  frontend/packages/app/src/pages/dashboard/widget/timesheet-summary/statusIcon.tsx
  frontend/packages/design-system/package.json
  next_pms/api/dashboard.py
Due: eslint-react

feat: replace TextEditor with StaticTextEditor in various components
  frontend/package-lock.json
  frontend/packages/app/src/components/timesheet-row/components/inline-time-entry/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/noteCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/add-update/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/create-risk/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/updateEntry.tsx
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-time/index.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/entryRow.tsx
  frontend/packages/design-system/src/components/comments/commentItem.tsx
Due: eslint-react

fix font relate design issues in timesheet
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/entryRow.tsx
Due: eslint-react

fix font relate design issues all over
  frontend/packages/app/src/components/task-log/components/progress.tsx
  frontend/packages/app/src/components/task-log/components/taskEntryList.tsx
  frontend/packages/app/src/components/task-log/personalTaskLog.tsx
  frontend/packages/app/src/components/timesheet-row/components/inline-time-entry/index.tsx
  frontend/packages/app/src/components/timesheet-row/components/inline-time-entry/timeEntryForm.tsx
  frontend/packages/app/src/components/timesheet-row/personalTimesheetRow.tsx
  frontend/packages/app/src/global.css
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/overAllocationWarning.tsx
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/project-details/about/components/customerHoverCard.tsx
  frontend/packages/app/src/pages/project-details/about/components/memberHoverCard.tsx
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/table/cells/titleCell.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/updateEntry.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/list/listViewGroup.tsx
  frontend/packages/design-system/src/components/durationInput/index.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberHoverCard.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectHoverCard.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
  frontend/packages/design-system/src/components/task-status/constants.ts
  frontend/packages/design-system/src/components/timesheet/rows/header/headerRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/member/memberRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/project/projectRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/task/taskRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/timeOff/timeOffRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/total/totalRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/week/weekRow.tsx
Due: eslint-react

feat: notification wiring for risk, customer feedback, timesheet, project rag + doctype permission lock
  next_pms/hooks.py
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/notifications.py
Due: none

tasklog font fixes
  frontend/packages/app/src/components/task-log/components/progress.tsx
  frontend/packages/app/src/components/task-log/components/taskEntryList.tsx
  frontend/packages/app/src/components/task-log/components/teamTimeSummary.tsx
  frontend/packages/app/src/components/task-log/components/title.tsx
  frontend/packages/app/src/components/task-log/teamTaskLog.tsx
Due: eslint-react

fix: double notifications + perf: deferred insert
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/notifications.py
Due: none

fix add time modal
  frontend/packages/design-system/src/components/durationInput/index.tsx
Due: eslint-react

fix: disable rename + optimize code
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/notifications.py
Due: none

feat: dashboard notifications for PMS (#1551)
  next_pms/hooks.py
  next_pms/next_pms/doctype/nextpms_notifications/__init__.py
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.js
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/doctype/nextpms_notifications/test_nextpms_notifications.py
  next_pms/next_pms/notifications.py
Due: eslint-js

feat: add generic delete action dialog
  frontend/packages/app/src/pages/project-details/tabs/notes/context.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/context.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/deleteRiskDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/deleteUpdateEntryDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/useRiskDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/provider.tsx
  frontend/packages/design-system/src/components/delete-action-dialog/index.tsx
  frontend/packages/design-system/src/components/index.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
