Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

fix: project look up hook
  frontend/packages/app/src/hooks/useApproverOptions.ts
  frontend/packages/app/src/hooks/useCustomerLookup.ts
  frontend/packages/app/src/hooks/useEmployeeLookup.ts
  frontend/packages/app/src/hooks/useProjectLookup.ts
  frontend/packages/app/src/hooks/useRemoteLookup.ts
Due: eslint-react

feat: make provider and make filters work
  frontend/packages/app/src/pages/projects/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/dateCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/context.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/provider.tsx
  frontend/packages/app/src/pages/projects/list/sub-header.tsx
Due: eslint-react

enhance team allocation data handling with manager name mapping
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
Due: eslint-react

fix: file name casing
  frontend/packages/app/src/pages/projects/list/cells/textCell.tsx
Due: eslint-react

implement delete allocation functionality with confirmation dialog
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/deleteAllocationDialog.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
Due: eslint-react

move dialog file
  frontend/packages/design-system/src/components/gantt-view/deleteAllocationDialog.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
Due: eslint-react

Potential fix for pull request finding
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
Due: eslint-react

update Employee interface to allow optional fields and enhance utility functions for capacity and hourly rate calculations
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
Due: eslint-react

feat: create contact child table for projects
  next_pms/next_projects/doctype/project_contact/__init__.py
  next_pms/next_projects/doctype/project_contact/project_contact.json
  next_pms/next_projects/doctype/project_contact/project_contact.py
Due: none

feat: add new doctype for milestone/touchpoint
  next_pms/next_projects/doctype/project_timeline_item/__init__.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.js
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item/test_project_timeline_item.py
Due: eslint-js

feat: api endpoint for milestone
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project.py
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/next_projects/api/utils.py
Due: none

fix: wrong import
  next_pms/next_projects/api/project.py
  next_pms/next_projects/api/project_timeline_item.py
Due: none

feat: patch to add permission for PMs to see the PTI items
  next_pms/next_projects/patches/add_contact_permissions_for_projects_manager.py
  next_pms/patches.txt
Due: none

update GanttMemberHoverCard to link to employee profile if available
  frontend/packages/design-system/src/components/gantt-view/ganttMemberHoverCard.tsx
Due: eslint-react

fix: padding
  frontend/packages/app/src/pages/projects/kanban/index.tsx
Due: eslint-react

add totalHours to allocation entries and dialogs and update text formatting
  frontend/packages/design-system/src/components/gantt-view/deleteAllocationDialog.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationPopover.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/withPendingDeleteEntry.ts
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
Due: eslint-react

refactor GanttMemberHoverCard to conditionally render employee profile link
  frontend/packages/design-system/src/components/gantt-view/ganttMemberHoverCard.tsx
Due: eslint-react

chore: fix hook import
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
Due: eslint-react

feat: create milestone endpoint
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
Due: none

Revert "feat: patch to add permission for PMs to see the PTI items"
  next_pms/next_projects/patches/add_contact_permissions_for_projects_manager.py
  next_pms/patches.txt
Due: none

fix: change owner to user doctype
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.py
Due: none

chore: improve project report fields, descriptions and error handling
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
Due: eslint-react

fix: get both milestone and touchpoint in single request
  next_pms/next_projects/api/project_timeline_item.py
Due: none

fix: use utility to type narrowing
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/projects/list/cells/dot.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/stagesIcon.tsx
  frontend/packages/app/src/pages/projects/list/constants.ts
  frontend/packages/app/src/pages/projects/list/types.ts
Due: eslint-react

feat: add drag and resize functionality
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/draftBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttRowAddBlock.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRow.tsx
  frontend/packages/design-system/src/components/gantt-view/hooks/useGanttBarInteraction.ts
  frontend/packages/design-system/src/components/gantt-view/hooks/useGanttBarResize.ts
  frontend/packages/design-system/src/components/gantt-view/hooks/useGanttDraftBars.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

chore: export fixtures for project doctype
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
Due: none

refactor: remove complex drag functionality
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/addBlock.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/draftBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttRowAddBlock.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/rowAllocationOverlay.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRow.tsx
  frontend/packages/design-system/src/components/gantt-view/hooks/useGanttBarInteraction.ts
Due: eslint-react

fix: resolve copilot reviews
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
  next_pms/fixtures/custom_field.json
Due: eslint-react

chore: update description for slack channel slug
  next_pms/fixtures/custom_field.json
Due: none

chore: address reviews
  frontend/packages/app/src/hooks/useApproverOptions.ts
  frontend/packages/app/src/hooks/useCustomerLookup.ts
  frontend/packages/app/src/hooks/useEmployeeLookup.ts
  frontend/packages/app/src/hooks/useProjectLookup.ts
  frontend/packages/app/src/hooks/useRemoteLookup.ts
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/useAllocationModal.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/draftBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/rowAllocationOverlay.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
Due: eslint-react

feat: add support for resize allocations
  frontend/packages/design-system/src/components/gantt-view/constants.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/crosshatchLayer.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/hooks/useGanttBarInteraction.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

feat: comment thread implementation
  next_pms/next_pms/doctype/project_comments/project_comments.json
  next_pms/next_pms/doctype/project_comments/project_comments.py
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
  next_pms/next_pms/doctype/project_status_update/project_status_update.py
  next_pms/timesheet/api/project_status_update.py
Due: none

chore: remove unnecessary keys
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
Due: eslint-react

feat: make kanban view take real data
  frontend/packages/app/src/pages/projects/constants.ts
  frontend/packages/app/src/pages/projects/context.ts
  frontend/packages/app/src/pages/projects/detail/about/index.tsx
  frontend/packages/app/src/pages/projects/index.tsx
  frontend/packages/app/src/pages/projects/kanban/constants.ts
  frontend/packages/app/src/pages/projects/kanban/header.tsx
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/kanban/projectCard.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/constants.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/sub-header.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/app/src/pages/projects/provider.tsx
  frontend/packages/app/src/pages/projects/types.ts
Due: eslint-react

add over-allocation warning feature with custom hook for allocation checks
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/overAllocationWarning.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

handle recurring allocations
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/overAllocationWarning.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

fix variable name case
  frontend/packages/app/src/pages/allocations/team/add-allocation/overAllocationWarning.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

feat: add action to change project phase
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/projects/context.ts
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/provider.tsx
Due: eslint-react
