Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Update stringUtils.js
  tests/e2e/utils/stringUtils.js
Due: eslint-js

fix: Resolve document modified issue when making time entry with multiple dates
  next_pms/timesheet/api/timesheet.py
Due: none

fix: Update component import statement
  frontend/packages/app/src/app/components/AddTime.tsx
  frontend/packages/app/src/app/pages/task/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/global.css
Due: eslint-react

refactor: Move add time component to respective folder
  frontend/packages/app/src/app/components/add-time/index.tsx
  frontend/packages/app/src/app/components/add-time/type.ts
  frontend/packages/app/src/app/components/types.ts
Due: eslint-react

feat: Add option to select the time instead of typing while making time entry
  frontend/packages/app/src/app/components/add-time/time-selector.tsx
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
  frontend/packages/app/src/lib/constant.ts
Due: eslint-react

fix: Convert float time to string time format before saving
  frontend/packages/app/src/app/components/add-time/time-selector.tsx
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

Revert "Resolve document modified issue when editing time entries"
  next_pms/timesheet/api/timesheet.py
Due: none

chore: Update time format
  frontend/packages/app/src/app/components/add-time/time-selector.tsx
Due: eslint-react

feat: Add fields for resource management notification
  next_pms/resource_management/doctype/employee_department/__init__.py
  next_pms/resource_management/doctype/employee_department/employee_department.json
  next_pms/resource_management/doctype/employee_department/employee_department.py
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
Due: none

chore: Add email template for allocation email
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
Due: none

feat: Add template for resource reminder
  next_pms/patches.txt
  next_pms/resource_management/patches/add_resource_reminder_template.py
  next_pms/templates/resource_management/no_resource_allocation.html
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
Due: none

feat: Add schedular task to send mail if no allocation is found for next week
  next_pms/hooks.py
  next_pms/resource_management/tasks/no_allocation_reminder.py
  next_pms/utils/employee.py
Due: none

fix: Format time to HH:MM format if not already
  frontend/packages/app/src/app/components/add-time/time-selector.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

fix: Resolve doc error in patch
  next_pms/resource_management/patches/add_resource_reminder_template.py
Due: none

chore: Update template
  next_pms/resource_management/patches/add_resource_reminder_template.py
  next_pms/templates/resource_management/no_resource_allocation.html
Due: none

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

feat: Workflows: Add deployment job to e2e Playwright tests workflow (#581)
  .github/deploy/addon.sh
  .github/deploy/helpers.sh
  .github/deploy_configs/erp-qe.rt.gw.toml
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: 🐛 Use correct util function
  next_pms/templates/resource_management/no_resource_allocation.html
Due: none

fix : submit timesheet POM functions
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

TC : completed TC92
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : removed unsed decalration
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/teamTabHelper.js
Due: eslint-js

fix : lint issues update: playwright installtion in github actions
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

fix : remove deploy temproarily for testing GH actions
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : updated emp3 creds
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : updated variables in GH action
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/data/manager/team.json
Due: none

fix : updated yml file with deploy
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : updated readme file and sample env file
  tests/e2e/.env.example
  tests/e2e/README.md
Due: none

Workflow: SKip deploy if anually triggering it
  .github/workflows/e2e-playwright-test.yml
Due: none

WOrkflow: Update dependent workflow to main branch
  .github/workflows/e2e-playwright-test.yml
Due: none

E2E: CI Changes (#616)
  .github/workflows/e2e-playwright-test.yml
Due: none

Merged yml file changes from develop
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix : lint issues
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Testcase : TC93 completed
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : changed variable name
  tests/e2e/helpers/teamTabHelper.js
Due: eslint-js

fix : lint issue
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix: Update test job dependencies to conditionally require deploy
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Update test job dependencies to always require deploy
  .github/workflows/e2e-playwright-test.yml
Due: none
