Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

fix: import convert_currency and sort helpers from utils module
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

fix: add click event handling in kanban board
  frontend/packages/app/src/pages/projects/kanban/constants.ts
  frontend/packages/app/src/pages/projects/kanban/projectCard.tsx
Due: eslint-react

chore: move tooltip component outside trigger render
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectBar.tsx
Due: eslint-react

fix(customer): auto-disambiguate colliding custom_abbr (#1341)
  next_pms/resource_management/doc_events/customer.py
Due: none

feat: add date week labels
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

feat: refactor gantt grid core logic to prepare for project allocations
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttStore.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

fix: add index;correct punctuation
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
Due: none

fix: rename tab label to additional information
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
Due: none

chore: address reviews
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

feat: add project allocations sidebar
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/design-system/src/components/gantt-view/ganttGrid.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberHoverCard.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRow.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/project/fakeData.ts
  frontend/packages/design-system/src/components/gantt-view/ganttMemberItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRows.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectItem.tsx
  frontend/packages/design-system/src/components/gantt-view/ganttProjectRows.tsx
Due: eslint-react

refactor: separte project details and list pages
  frontend/packages/app/src/pages/project-details/about/components/budgetBurnBar.tsx
  frontend/packages/app/src/pages/project-details/about/components/customerRow.tsx
  frontend/packages/app/src/pages/project-details/about/components/expandableList.tsx
  frontend/packages/app/src/pages/project-details/about/components/memberRow.tsx
  frontend/packages/app/src/pages/project-details/about/fake-data.ts
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/about/progressHoursSection.tsx
  frontend/packages/app/src/pages/project-details/about/section.tsx
  frontend/packages/app/src/pages/project-details/about/types.ts
  frontend/packages/app/src/pages/project-details/fake-data.ts
  frontend/packages/app/src/pages/project-details/header.tsx
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/components/overview-field.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/components/overview-section.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/fake-data.ts
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/key-goals.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/specifics.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/summary.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sub-header.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/types.ts
  frontend/packages/app/src/pages/project-details/tabs/tracking/fake-data.ts
  frontend/packages/app/src/pages/project-details/tabs/tracking/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/knowledgePoint.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/types.ts
  frontend/packages/app/src/pages/projects/kanban/page-header.tsx
  frontend/packages/app/src/pages/projects/list/page-header.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

refactor: share filters with searchParams
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/projects/components/header.tsx
  frontend/packages/app/src/pages/projects/constants.ts
  frontend/packages/app/src/pages/projects/context.ts
  frontend/packages/app/src/pages/projects/hooks/useProjectFilters.ts
  frontend/packages/app/src/pages/projects/index.tsx
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/kanban/provider.tsx
  frontend/packages/app/src/pages/projects/kanban/view.tsx
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/provider.tsx
  frontend/packages/app/src/pages/projects/list/view.tsx
  frontend/packages/app/src/pages/projects/provider.tsx
  frontend/packages/app/src/pages/projects/sub-header.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

refactor: remove context file
  frontend/packages/app/src/pages/projects/components/sub-header.tsx
  frontend/packages/app/src/pages/projects/context.ts
  frontend/packages/app/src/pages/projects/hooks/useProjectFilters.ts
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/kanban/provider.tsx
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/provider.tsx
  frontend/packages/app/src/pages/projects/types.ts
  frontend/packages/app/src/pages/projects/utils.ts
  frontend/packages/app/tsconfig.tsbuildinfo
Due: eslint-react

feat: add add project modal
  frontend/packages/app/src/hooks/useCompanyLookup.ts
  frontend/packages/app/src/pages/projects/components/add-project/index.tsx
  frontend/packages/app/src/pages/projects/components/add-project/schema.ts
  frontend/packages/app/src/pages/projects/components/add-project/types.ts
  frontend/packages/app/src/pages/projects/kanban/context.ts
  frontend/packages/app/src/pages/projects/kanban/header.tsx
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/kanban/provider.tsx
  frontend/packages/app/src/pages/projects/list/context.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/provider.tsx
Due: eslint-react

chore: address review and update skills
  .claude/skills/next-pms-conventions/SKILL.md
  frontend/packages/app/src/pages/project-details/tabs/overview/components/overviewField.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/components/overviewSection.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/keyGoals.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/specifics.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/summary.tsx
  frontend/packages/app/src/pages/projects/components/subHeader.tsx
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/tsconfig.tsbuildinfo
Due: eslint-react

add CalendarToolbar component
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/calendar/calendarToolbar.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/calendar/index.tsx
Due: eslint-react

move files to new directory
  frontend/packages/app/src/pages/project-details/tabs/calendar/calendarToolbar.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
Due: eslint-react

feat: use real-data
  frontend/packages/app/src/pages/project-details/context.ts
  frontend/packages/app/src/pages/project-details/header.tsx
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/fake-data.ts
  frontend/packages/app/src/pages/project-details/tabs/overview/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/keyGoals.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/specifics.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/summary.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/types.ts
  frontend/packages/app/src/pages/project-details/types.ts
Due: eslint-react

feat: use real-data for summary and project details
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/fake-data.ts
Due: eslint-react

fix: remove explicit db.commit
  next_pms/project_currency/patches/remove_redundant_project_tab_breaks.py
Due: none

feat: project details sidebar get api
  next_pms/next_projects/api/project.py
Due: none

fix: add loading indicator
  frontend/packages/app/src/pages/projects/components/add-project/index.tsx
Due: eslint-react

feat: add date range filters
  next_pms/next_projects/api/project_timeline_item.py
Due: none

feat: flag to skip watchers and owners field
  next_pms/next_projects/api/project_timeline_item.py
Due: none

chore: drop clear cache
  next_pms/project_currency/patches/remove_redundant_project_tab_breaks.py
Due: none

fix: display all items instead of incomplete
  next_pms/next_projects/api/project_timeline_item.py
Due: none

fix: set end date when mark item as complete
  next_pms/next_projects/api/project_timeline_item.py
Due: none

fix: use planned_end_date as touchpoint doesnt have start_date
  next_pms/next_projects/api/project_timeline_item.py
Due: none

chore: fix docstrings for changes made
  next_pms/next_projects/api/project_timeline_item.py
Due: none

fix(customer): address PR review feedback on abbr generation
  next_pms/public/js/customer.js
  next_pms/public/js/customer_quickentry.js
  next_pms/resource_management/doc_events/customer.py
  next_pms/tests/test_customer_abbr.py
Due: eslint-js

fix(customer): add type hints to whitelisted _generate_unique_abbr
  next_pms/resource_management/doc_events/customer.py
Due: none

feat: add new doctypes risk_category, risk_level & risk_status. Use hooks and after_install() to seed base default data in the db, added updated_at field for the risk_update child doctype
  next_pms/install.py
  next_pms/next_pms/doctype/risk/risk.json
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/next_pms/doctype/risk_category/__init__.py
  next_pms/next_pms/doctype/risk_category/risk_category.js
  next_pms/next_pms/doctype/risk_category/risk_category.json
  next_pms/next_pms/doctype/risk_category/risk_category.py
  next_pms/next_pms/doctype/risk_category/test_risk_category.py
  next_pms/next_pms/doctype/risk_level/__init__.py
  next_pms/next_pms/doctype/risk_level/risk_level.js
  next_pms/next_pms/doctype/risk_level/risk_level.json
  next_pms/next_pms/doctype/risk_level/risk_level.py
  next_pms/next_pms/doctype/risk_level/test_risk_level.py
  next_pms/next_pms/doctype/risk_status/__init__.py
  next_pms/next_pms/doctype/risk_status/risk_status.js
  next_pms/next_pms/doctype/risk_status/risk_status.json
  next_pms/next_pms/doctype/risk_status/risk_status.py
  next_pms/next_pms/doctype/risk_status/test_risk_status.py
  next_pms/next_pms/doctype/risk_update/risk_update.json
  next_pms/next_projects/patches/create_default_risk_masters.py
  next_pms/patches.txt
Due: eslint-js

chore: remove project template form
  frontend/packages/app/src/pages/projects/components/add-project/index.tsx
  frontend/packages/app/src/pages/projects/components/add-project/schema.ts
Due: eslint-react

fix: keygoals style fix
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/keyGoals.tsx
Due: eslint-react

fix: correct icons
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/communication.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/keyGoals.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/marketing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/sourcing.tsx
  frontend/packages/app/src/pages/project-details/tabs/overview/sections/specifics.tsx
Due: eslint-react

fix: styles
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/index.tsx
Due: eslint-react

add calendar functionality with grid and gantt views, including timeline item types and fake data
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/calendar-grid.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/fake-data.ts
  frontend/packages/app/src/pages/project-details/tabs/calendar/gantt-view.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/types.ts
Due: eslint-react
