Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix: Do not show employee for BU rows
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
Due: eslint-js

chore: Do not show any data except name of BU if aggregated data is requested
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
Due: eslint-js

chore: Calculate actual percentage instead of showing 0
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

fix : test cases fix : upated error logging
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

lint issue
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

lint issues
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

fix : remove unused vars
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

chore: Format designation and employee name
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
Due: eslint-js

chore: Format currency for group_by
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: none

refactor: Allow group by on designation
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: eslint-js

Fixed merge conflicts
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
Due: eslint-js

Added tests for TC23
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fixed linter issues
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fixed PR comments
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fixed Linter issues
  tests/e2e/pageObjects/taskPage.js
Due: eslint-js

fix : updated playwright and updated spinner logic
  package-lock.json
  package.json
  tests/e2e/data/employee/timesheet.json
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Fixed PR comments
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Fixed Linter issues
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

Fixed Linter issues
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Fixed function name
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

fix : to run tests without skipping on deploy pass
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : wait until timesheet is created
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

fix : run tests only if workflow dispatch or deploy is success
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : removed only
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fix editIcon in darkmode
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
Due: eslint-react

Fix hours mismatch in timesheet list after project change
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
Due: eslint-react

Add Appraisal Capacity Report
  next_pms/resource_management/report/appraisal_capacity_report/__init__.py
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.js
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.json
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: eslint-js

Fix designation filter in appraisal report
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: none

fix : remove playwright report
  .github/workflows/e2e-playwright-test.yml
Due: none

Update age calculation with internal work history support
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.js
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: eslint-js

Add exemption handling in appraisal report
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: none

Update column names in appraisal report
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.json
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: none

Fix company change issue in appraisal report
  next_pms/resource_management/report/appraisal_capacity_report/appraisal_capacity_report.py
Due: none

Rename Appraisal Report to Appraisal Evaluation Report
  next_pms/resource_management/report/appraisal_evaluation_report/__init__.py
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.js
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.json
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: eslint-js

Update salary paid formula to use gross pay
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

Fixed flaky tests and removed run in serial mode
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

Remove BU filter and add non-billable, untracked hours to appraisal report
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.js
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: eslint-js

Correct grouping logic in report manager
  next_pms/resource_management/report/appraisal_evaluation_report/appraisal_evaluation_report.py
Due: none

Updated code to fix flaky test for TC103
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

fix : updated from json to js files to use env variables easily fix : included describe blocks in spec file
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/task.js
  tests/e2e/data/manager/task.json
  tests/e2e/data/manager/team.js
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
