Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

chore: fix notes grid scroll
  frontend/packages/app/src/pages/project-details/tabs/notes/index.tsx
Due: eslint-react

feat: project report cache clear (#1492)
  next_pms/hooks.py
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project.py
  next_pms/next_projects/doc_events/project.py
Due: none

fix: add nullish handelling
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/context.ts
  frontend/packages/app/src/pages/project-details/tabs/tracking/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/types.ts
Due: eslint-react

fix: import errors
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
Due: eslint-react

feat: composite filter backend for team resource allocation
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/timesheet/api/__init__.py
Due: none

chore: fix styles
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentInput.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentItem.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentThread.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/componentActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/types.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/useNoteComments.ts
Due: eslint-react

chore: improve note comments data handling
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentInput.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentItem.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/componentActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/useNoteComments.ts
Due: eslint-react

feat: add accordion for comment reply
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentThread.tsx
Due: eslint-react

chore: docstring fixes
  next_pms/resource_management/api/project.py
Due: none

chore: address reviews
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentInput.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentItem.tsx
Due: eslint-react

fix: status icons
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
Due: eslint-react

feat: filter drop down for resource allocation (team & project) (#1496)
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/timesheet/api/__init__.py
Due: none

use list view component instead of custom list
  frontend/packages/app/src/pages/project-details/tabs/feedback/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/feedback/teamFeedbackView/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/feedback/useTeamFeedbackList.ts
Due: eslint-react

feat: block redirection while editing note
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/index.tsx
Due: eslint-react

chore: address copiolet reviews
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/context.ts
  frontend/packages/app/src/pages/project-details/tabs/to-do/provider/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/todoRow.tsx
Due: eslint-react

chore: handle next_crm not being installed
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/to-do/create-todo/schema.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

chore: refactor
  next_pms/api/dashboard.py
Due: none

fix: code fixes on week range clamping and holiday selection
  next_pms/api/dashboard.py
  next_pms/api/utils.py
Due: none

fix: add avatar in project rate table
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/projectRatesTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/types.ts
  next_pms/next_projects/api/project.py
Due: eslint-react

fix: date format in tables
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/contractsTable.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/projectRatesTable.tsx
Due: eslint-react

feat: heatmap alloc (#1497)
  next_pms/api/dashboard.py
  next_pms/api/utils.py
Due: none

fix: hide project page from employee
  frontend/packages/app/src/layout/sidebar/index.tsx
Due: eslint-react

chore: fix role name
  frontend/packages/app/src/layout/sidebar/index.tsx
Due: eslint-react

fix: hide project page from global search
  frontend/packages/app/src/layout/sidebar/index.tsx
Due: eslint-react

chore: only allow users to edit or delete their own comments
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/commentItem.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/componentActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/types.ts
Due: eslint-react

feat: make comment component generic
  frontend/packages/app/src/components/comments/commentInput.tsx
  frontend/packages/app/src/components/comments/commentItem.tsx
  frontend/packages/app/src/components/comments/commentThread.tsx
  frontend/packages/app/src/components/comments/componentActions.tsx
  frontend/packages/app/src/components/comments/index.tsx
  frontend/packages/app/src/components/comments/types.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/types.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/noteComments.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/utils.ts
Due: eslint-react

ci: add gitleaks and conventional commits workflows
  .github/workflows/gitleaks.yml
  .github/workflows/semantic-commits.yml
  commitlint.config.js
Due: eslint-js

fix: rename commitlint config to .cjs for ESM compatibility
  commitlint.config.cjs
Due: none

fix: format commitlint.config.cjs for prettier compatibility
  commitlint.config.cjs
Due: none

chore: show comment management option to admin
  frontend/packages/app/src/components/comments/commentItem.tsx
  frontend/packages/app/src/components/comments/index.tsx
  frontend/packages/app/src/components/comments/types.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/useNoteComments.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/index.tsx
Due: eslint-react

feat: calendar dashboard view:
  next_pms/api/dashboard.py
Due: none

feat(dashboard): add dashboard page shell with role-based view routing
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/dashboardFilters.tsx
  frontend/packages/app/src/pages/dashboard/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/route.tsx
Due: eslint-react

fix(dashboard): fall back to a generic greeting when the name is empty
  frontend/packages/app/src/pages/dashboard/index.tsx
Due: eslint-react

refactor(dashboard): align shell with figma + split role views
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/dashboardFilters.tsx
  frontend/packages/app/src/pages/dashboard/index.tsx
  frontend/packages/app/src/pages/dashboard/leadershipView.tsx
  frontend/packages/app/src/pages/dashboard/managerView.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
Due: eslint-react

fix: docstrings
  next_pms/api/dashboard.py
Due: none

feat: calendar dashboard view (#1513)
  next_pms/api/dashboard.py
Due: none

fix: role management
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/allocations/team/layout.tsx
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/dashboardFilters.tsx
  frontend/packages/app/src/pages/dashboard/index.tsx
  frontend/packages/app/src/pages/dashboard/types.ts
  frontend/packages/app/src/pages/timesheet/components/timesheet-breadcrumbs.tsx
  frontend/packages/app/src/providers/user/index.ts
  frontend/packages/app/src/providers/user/provider.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/components/comments/index.tsx
  frontend/packages/app/src/components/timesheet-row/components/inline-time-entry/index.tsx
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/comments/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/detail/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/noteCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/add-update/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/create-risk/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/updateEntry.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/kanban/kanbanCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/list/listViewGroup.tsx
  frontend/packages/design-system/src/components/comments/commentInput.tsx
  frontend/packages/design-system/src/components/comments/commentItem.tsx
  frontend/packages/design-system/src/components/comments/commentThread.tsx
  frontend/packages/design-system/src/components/comments/componentActions.tsx
  frontend/packages/design-system/src/components/comments/context.ts
  frontend/packages/design-system/src/components/comments/index.tsx
  frontend/packages/design-system/src/components/comments/provider.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/utils/index.ts
Due: eslint-react

feat(dashboard): add summary stat cards row to dashboard views
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/leadershipView.tsx
  frontend/packages/app/src/pages/dashboard/managerView.tsx
  frontend/packages/app/src/pages/dashboard/statCard.tsx
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
