Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

feat(allocations): share project on AI allocation approval
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/doctype/resource_allocation/test_resource_allocation.py
  next_pms/tests/resource_management/api/test_allocation.py
Due: eslint-react

fix(dashboard): refresh time-off cache on leave changes
  next_pms/api/dashboard.py
  next_pms/hooks.py
Due: none

feat(growth): add growth initiative doctype
  next_pms/hooks.py
  next_pms/next_pms/doctype/pms_growth_initiative/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.json
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
Due: none

feat(growth): add growth initiative category and status masters
  next_pms/next_pms/doctype/pms_growth_initiative_category/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative_category/pms_growth_initiative_category.json
  next_pms/next_pms/doctype/pms_growth_initiative_category/pms_growth_initiative_category.py
  next_pms/next_pms/doctype/pms_growth_initiative_status/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.json
  next_pms/next_pms/doctype/pms_growth_initiative_status/pms_growth_initiative_status.py
Due: none

refactor(risk): extract owner-gated permission helper
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/utils/permissions.py
Due: none

test(growth): add growth initiative tests
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
Due: none

feat(growth): seed default growth masters
  next_pms/install.py
  next_pms/next_projects/patches/create_default_growth_masters.py
  next_pms/patches.txt
Due: none

feat: add table and tab to show growth initiatives
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/priorityBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/statusBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listView.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
Due: eslint-react

feat: add filtering
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/ownerCombobox.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/sortButton.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/toolbar.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
Due: eslint-react

feat: add create modal
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/employeeField.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/toolbar/toolbar.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/create-risk/index.tsx
  frontend/packages/app/src/pages/project-details/utils.tsx
Due: eslint-react

feat: add delete and follow functionality
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/ownerPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/useGrowthDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/rowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

feat: add edit functionality
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/project-details/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/context.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/schema.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/provider.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/rowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/riskRowActions.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/useRiskPermissions.ts
  frontend/packages/app/src/pages/project-details/useOwnerGatedPermissions.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

fix: modal
  frontend/packages/app/src/pages/project-details/tabs/growth/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/listViewGroup.tsx
Due: eslint-react

feat: add additional documents section
  frontend/packages/app/src/pages/project-details/components/documentUploadButton.tsx
  frontend/packages/app/src/pages/project-details/components/fileCard.tsx
  frontend/packages/app/src/pages/project-details/components/followersBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/ownerPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/useGrowthDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/types.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/context.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailContent.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/riskDetailHeader.tsx
  frontend/packages/app/src/pages/project-details/tabs/risks/detail/useRiskDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/types.ts
  frontend/packages/app/src/pages/project-details/tabs/risks/useRisksData.ts
  frontend/packages/app/src/pages/project-details/types.ts
Due: eslint-react

feat: add save and create another button
  frontend/packages/app/src/pages/project-details/tabs/growth/create-growth/index.tsx
Due: eslint-react

fix: table
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/priorityBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/list/cells/statusBadge.tsx
Due: eslint-react

fix: editing owners
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
Due: eslint-react

fix: owner pills
  frontend/packages/app/src/hooks/useUserDetails.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/header.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/ownerPill.tsx
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/useGrowthDetail.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/useGrowthData.ts
  next_pms/next_projects/api/user.py
Due: eslint-react

chore: Bump App Version to 2.8.0
  next_pms/__init__.py
Due: none

docs: update readme
  README.md
  next_pms/public/readme/banner.png
Due: none

fix(projects): correct tracking and sidebar calculation edge cases
  frontend/packages/app/src/pages/project-details/about/index.tsx
  frontend/packages/app/src/pages/project-details/about/progressHoursSection.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-milestone/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/calendar/create-touchpoint/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/financialsBlock.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/financialsColumn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/invoiceBurn.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/lifetimeExpected.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/lifetimeToDate.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/lifetimeVsBilled.tsx
  next_pms/next_projects/api/project.py
  next_pms/tests/next_projects/api/test_project.py
  next_pms/tests/next_projects/api/test_project_hours_fallback.py
Due: eslint-react

refactor(risk): share update log row guards
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/utils/update_log.py
Due: none

feat(growth): add update log to growth initiatives
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.json
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative_update/__init__.py
  next_pms/next_pms/doctype/pms_growth_initiative_update/pms_growth_initiative_update.json
  next_pms/next_pms/doctype/pms_growth_initiative_update/pms_growth_initiative_update.py
  next_pms/next_pms/patches/backfill_growth_initiative_update_log.py
  next_pms/patches.txt
Due: none

feat(growth): notify on status and owner changes
  next_pms/hooks.py
  next_pms/next_pms/notifications.py
  next_pms/templates/growth/activity_owner_assigned.html
Due: none

test(growth): cover update log and notifications
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
  next_pms/tests/test_growth_owner_notification.py
  next_pms/tests/test_notification_urls.py
Due: none

feat: add activity component and api
  frontend/packages/app/src/pages/project-details/components/activity/activityItem.tsx
  frontend/packages/app/src/pages/project-details/components/activity/activitySection.tsx
  frontend/packages/app/src/pages/project-details/components/activity/types.ts
  frontend/packages/app/src/pages/project-details/components/activity/useActivity.ts
  frontend/packages/app/src/pages/project-details/tabs/growth/detail/content.tsx
  next_pms/next_projects/api/activity.py
  next_pms/tests/test_activity.py
Due: eslint-react

chore: update claude md file and add a local claude file
  .gitignore
  CLAUDE.md
Due: none

chore: update skills and project structure doc section
  CLAUDE.md
Due: none

chore: update conventions skill
  .claude/skills/next-pms-conventions/SKILL.md
  CLAUDE.md
Due: none

docs(skills): add next-pms-wiki documentation pipeline skill
  .claude/skills/next-pms-wiki/SKILL.md
  .claude/skills/next-pms-wiki/evals/evals.json
  .claude/skills/next-pms-wiki/references/capture.md
  .claude/skills/next-pms-wiki/references/coverage.md
  .claude/skills/next-pms-wiki/references/data-scoping.md
  .claude/skills/next-pms-wiki/references/orchestration.md
  .claude/skills/next-pms-wiki/references/page-template.md
  .claude/skills/next-pms-wiki/references/preview-publish.md
  .claude/skills/next-pms-wiki/references/privacy.md
  .claude/skills/next-pms-wiki/references/seeding.md
  .claude/skills/next-pms-wiki/scripts/annotate.py
  .gitignore
Due: none

docs(e2e): list the data a fresh site needs before the suite runs
  tests/e2e/SEED-DATA.md
Due: none

feat(growth): lock client priority to the update log
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative_update/pms_growth_initiative_update.json
  next_pms/next_pms/doctype/pms_growth_initiative_update/pms_growth_initiative_update.py
  next_pms/next_pms/patches/backfill_growth_initiative_update_log.py
Due: none

fix(allocations): address AI allocation review feedback
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/projectSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
  next_pms/resource_management/api/team.py
Due: eslint-react

docs(e2e): add a quick-reference table of the seed data
  tests/e2e/SEED-DATA.md
Due: none

docs(e2e): trim to just the pre-run data list
  tests/e2e/SEED-DATA.md
Due: none

docs(e2e): note the two hardcoded values a fresh site still hits
  tests/e2e/SEED-DATA.md
Due: none

fix(growth): validate status and closed status on update log rows
  next_pms/next_pms/doctype/pms_growth_initiative/pms_growth_initiative.py
  next_pms/next_pms/doctype/pms_growth_initiative/test_pms_growth_initiative.py
Due: none

fix(e2e): derive TC53's expected roster instead of hardcoding it
  tests/e2e/data/manager/team.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

docs(e2e): drop the note about the two hardcoded values
  tests/e2e/SEED-DATA.md
Due: none

feat(allocations): show AI allocation reason during approval
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.json
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/resource_management/doctype/resource_allocation/test_resource_allocation.py
  next_pms/tests/resource_management/api/test_project_view.py
  next_pms/tests/resource_management/api/test_team.py
Due: eslint-react
