Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

commit for test case TC24
  tests/e2e/data/manager/task.json
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/taskHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/task.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

commit : passing tests
  tests/e2e/helpers/taskHelper.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

fix lint issues
  tests/e2e/pageObjects/taskPage.js
Due: eslint-js

fix lint issues
  tests/e2e/helpers/taskHelper.js
  tests/e2e/specs/employee/task.spec.js
Due: eslint-js

format code and fix lint issues
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

remove unused lines of code
  tests/e2e/helpers/taskHelper.js
Due: eslint-js

fix: Calculate working hour between date range
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
Due: none

fix: Remove name filter from employee list
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
Due: none

Add weekend-hours in total hour calculation and show weekend hours in header
  frontend/packages/app/src/app/components/timesheet-table/components/header.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/index.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/totalRow.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/types.ts
  frontend/packages/app/src/app/components/timesheet-table/components/types.ts
  frontend/packages/app/src/app/components/timesheet-table/index.tsx
  frontend/packages/app/src/app/pages/team/components/employeeTimesheetTable.tsx
Due: eslint-react

Fix week-name alignment in home page
  frontend/packages/app/src/app/pages/home/index.tsx
Due: eslint-react

Highligh submit-btn when reaching expected working hours
  frontend/packages/app/src/app/components/timesheet-table/components/submitButton.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/types.ts
  frontend/packages/app/src/app/pages/timesheet/index.tsx
Due: eslint-react

feat: Add context provider for dark mode
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/providers/theme/context.tsx
  frontend/packages/app/src/providers/theme/hook.ts
  frontend/packages/app/src/providers/theme/index.tsx
  frontend/packages/app/src/providers/theme/type.ts
  frontend/packages/app/src/store/user.ts
  frontend/packages/app/src/types/index.ts
Due: eslint-react

refactor: Add dark mode to sidebar
  frontend/packages/app/src/app/layout/sidebar/index.tsx
Due: eslint-react

Included Prerequisite Steps for TC2 and tested it. Works as expected
  tests/e2e/data/employee/timesheet.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

refactor: fix color in timesheet table component
  frontend/packages/app/src/app/components/list-view/header/filterValue.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/dataCell.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/header.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/index.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/leaveRow.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/totalRow.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/taskHoverCard.tsx
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/design-system/src/components/table/index.tsx
  frontend/packages/design-system/src/index.css
  next_pms/project_currency/overrides/timesheet.py
Due: eslint-react

refactor: Add dark colors for home page
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/design-system/src/utils/index.ts
Due: eslint-react

fix: update dark colors for submit button
  frontend/packages/app/src/app/components/timesheet-table/components/submitButton.tsx
  frontend/packages/design-system/src/components/skeleton/index.tsx
Due: eslint-react

refactor: Add dark colors for team page
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/design-system/src/components/table/index.tsx
Due: eslint-react

changes included for TC4. Both TC2 and TC4 works as expected now.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

chore: Remove stale code
  frontend/packages/app/src/app/components/list-view/createView.tsx
  frontend/packages/app/src/app/components/list-view/dataCell.tsx
  frontend/packages/app/src/app/pages/project/columns.tsx
Due: eslint-react

TC05 working as expected. Tested tc02,tc04 and tc05
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

prettier formating
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

fix lint issues
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

refactor: Update dark colors for resource management page
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/timeLineDateHeader.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/item/allocationItemRender.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/timeLine.tsx
  frontend/packages/resource-management/src/components/table/cell/resourceTableCell.tsx
  frontend/packages/resource-management/src/components/table/cell/tableCellContent.tsx
  frontend/packages/resource-management/src/components/table/row/tableDisabledRow.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/utils/cell.ts
Due: eslint-react

Add get_user_calendar_events API
  next_pms/timesheet/api/google_calendar.py
Due: none

fix: Update dark color for task log
  frontend/packages/app/src/app/pages/task/components/taskLog.tsx
Due: eslint-react

fix: add color for dark theme on view section
  frontend/packages/app/src/app/components/timesheet-table/components/row/index.tsx
  frontend/packages/app/src/app/layout/sidebar/viewLoader.tsx
Due: eslint-react

Remove user appointment availablity dependency
  next_pms/timesheet/api/google_calendar.py
Due: none

chore: Add button to change the theme
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/providers/theme/context.tsx
  frontend/packages/app/src/providers/theme/index.tsx
  frontend/packages/app/src/providers/theme/type.ts
Due: eslint-react

Add ImportFromGoogleCalendarDialog,related actions and states
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
  frontend/packages/app/src/app/pages/timesheet/components/types.ts
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/app/pages/timesheet/reducer.ts
  next_pms/timesheet/api/google_calendar.py
Due: eslint-react

Fix dialog styles
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

Fix disabled logic on Add Time button
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

chore: Add total hours columns in capacity planning report
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
Due: none

fix: Update scrollbar in dark mode
  frontend/packages/app/src/global.css
Due: none

Update event fetch API and change dialogBox UI
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
  frontend/packages/app/src/app/pages/timesheet/components/types.ts
  next_pms/api/__init__.py
  next_pms/api/utils.py
Due: eslint-react

Add error Toasts
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

Make dialog responsive on smaller devices
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

Integratebulk_save api to create event timesheets
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

Handle google calendar fetch event error and change date strings
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  next_pms/api/__init__.py
Due: eslint-react

Add dark-mode styles to event dialogbox
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
