Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

feat: add delete functionality for notes template
  frontend/packages/app/src/hooks/useRemoteLookup.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
Due: eslint-react

feat: add edit functionality
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/editor/saveTemplateDialog.tsx
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

feat: add support for column reordering and pinning on the Projects list page
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/header.tsx
  frontend/packages/app/src/pages/projects/list/columns/panel.tsx
  frontend/packages/app/src/pages/projects/list/columns/panelRow.tsx
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/pages/projects/list/columns/utils.ts
  frontend/packages/app/src/pages/projects/list/view.tsx
  frontend/packages/app/src/providers/views/index.ts
  frontend/packages/app/src/providers/views/provider.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/components/projectsHeader.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/panel.tsx
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/pages/projects/list/view.tsx
Due: eslint-react

perf(ci): skip asset builds for dependency apps
  .github/workflows/build-test.yml
Due: none

perf(ci): cache bench apps and virtualenv
  .github/workflows/unit-tests.yml
Due: none

feat: let project managers approve their own project's entries
  frontend/packages/app/src/components/timesheet-row/projectTimesheetRow.tsx
  frontend/packages/app/src/components/timesheet-row/teamTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetWeek.tsx
  frontend/packages/app/src/pages/timesheet/project/types.ts
  frontend/packages/app/src/pages/timesheet/project/utils.ts
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetWeek.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/index.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/provider.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/rejectionPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/types.ts
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/utils.ts
Due: eslint-react

feat(risk): notify risk owner on assignment
  next_pms/hooks.py
  next_pms/next_pms/notifications.py
  next_pms/templates/risk/risk_owner_assigned.html
  next_pms/tests/test_risk_owner_notification.py
Due: none

chore: bump app version to 2.6.0
  next_pms/__init__.py
Due: none

fix: allignment
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
Due: eslint-react

fix: ordering
  frontend/packages/app/src/hooks/useNoteTemplateLookup.ts
  frontend/packages/app/src/pages/project-details/tabs/notes/templateDialog.tsx
Due: eslint-react

fix: tracking tab widget layout
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/financialsBlock.tsx
  frontend/packages/app/src/pages/project-details/tabs/tracking/components/financialsColumn.tsx
Due: eslint-react

feat(allocation): allow day overrides on holidays and leave days
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/leave_sync.py
  next_pms/resource_management/doc_events/leave_application.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.json
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/tests/resource_management/api/test_allocation.py
Due: none

fix(allocation): expose include_holidays in team and project payloads
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
Due: none

fix(risk): deliver owner email with the notification
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/notifications.py
  next_pms/tests/test_risk_owner_notification.py
Due: none

fix(notifications): keep oversized labels from dropping notifications
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
  next_pms/next_pms/notifications.py
  next_pms/tests/test_risk_owner_notification.py
Due: none

fix: subheader layout shifts
  frontend/packages/app/src/pages/projects/index.tsx
  frontend/packages/app/src/pages/projects/list/view.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/components/timesheet-row/projectTimesheetRow.tsx
  frontend/packages/app/src/pages/timesheet/project/types.ts
  frontend/packages/app/src/pages/timesheet/project/utils.ts
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/utils.ts
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/utils.py
Due: eslint-react

feat(pm-report): improve error handling with failure message, trace id, and line clamping
  frontend/packages/app/src/pages/project-details/tabs/reports/constants.ts
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
  frontend/packages/app/src/pages/project-details/tabs/reports/reportsTable.tsx
  frontend/packages/app/src/pages/project-details/types.ts
  next_pms/api/generate_pm_report.py
  next_pms/next_pms/doctype/project_report/project_report.json
  next_pms/tests/test_pm_report.py
Due: eslint-react

feat(pm-report): add Next PMS sidebar notifications for success and failure states
  frontend/packages/app/src/providers/notifications/provider.tsx
  next_pms/api/generate_pm_report.py
  next_pms/tests/test_pm_report.py
Due: eslint-react

fix: linter issues
  frontend/packages/app/src/pages/project-details/types.ts
Due: eslint-react

test: fix project title case sensitivity and revert submodule
  next_pms/tests/test_pm_report.py
Due: none

feat: add support for allocation on holidays
  frontend/packages/app/src/pages/allocations/overrideUtils.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleDateSelectionField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/utils.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationPopover.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/memberSummaryBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/timeoffBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/getMemberAllocation.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

feat: add column selector to tasks and project list page
  frontend/package-lock.json
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/panel.tsx
  frontend/packages/app/src/pages/projects/list/columns/panelRow.tsx
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/pages/tasks/components/subHeader.tsx
  frontend/packages/app/src/pages/tasks/list/columns.ts
  frontend/packages/app/src/pages/tasks/list/useTaskColumns.ts
  frontend/packages/app/src/pages/tasks/list/view.tsx
Due: eslint-react

fix: translate user-facing messages and notification strings
  next_pms/api/generate_pm_report.py
Due: none

chore: add employee availability hook
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/utils.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/utils.ts
  frontend/packages/app/src/pages/allocations/types.ts
  frontend/packages/app/src/pages/allocations/useEmployeeAvailability.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

feat(allocations): add department multiselect filter to team view API
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
Due: none

test(allocations): add coverage for department filter on team view
  next_pms/tests/resource_management/api/test_team.py
Due: none

fix(frontend): unbind specific socket event handler and remove redundant revalidation
  frontend/packages/app/src/pages/project-details/tabs/reports/reportGenerationForm.tsx
  frontend/packages/app/src/providers/notifications/provider.tsx
Due: eslint-react

build(e2e): pin the tests workspace to commonjs
  tests/package.json
Due: none

test(e2e): repair the Playwright suite after the PMS 2.0 redesign
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/project.js
  tests/e2e/data/manager/task.js
  tests/e2e/data/manager/team.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/pageObjects/sidebar.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee3/timesheet3.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/apiClient.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/erpNextRequests.js
  tests/e2e/utils/api/frappeRequests.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/resourceManagementRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/api/timesheetRequests.js
  tests/e2e/utils/api/userGroupRequests.js
Due: eslint-js

docs(e2e): add the next-pms-e2e skill and reference it from CLAUDE.md
  .claude/skills/next-pms-e2e/SKILL.md
  .claude/skills/next-pms-e2e/references/probing.md
  .claude/skills/next-pms-e2e/references/selectors.md
  .claude/skills/next-pms-e2e/references/traps.md
  .claude/skills/next-pms-e2e/scripts/cleanup.mjs
  .claude/skills/next-pms-e2e/scripts/probe.mjs
  .claude/skills/next-pms-e2e/scripts/results.py
  .gitignore
  CLAUDE.md
Due: none

feat: add department filter to team allocation
  frontend/packages/app/src/hooks/useDepartmentLookup.ts
  frontend/packages/app/src/pages/allocations/team/context.ts
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
Due: eslint-react

chore: keep an emptied day selection emptied in weekly approval
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/approvalPopup.tsx
  frontend/packages/app/src/pages/timesheet/team/weekly-approval/provider.tsx
Due: eslint-react

fix: fail loudly on missing exchange rates instead of silent rate-1 fallback
  next_pms/api/utils.py
  next_pms/next_pms/report/client_profitability/client_profitability.py
  next_pms/next_projects/api/project.py
  next_pms/project_currency/overrides/timesheet.py
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
  next_pms/timesheet/api/project.py
  next_pms/utils/currency.py
  next_pms/utils/employee.py
Due: none

feat(permissions): update Next PMS 2.0 role access
  frontend/packages/app/src/components/settings/index.tsx
  frontend/packages/app/src/layout/index.tsx
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/route.tsx
  next_pms/api/dashboard.py
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/team.py
Due: eslint-react

fix(timesheet): only park a week for a run that will clear it
  next_pms/tests/timesheet/api/test_team.py
  next_pms/timesheet/api/team.py
Due: none

chore: add pm role to constant
  next_pms/timesheet/api/utils.py
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
