Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Remove extra padding from calendar comp in design-system
  frontend/packages/design-system/src/components/calendar/index.tsx
Due: eslint-react

Change google calendar error title
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
  next_pms/api/__init__.py
Due: eslint-react

Included .only to run the scripts that has a proper prerequisite
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fix typo in EmptyTableCell
  frontend/packages/resource-management/src/components/table/cell/emptyTableCell.tsx
Due: eslint-react

fix: Show resizer in dark mode
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/resource-management/src/components/table/cell/tableCellContent.tsx
  frontend/packages/resource-management/src/utils/cell.ts
Due: eslint-react

Fix ui update issues when adding timesheet through event dialogBox
  frontend/packages/app/src/app/pages/timesheet/components/footer.tsx
  frontend/packages/app/src/app/pages/timesheet/components/importFromGoogleCalendarDialog.tsx
Due: eslint-react

Fix table header styles in dark-mode
  frontend/packages/app/src/app/pages/task/components/columns.tsx
  frontend/packages/app/src/app/pages/task/components/table.tsx
Due: eslint-react

Add media-query to fix scroll-bar styles on smaller devices
  frontend/packages/app/src/global.css
Due: none

Fix text style in editTime compo in dark mode
  frontend/packages/app/src/app/pages/timesheet/components/editTime.tsx
Due: eslint-react

Add dark-mode styles to skill-search component
  frontend/packages/app/src/app/pages/resource-management/team/components/skillSearch.tsx
Due: eslint-react

Disable update weekly status in onsubmit-hook
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Addressed: Duplicate function naming, handle api failures, solved for repititive code and tested the new changes
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

lint issue
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update timesheet.json
  tests/e2e/data/employee/timesheet.json
Due: none

Update globalSetup.js
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update storageStateHelper.js
  tests/e2e/helpers/storageStateHelper.js
Due: eslint-js

Update timesheetHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update timesheetPage.js
  tests/e2e/pageObjects/timesheetPage.js
Due: eslint-js

Create authRequestForStorage.js
  tests/e2e/utils/api/authRequestForStorage.js
Due: eslint-js

Create newChangeAuth.js
  tests/e2e/utils/api/newChangeAuth.js
Due: eslint-js

updated the taskRequest file
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/newChangeAuth.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

lint issues and added proper comments
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/utils/api/authRequestForStorage.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

Lint: whitespace difference
  tests/e2e/utils/api/authRequestForStorage.js
Due: eslint-js

Feedback: Implemented single storageState
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Lint: Remove unused var
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Feedback: Handled the if statement
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Lint issue
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

lint issues
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

use single worker until storage state is fixed
  package.json
Due: none

run updated tests
  tests/e2e/playwright.config.js
Due: eslint-js

data for TC14 and TC15
  tests/e2e/data/employee/timesheet.json
Due: none

Updated data for TC25 and TC26
  tests/e2e/data/manager/task.json
Due: none

new shared-task included
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update timesheetHelper.js to accomodate changes for TCs
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update: Removed .only
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Update task.spec.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Update: included optional parameter for createTask
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

addressed feedbacks
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

lint issue
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

new test cases
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/task.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
