Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

fix: update GitHub workflow runners based on repo visibility
  .github/workflows/linter.yml
  .github/workflows/vulnerable_dependency_check.yml
Due: none

Workflow: Build Test: Better handle permission issues
  .github/workflows/build-test.yml
Due: none

Workflow: Add Build Test workflow (#554)
  .github/workflows/build-test.yml
Due: none

fix pipeline issues
  tests/e2e/data/manager/task.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/utils/api/frappeRequests.js
Due: eslint-js

Fix emptyProjectComboBox value
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
Due: eslint-react

Update source,industry fieldtype and hooks.py to export field_order
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
  next_pms/hooks.py
Due: none

Update fieldRenderer component to ignore empty coloumns
  frontend/packages/app/src/app/components/form-view/components/fieldRenderer.tsx
Due: eslint-react

fix : changed the deleteTaskByName function. Local commit
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix: Remove costing elated information from timesheet data
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/utils/constant.py
Due: none

Fix undefined image issues in resource management
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expand-view/expandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/resourceExpandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/item/allocationItemRender.tsx
Due: eslint-react

Add last updated info in resource Allocation HoverCard
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/lastUpdatedInfo.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/types/resource_management.ts
  next_pms/resource_management/api/team.py
Due: eslint-react

Make members column sticky
  frontend/packages/resource-management/src/components/table/row/resourceTableRow.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
Due: eslint-react

Add right border to sticky column
  frontend/packages/resource-management/src/components/table/row/resourceTableRow.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
Due: eslint-react

Enhance LastUpdateInfo component
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/lastUpdatedInfo.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationList.tsx
  frontend/packages/resource-management/src/components/table/cell/resourceTableCell.tsx
  next_pms/resource_management/api/team.py
Due: eslint-react

refactor: leaveRequest fix: deletion of unhandled leave request
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/leaveRequests.js
Due: eslint-js

refactor: unwanted code
  tests/e2e/helpers/leaveHelper.js
Due: eslint-js

Enhance LastUpdateInfo component
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/lastUpdatedInfo.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationList.tsx
Due: eslint-react

fix: remove unwanted comment
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Hide users and monitor_progress section
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  next_pms/fixtures/property_setter.json
Due: eslint-react

data for TC96,97,98
  tests/e2e/data/employee/timesheet.json
Due: none

feat : Update timesheetHelper.js to accomodate changes for TC96,97,98
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

feat : Update timesheet.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Add Creation field in LastInfo
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/lastUpdatedInfo.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/types/resource_management.ts
  next_pms/resource_management/api/team.py
Due: eslint-react

fix: directly add object into reponse data
  next_pms/timesheet/api/timesheet.py
Due: none

Fix linting issues
  frontend/eslint.config.js
  frontend/packages/app/src/app/components/form-view/components/dynamicFormDialog.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
  frontend/packages/app/src/app/components/form-view/context.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/components/list-view/empty.tsx
  frontend/packages/app/src/app/components/list-view/utils.ts
  frontend/packages/app/src/app/pages/project/utils.ts
  frontend/packages/app/src/lib/storage.ts
  frontend/packages/app/src/schema/task.ts
  frontend/packages/app/src/schema/timesheet.ts
  frontend/packages/app/src/store/timesheet.ts
  frontend/packages/app/src/store/view.ts
  frontend/packages/app/src/types/task.ts
  frontend/packages/app/src/types/team.ts
  frontend/packages/design-system/src/components/badge/badgeVariants.ts
  frontend/packages/design-system/src/components/button/buttonVariants.ts
  frontend/packages/design-system/src/components/form/hooks.ts
  frontend/packages/design-system/src/components/form/type.ts
  frontend/packages/design-system/src/components/toast/toaster.tsx
  frontend/packages/design-system/src/hooks.ts
  frontend/packages/design-system/src/index.ts
  frontend/packages/hooks/src/index.ts
  frontend/packages/hooks/src/useGetFrappeDocTypeCount.ts
  frontend/packages/hooks/src/useGetFrappeDoctypeMeta.ts
  frontend/packages/hooks/src/useInfiniteScroll.ts
  frontend/packages/hooks/src/usePagination.ts
  frontend/packages/hooks/src/useQueryParam.ts
  frontend/vite.config.ts
  next_pms/next_pms/report/client_profitability/client_profitability.js
  next_pms/public/js/project.js
  next_pms/resource_management/report/capacity_planning/capacity_planning.js
  next_pms/resource_management/report/employee_billability/employee_billability.js
  next_pms/resource_management/report/over_capacity/over_capacity.js
  next_pms/timesheet/patches/remove_project_name_from_task_rows.py
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-react, eslint-js

fix : set the custom billing type for test cases
  tests/e2e/data/employee/timesheet.json
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix: lint issues
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Update timesheet.json for TC99, 100 and 101
  tests/e2e/data/employee/timesheet.json
Due: none

Workflow: Build Test: Update with new configuration
  .github/workflows/build-test.yml
Due: none

Update globalSetup.js : included json file for task to delete
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update timesheetHelper.js : included Tc99-100-101
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Update taskPage.js : included writing task name into json file if task is being added through UI
  tests/e2e/pageObjects/taskPage.js
Due: eslint-js

Update timesheet.spec.js : 99,100,101
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Workflow: Build Test: Update with new configuration (#577)
  .github/workflows/build-test.yml
Due: none

Workflow: Build Test: Update with new build configuration
  .github/workflows/build-test.yml
Due: none

Workflow: Build Test: Update with new build configuration (#578)
  .github/workflows/build-test.yml
Due: none

fix : updated the console logs
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix : working TCs : 99, 100 and 101
  .gitignore
  tests/e2e/data/employee/timesheet.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

fix : remove emoji
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix : remove .only
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
