Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

chore: Publish timesheet events to session user
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Fix comment schema and add feature to share comments
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/project/types.ts
  frontend/packages/app/src/app/pages/project/utils.ts
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
  frontend/packages/design-system/src/components/comments/Comments.tsx
  frontend/packages/design-system/src/components/comments/CommentsList.tsx
  frontend/packages/design-system/src/components/comments/types.ts
  frontend/packages/design-system/src/index.css
  next_pms/timesheet/api/project_status_update.py
Due: eslint-react

Refactor formatDate utility
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/project/utils.ts
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
  frontend/packages/design-system/src/utils/date.ts
Due: eslint-react

Make comment list responsive and fix title overflow issues
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/design-system/src/components/comments/CommentInput.tsx
  frontend/packages/design-system/src/components/comments/CommentItem.tsx
Due: eslint-react

Remove manual email sending in notify_mentions
  next_pms/timesheet/api/project_status_update.py
Due: none

Remove explicit bg color from avatar fallback
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
Due: eslint-react

Remove debug stmnts and explicit bg color from skeletons
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
Due: eslint-react

Remove unnecessary responses from notify_user utility
  next_pms/timesheet/api/project_status_update.py
Due: none

Add mention_notification template for emails
  next_pms/timesheet/api/project_status_update.py
  next_pms/timesheet/templates/project_status_update/mention_notification.html
Due: none

fix: update project filter for task filteration
  next_pms/timesheet/api/task.py
Due: none

Add publish_notification template
  next_pms/timesheet/api/project_status_update.py
  next_pms/timesheet/templates/project_status_update/publish_notification.html
Due: none

Use db.get_value to fetch user details in get API instead of loading full doc
  next_pms/timesheet/api/project_status_update.py
Due: none

Update project_status_update.json
  next_pms/next_pms/doctype/project_comments/project_comments.json
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
Due: none

Add Permissions for project manager
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
Due: none

Use error-logger decorartor for logging and throwing errors
  next_pms/timesheet/api/project_status_update.py
Due: none

fix: Update logic for filtering project based on roles
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/task.py
Due: none

fix : update playwright fix : flaky tests
  package-lock.json
  package.json
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix : enhanced assertions
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix : TC5 flaky
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee3/timesheet3.spec.js
Due: eslint-js

fix lint issue
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix flaky tests on main
  package-lock.json
  package.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee3/timesheet3.spec.js
Due: eslint-js

Add support for multiple project updates
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  next_pms/timesheet/api/project_status_update.py
  next_pms/timesheet/templates/project_status_update/publish_notification.html
Due: eslint-react

Remove Review status
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
Due: eslint-react

Fix mention-bubble deletion issue
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Enable track changes for Project Status Update Doctype
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
Due: none

Change Templete msg for publish email
  next_pms/timesheet/templates/project_status_update/publish_notification.html
Due: none

chore: Add company filter in appraisal report
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: none

Fix linkfield filtering issue
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
Due: eslint-react

Add debounce to Linkfield
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
Due: eslint-react

feat: add is_tentative checkbox
  frontend/packages/app/src/app/pages/resource-management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
  frontend/packages/app/src/schema/resource.ts
  next_pms/resource_management/api/team.py
Due: eslint-react

fix: is_tentative state when editing allocation
  frontend/packages/app/src/app/pages/resource-management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
Due: eslint-react

feat: add patch to convert all Resource Allocation to 'Confirmed'
  next_pms/patches.txt
  next_pms/resource_management/patches/update_resource_allocation_status.py
Due: none

Change runner from self-hosted to ubuntu-latest
  .github/workflows/build-test.yml
Due: none

Change linter runner to ubuntu-latest
  .github/workflows/linter.yml
Due: none

Change build runner to use ubuntu-latest
  .github/workflows/pr-test-build.yml
Due: none

Change runner from self-hosted to ubuntu-latest
  .github/workflows/vulnerable_dependency_check.yml
Due: none

fix: types for linting
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
Due: eslint-react

fix: add is_tentative to false as default option
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
Due: eslint-react

Potential fix for code scanning alert no. 13: Workflow does not contain permissions
  .github/workflows/build-test.yml
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
