Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

chore:address reviews
  frontend/packages/app/src/pages/projects/detail/about/components/expandableList.tsx
  frontend/packages/app/src/pages/projects/detail/about/section.tsx
Due: eslint-react

feat(projects): add Tracking tab KPI metric cards (#1233)
  frontend/packages/app/src/global.css
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/costBurnCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/fake-data.ts
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/hoursUsageCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/index.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/invoiceBurnCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/taskCompletionCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/types.ts
Due: eslint-react

refactor(projects): address PR #1295 review feedback
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/costBurnCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/format.ts
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/hoursUsageCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/invoiceBurnCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/taskCompletionCard.tsx
Due: eslint-react

fix: flicker issue
  frontend/packages/app/src/layout/index.tsx
  frontend/packages/app/src/providers/frappe/index.tsx
Due: eslint-react

refactor(projects): drop compact-USD formatter on Tracking KPI cards
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/costBurnCard.tsx
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/format.ts
  frontend/packages/app/src/pages/projects/detail/tabs/tracking/invoiceBurnCard.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/allocations/team/context.ts
  frontend/packages/app/src/pages/allocations/team/provider.tsx
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/hooks/src/usePagination.ts
Due: eslint-react

chore: fix doc type and component names
  frontend/packages/app/src/pages/allocations/team/layout.tsx
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/hooks/src/usePagination.ts
Due: eslint-react

feat: real-time status tracking with resync support
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
  next_pms/api/generate_pm_report.py
  next_pms/next_pms/doctype/project_report/project_report.json
Due: eslint-react

fix: move logic to function and enqueue doc
  next_pms/next_projects/doc_events/employee.py
  next_pms/next_projects/doc_events/employee_promotion.py
Due: none

fix: add method to doc_event
  next_pms/next_projects/doc_events/employee.py
  next_pms/next_projects/doc_events/employee_promotion.py
Due: none

feat: add customer field
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationModal.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
  frontend/packages/design-system/src/components/gantt-view/utils.ts
Due: eslint-react

feat: add new doctype project_status_update_template
  next_pms/next_pms/doctype/project_status_update_template/__init__.py
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.js
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.json
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.py
  next_pms/next_pms/doctype/project_status_update_template/test_project_status_update_template.py
Due: eslint-js

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/add-allocation/constants.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/schema.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationModal.ts
Due: eslint-react

fix: table styles
  frontend/packages/app/src/pages/projects/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/budgetProgressCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/fake-data.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/sub-header.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/design-system/src/components/progress-bar/index.tsx
Due: eslint-react

feat: add the extra fields custom_work_schedule, custom_working_hours, reports_to, ctc, and salary_currency (#1288)
  next_pms/resource_management/api/team.py
  next_pms/timesheet/api/__init__.py
Due: none

feat: add notes filter by author and sorting by modified date (#1290)
  next_pms/timesheet/api/project_status_update.py
Due: none

feat: enable python type annotations in hooks.py
  next_pms/hooks.py
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.json
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.py
Due: none

fix: pull real data
  frontend/packages/app/src/pages/projects/list/cells/dot.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/sub-header.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/hooks/src/index.ts
  frontend/packages/hooks/src/useProjectPhase.ts
Due: eslint-react

chore: fix eslint error
  frontend/packages/app/src/pages/projects/list/index.tsx
Due: eslint-react

fix: address code review
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
  next_pms/api/generate_pm_report.py
  next_pms/next_pms/doctype/project_report/project_report.json
Due: eslint-react

feat: enhance error fallback component to show errors
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/layout/index.tsx
  frontend/packages/app/src/providers/user/index.ts
  frontend/packages/app/src/providers/user/provider.tsx
  frontend/packages/design-system/src/components/error-fallback/index.tsx
Due: eslint-react

chore: add doc comment
  frontend/packages/design-system/src/components/error-fallback/index.tsx
Due: eslint-react

fix(pm-report): increase poll interval from 5s to 30s
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
Due: eslint-react

fix(pm-report): add frontend date validation and consistent UI
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
Due: eslint-react

fix: use mergeClassNames utility for conditional class merging
  frontend/packages/app/src/app/pages/project/project-detail/components/pm-report.tsx
Due: eslint-react

feat: risk and risk update doctype
  next_pms/hooks.py
  next_pms/next_pms/doctype/risk/__init__.py
  next_pms/next_pms/doctype/risk/risk.js
  next_pms/next_pms/doctype/risk/risk.json
  next_pms/next_pms/doctype/risk/risk.py
  next_pms/next_pms/doctype/risk/test_risk.py
  next_pms/next_pms/doctype/risk_update/__init__.py
  next_pms/next_pms/doctype/risk_update/risk_update.json
  next_pms/next_pms/doctype/risk_update/risk_update.py
Due: eslint-js

feat: add new doctype `Project Status Update Template` (#1299)
  next_pms/hooks.py
  next_pms/next_pms/doctype/project_status_update_template/__init__.py
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.js
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.json
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.py
  next_pms/next_pms/doctype/project_status_update_template/test_project_status_update_template.py
Due: eslint-js

chore: address reviews
  frontend/packages/app/src/layout/index.tsx
  frontend/packages/app/src/providers/user/provider.tsx
Due: eslint-react

feat: add lookup hooks
  frontend/packages/app/src/components/filters/reportsToFilter.tsx
  frontend/packages/app/src/hooks/useApproverOptions.ts
  frontend/packages/app/src/hooks/useApprovers.ts
  frontend/packages/app/src/hooks/useEmployeeLookup.ts
  frontend/packages/app/src/hooks/useProjectLookup.ts
  frontend/packages/app/src/hooks/useRemoteLookup.ts
  frontend/packages/app/src/hooks/useTaskLookup.ts
Due: eslint-react

feat: update timesheet modals to use look up hooks
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
  frontend/packages/app/src/pages/timesheet/components/submit-approval/index.tsx
  frontend/packages/app/src/pages/timesheet/components/submit-approval/types.ts
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-time/index.tsx
Due: eslint-react

feat: add kanban-view
  frontend/package-lock.json
  frontend/packages/app/src/pages/projects/detail/about/types.ts
  frontend/packages/app/src/pages/projects/fake-data.ts
  frontend/packages/app/src/pages/projects/kanban.tsx
  frontend/packages/app/src/pages/projects/kanban/constants.ts
  frontend/packages/app/src/pages/projects/kanban/header.tsx
  frontend/packages/app/src/pages/projects/kanban/index.tsx
  frontend/packages/app/src/pages/projects/kanban/projectCard.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/projectNameCell.tsx
  frontend/packages/app/src/pages/projects/list/constants.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/app/src/pages/projects/types.ts
  frontend/packages/design-system/package.json
  frontend/packages/design-system/src/components/dnd/draggable.tsx
  frontend/packages/design-system/src/components/dnd/droppable.tsx
  frontend/packages/design-system/src/components/dnd/index.ts
  frontend/packages/design-system/src/components/index.ts
Due: eslint-react

feat: update allocations team modal to use look up hooks
  frontend/packages/app/src/hooks/useCustomerLookup.ts
  frontend/packages/app/src/hooks/useProjectLookup.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
Due: eslint-react

fix: add permission for PMs in Customer Doctype
  next_pms/next_projects/patches/add_customer_permissions_for_projects_manager.py
  next_pms/patches.txt
Due: none

fix: build errors
  frontend/package-lock.json
  frontend/packages/app/src/pages/projects/detail/about/index.tsx
  frontend/packages/app/src/pages/projects/detail/index.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/hooks/useApproverOptions.ts
  frontend/packages/app/src/hooks/useCustomerLookup.ts
  frontend/packages/app/src/hooks/useDebounce.ts
  frontend/packages/app/src/hooks/useEmployeeLookup.ts
  frontend/packages/app/src/hooks/useImportedTasks.ts
  frontend/packages/app/src/hooks/useProjectLookup.ts
  frontend/packages/app/src/hooks/useRemoteLookup.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-time/index.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

feat: connect table with new api
  frontend/packages/app/src/pages/projects/list/cells/TextCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/dateCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/employeeCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/cells/phaseCell.tsx
  frontend/packages/app/src/pages/projects/list/cells/stagesIcon.tsx
  frontend/packages/app/src/pages/projects/list/columns.ts
  frontend/packages/app/src/pages/projects/list/index.tsx
  frontend/packages/app/src/pages/projects/list/types.ts
  next_pms/next_projects/api/project.py
Due: eslint-react

enhance Employee interface and add utility functions for currency formatting and capacity representation
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
Due: eslint-react

feat: add role permission for projects manager, enable track changes, add index for projects field
  next_pms/next_pms/doctype/risk/risk.json
  next_pms/next_pms/doctype/risk/risk.py
Due: none
