Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Add CustomViewWrapper and ability to save filters in timeline view
  frontend/packages/app/src/app/components/customViewWrapper.tsx
  frontend/packages/app/src/app/pages/resource-management/store/timeLineContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/types.ts
  frontend/packages/app/src/app/pages/resource-management/timeline/utils.ts
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Add Save view feature in resource-team-view
  frontend/packages/app/src/app/pages/resource-management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/team/utils.ts
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
Due: eslint-react

fix : updated code to contain locator in constructor
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix : lint issue
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

fix : playwright scripts to run on pull request
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : format
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : run PR check only when the PR is approved
  .github/workflows/e2e-playwright-test.yml
Due: none

Add Save filter feature in project page
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/index.tsx
  frontend/packages/app/src/app/pages/resource-management/project/utils.ts
  frontend/packages/app/src/app/pages/resource-management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
Due: eslint-react

Update conditionals for additional commands
  .github/workflows/e2e-playwright-test.yml
Due: none

Update condiontional for additional commands
  .github/workflows/e2e-playwright-test.yml
Due: none

Add Save filter feature in home page
  frontend/packages/app/src/app/pages/home/header.tsx
  frontend/packages/app/src/app/pages/home/index.tsx
  frontend/packages/app/src/app/pages/home/reducer.ts
  frontend/packages/app/src/app/pages/home/types.ts
  frontend/packages/app/src/app/pages/home/utils.ts
Due: eslint-react

Add Save filter feature in team page
  frontend/packages/app/src/app/pages/team/components/header.tsx
  frontend/packages/app/src/app/pages/team/components/types.ts
  frontend/packages/app/src/app/pages/team/employee-detail/types.ts
  frontend/packages/app/src/app/pages/team/index.tsx
  frontend/packages/app/src/app/pages/team/reducer.ts
  frontend/packages/app/src/app/pages/team/utils.ts
Due: eslint-react

Fix empty reportsTo comboBox
  frontend/packages/app/src/app/pages/team/components/header.tsx
Due: eslint-react

Fix empty reportingManager comboBox
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
Due: eslint-react

Fix filter removal issue on timeline
  frontend/packages/app/src/app/pages/resource-management/store/timeLineContext.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/types.ts
Due: eslint-react

Fix filter removal issue on project and team page
  frontend/packages/app/src/app/pages/resource-management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/teamContext.tsx
Due: eslint-react

Added tests for TC-102
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

Made changes as per comments
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

test without deploy
  .github/workflows/e2e-playwright-test.yml
Due: none

revert the changes
  .github/workflows/e2e-playwright-test.yml
Due: none

Remove unwanted comments
  frontend/packages/app/src/app/pages/home/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/team/components/header.tsx
Due: eslint-react

fix: Make description mandatory
  frontend/packages/design-system/src/components/text-editor/index.tsx
  next_pms/fixtures/property_setter.json
Due: eslint-react

fix: Empty the editor if not text is added
  frontend/packages/design-system/src/components/text-editor/index.tsx
  frontend/packages/design-system/src/index.css
Due: eslint-react

chore: Remove un-used ref
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Updated TC-102 to use dynamic data
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

chore: Resolve style
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Fixed merge conflicts
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Added refinements to the scripts
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

Add editTimeSheetListItem component, refactor team components and update update_timesheet_detail api
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/components/editTimeSheetListItem.tsx
  frontend/packages/app/src/app/pages/team/components/types.ts
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/types.ts
  frontend/packages/app/src/schema/timesheet.ts
  next_pms/timesheet/api/timesheet.py
Due: eslint-react

Fixed PR reviews and also fixed linter issues.
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

Made modifications to the script as per review comment
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Add finally block to control form submit flag
  frontend/packages/app/src/app/pages/team/components/editTimeSheetListItem.tsx
Due: eslint-react

Add hideEdit flag to diable edit button
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/types.ts
Due: eslint-react

Make hideEdit type optional
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/types.ts
Due: eslint-react

Test for TC-102 to be merged to develop
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/timeline.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Fixed linter issues
  tests/e2e/utils/dateUtils.js
Due: eslint-js

TestCase : TC94 completed
  tests/e2e/data/manager/team.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/userGroupRequests.js
Due: eslint-js

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

Workflow: fix passing additional commands
  .github/workflows/e2e-playwright-test.yml
Due: none

Fix Project must be same error
  next_pms/timesheet/api/timesheet.py
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
