Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Fixed environment variables. Updated spec file to have individual tests to avoid failures in run
  .github/workflows/visual-test-playwright.yml
  tests/visualAutomation/playwright.config.js
  tests/visualAutomation/specs/visualAutomation.spec.js
Due: eslint-js

Fix hover background for timesheet accordion
  frontend/packages/app/src/app/pages/team/components/employeeTimesheetTable.tsx
Due: eslint-react

Added check to always upload updated snapshots to Hetzner
  .github/workflows/visual-test-playwright.yml
Due: none

Fixed Hetzner code to fetch and upload files
  .github/workflows/visual-test-playwright.yml
Due: none

added separate paths for develop and main branches
  .github/workflows/visual-test-playwright.yml
Due: none

Removed the delete flag to fetch images from bucket
  .github/workflows/visual-test-playwright.yml
Due: none

Updated scripts to use viewport size. Fixed linter issues.
  .github/workflows/visual-test-playwright.yml
  tests/visualAutomation/playwright.config.js
  tests/visualAutomation/specs/visualAutomation.spec.js
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-leave-modal-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/add-time-modal-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-project-page-webkit-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-project-page-webkit-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-team-page-webkit-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-resource-management-timeline-page-webkit-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-task-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-task-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-team-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-chromium-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-firefox-linux.png
  tests/visualAutomation/specs/visualAutomation.spec.js-snapshots/manager-timesheet-page-webkit-linux.png
Due: eslint-js

Removed trigger on push event
  .github/workflows/visual-test-playwright.yml
Due: none

Moved the function to a helper file
  tests/visualAutomation/helpers/visualHelper.js
  tests/visualAutomation/specs/visualAutomation.spec.js
Due: eslint-js

Add column pinning in Project page
  frontend/packages/app/src/app/pages/project/index.tsx
Due: eslint-react

Add Column pinning in task page
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/task/components/table.tsx
  frontend/packages/app/src/app/pages/task/index.tsx
Due: eslint-react

Fix ellipsis compoennt in list-view-header
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
Due: eslint-react

Update timesheet approval msg
  next_pms/timesheet/api/team.py
Due: none

Fix empty badges in project page
  frontend/packages/app/src/app/components/list-view/dataCell.tsx
  frontend/packages/app/src/app/pages/project/components/columns.tsx
Due: eslint-react

Fix leave item styles in resorce timeline
  frontend/packages/app/src/app/pages/resource-management/timeline/components/item/leaveItemRender.tsx
Due: eslint-react

feat : 31Pass tests
  tests/e2e/.env.example
  tests/e2e/data/employee/timesheet.js
  tests/e2e/data/manager/team.js
  tests/e2e/fixtures/index.js
  tests/e2e/fixtures/projectFixtures.js
  tests/e2e/fixtures/taskFixtures.js
  tests/e2e/fixtures/teamFixtures.js
  tests/e2e/fixtures/timesheetFixtures.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team-new.spec.txt
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Add default icon for private views
  frontend/packages/app/src/app/layout/sidebar/viewLoader.tsx
Due: eslint-react

Fix number accuracy for currency/float/percentage fields
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
Due: eslint-react

Fx zIndex for linkfields
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
Due: eslint-react

Add custom_pinned_columns and integrate pinned column to viewData
  frontend/packages/app/src/app/components/list-view/createView.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/components/list-view/utils.ts
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/store/view.ts
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
  next_pms/timesheet/doctype/pms_view_setting/pms_view_setting.py
Due: eslint-react

Fix data refetch on tag change
  frontend/packages/app/src/store/project.ts
Due: eslint-react

Fix custom view creation for pinned columns
  frontend/packages/app/src/app/components/list-view/createView.tsx
Due: eslint-react

Integrate pinned column to viewData in task page
  frontend/packages/app/src/app/pages/task/components/header.tsx
  frontend/packages/app/src/app/pages/task/components/table.tsx
  frontend/packages/app/src/app/pages/task/index.tsx
Due: eslint-react

Add isDefault and isPublic viewprops and update action UI
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
Due: eslint-react

fix : updated projectRequest.js with working scripts 32P
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

Add ability to delete private views and toggle visibility
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
Due: eslint-react

Add fallback icon to viewloader
  frontend/packages/app/src/app/layout/sidebar/viewLoader.tsx
Due: eslint-react

Remove custom fixtures for pinned columns field
  next_pms/fixtures/custom_field.json
  next_pms/fixtures/property_setter.json
  next_pms/timesheet/doctype/pms_view_setting/pms_view_setting.json
  next_pms/timesheet/doctype/pms_view_setting/pms_view_setting.py
Due: none

Fix padding in more options
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
Due: eslint-react

Prevent date modification from erp backend
  next_pms/timesheet/doc_events/timesheet.py
Due: none

Fix calculation to apply amount conversion only once for costing rate in Timesheet
  next_pms/project_currency/overrides/timesheet.py
Due: none

feat: individual worker auth states . 3 fails with w=1
  tests/e2e/.env.example
  tests/e2e/data/employee/timesheet.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/storageStateHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.config.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team-new.spec.txt
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Add popver classes to linkfield
  frontend/packages/app/src/app/components/form-view/components/linkField.tsx
  frontend/packages/app/src/app/components/form-view/components/renderField.tsx
Due: eslint-react

Use defined colors in Action component
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
Due: eslint-react

Add custom-field json
  next_pms/fixtures/custom_field.json
Due: none

fix : 44-45 pass
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee2/timesheet2.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

chore: Add error log
  next_pms/timesheet/api/team.py
Due: none

chore: Add decorator to log error
  next_pms/api/utils.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/doc_events/timesheet.py
Due: none

fix :empty payload
  tests/e2e/data/manager/team.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
