Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Make billing field span less width
  frontend/packages/app/src/app/pages/team/components/editTimeSheetListItem.tsx
Due: eslint-react

Added tests for TC-103 and TC-104
  .github/workflows/e2e-playwright-test-without-deploy.yml
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/timeline.spec.js
Due: eslint-js

Scope ReactQuill styles to avoid global toolbar hiding
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

fix : test failures
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.config.js
Due: eslint-js

Fix description updates in text-editor and key error
  frontend/packages/app/src/app/pages/team/components/approval.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/employee-timesheet-list/timesheetListItem.tsx
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

Deleted workflow file
  .github/workflows/e2e-playwright-test-without-deploy.yml
Due: none

fix: added wait
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Update e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : remove unrelated changes
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: lint issue
  tests/e2e/data/manager/team.json
Due: none

TC103 and TC104 to merge to main
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

refactor: Add report utils
  next_pms/resource_management/report/utils.py
Due: none

refactor: Update flate tree generator to adhere to filtered records
  next_pms/utils/employee.py
Due: none

feat: Add utils for team availability report
  next_pms/resource_management/report/team_availability/utils.py
Due: none

feat: Add team availability report
  next_pms/resource_management/report/team_availability/__init__.py
  next_pms/resource_management/report/team_availability/team_availability.js
  next_pms/resource_management/report/team_availability/team_availability.json
  next_pms/resource_management/report/team_availability/team_availability.py
Due: eslint-js

fix: update branch name retrieval in deploy job
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: refactor branch name retrieval in deploy job
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: update branch name retrieval to use GitHub API with curl and jq
  .github/workflows/e2e-playwright-test.yml
Due: none

chore: Add method comments
  next_pms/resource_management/report/team_availability/team_availability.js
  next_pms/resource_management/report/team_availability/team_availability.py
  next_pms/resource_management/report/team_availability/utils.py
Due: eslint-js

feat: Add chart in team availabilty report
  next_pms/resource_management/report/team_availability/team_availability.js
  next_pms/resource_management/report/team_availability/team_availability.json
  next_pms/resource_management/report/team_availability/team_availability.py
  next_pms/resource_management/report/team_availability/utils.py
Due: eslint-js

fix: Show report summary instead of chart
  next_pms/resource_management/report/team_availability/team_availability.py
Due: none

refactor: Rename report to spare capacity
  next_pms/resource_management/report/spare_capacity_report/__init__.py
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.json
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: eslint-js

Fix text link-wrap in textEditor
  frontend/packages/design-system/src/components/text-editor/index.tsx
Due: eslint-react

fix : updated timesheet descriptions fix : updated error handlings
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

fix: Consider working hour instead of hard coding working hours
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: none

chore: Add default fallback
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

fix: Consider working hours from date range
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

chore: Do not spread filters
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

e2e-playwright-test: Dont specify as version.
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : run tests on success of deploy
  .github/workflows/e2e-playwright-test.yml
Due: none

e2e-playwright-test: Dont mind the condition
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : run test only when dispatch or the deploy is success
  .github/workflows/e2e-playwright-test.yml
Due: none

Added afterAll hook to delete allocations after tests
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/api/projectRequests.js
Due: eslint-js

fix: Resolve division by zero error
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/utils.py
Due: none

chore: Remove un-used field
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none

refactor: Set default values in business unit filter
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
Due: eslint-js

refactor: Add validation on date filters
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.js
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: eslint-js

Updated code to add clear filter
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/specs/manager/resourceManagement.spec.js
Due: eslint-js

refactor: Add util method to sort by bu and filter based on capacity
  next_pms/resource_management/report/spare_capacity_report/utils.py
Due: none

refactor: Update aggregate method to work with both group by types
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
Due: none
