Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

fix star icon on personal timesheet page
  frontend/packages/design-system/src/components/timesheet/rows/task/taskRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/total/totalRow.tsx
Due: eslint-react

fix: set index route to personal timesheet
  frontend/packages/app/src/route.tsx
Due: eslint-react

add new icon for staroff
  frontend/packages/design-system/src/components/timesheet/rows/total/totalRow.tsx
Due: eslint-react

fix: remove foreign key deletion lock in notification linked documents
  next_pms/hooks.py
Due: none

feat: add boolean check to show viewed status for notification + update permissions for the same
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.json
  next_pms/next_pms/doctype/nextpms_notifications/nextpms_notifications.py
Due: none

fix: remove foreign key deletion lock in notification linked documents (#1622)
  next_pms/hooks.py
Due: none

feat: override-aware virtual segments
  frontend/packages/app/src/pages/allocations/project/utils.ts
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

chore: address reviews
  frontend/packages/design-system/src/components/gantt-view/ganttMemberRow.tsx
Due: eslint-react

chore: remove utils
  frontend/packages/app/src/pages/allocations/project/utils.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

feat: add static edit schedule modal
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleDateSelectionField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleHoursPerDayField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleSummaryTable.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleTotalHoursField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/utils.ts
  frontend/packages/app/src/pages/allocations/team/layout.tsx
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
  frontend/packages/design-system/src/components/date-chip/constants.ts
  frontend/packages/design-system/src/components/date-chip/index.tsx
  frontend/packages/design-system/src/components/index.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleSummaryTable.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/design-system/src/components/date-chip/index.tsx
Due: eslint-react

feat: add interactivity to edit schedule modal
  frontend/packages/app/src/pages/allocations/constants.ts
  frontend/packages/app/src/pages/allocations/overrideUtils.ts
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleHoursPerDayField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleSummaryTable.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleTotalHoursField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/schema.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/utils.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
Due: eslint-react

feat: updates edit allocaton modal
  frontend/packages/app/src/pages/allocations/team/add-allocation/index.tsx
  frontend/packages/app/src/pages/allocations/team/add-allocation/types.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

feat: update overallocation to use new API endpoint
  frontend/packages/app/src/pages/allocations/team/add-allocation/useOverAllocation.ts
Due: eslint-react

feat: integrate viewed
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/layout/sidebar/useNotifications.ts
  frontend/packages/design-system/src/components/notificationTray/index.tsx
  frontend/packages/design-system/src/components/notificationTray/notificationItem.tsx
  frontend/packages/design-system/src/components/notificationTray/types.ts
Due: eslint-react

feat: add notification card
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/pages/dashboard/constants.ts
  frontend/packages/app/src/pages/dashboard/widget/notificationsCard.tsx
  frontend/packages/app/src/providers/notifications/index.ts
  frontend/packages/app/src/providers/notifications/provider.tsx
  frontend/packages/design-system/src/components/notificationTray/index.tsx
Due: eslint-react

add email tab with api integration
  frontend/packages/app/src/pages/project-details/tabs/email/emailBody.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/emailCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/types.ts
  frontend/packages/app/src/pages/project-details/tabs/email/useProjectEmails.ts
Due: eslint-react

show tabs only when permitted - used flags from boot to conditionally show email and feedback tab
  frontend/packages/app/src/hooks/useFeedbackAvailability.ts
  frontend/packages/app/src/pages/project-details/index.tsx
  frontend/packages/app/src/pages/project-details/tabs/index.tsx
  frontend/packages/app/src/types/index.ts
Due: eslint-react

improve email styles
  frontend/packages/app/src/pages/project-details/tabs/email/emailBody.tsx
Due: eslint-react

toast on error
  frontend/packages/app/src/pages/project-details/tabs/email/useProjectEmails.ts
Due: eslint-react

update emailCard - Add attachment support - Extract components out
  frontend/packages/app/src/pages/project-details/tabs/email/attachmentList.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/emailCard.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/statusBadge.tsx
  frontend/packages/app/src/pages/project-details/tabs/email/types.ts
  frontend/packages/app/src/pages/project-details/tabs/email/useProjectEmails.ts
Due: eslint-react

chore: align modal style with design
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleDateSelectionField.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
Due: eslint-react

feat: add tag composite filter to team resource allocation
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/tests/resource_management/__init__.py
  next_pms/tests/resource_management/api/__init__.py
  next_pms/tests/resource_management/api/test_team.py
Due: none

fix: stale redis cache
  next_pms/resource_management/api/project.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/tests/resource_management/api/test_project.py
Due: none

feat: fix styles
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
Due: eslint-react

feat: add Refresh Costing button to Project form
  next_pms/public/js/project.js
Due: eslint-js

fix: typo
  next_pms/tests/resource_management/api/test_team.py
Due: none

fix: typo
  next_pms/tests/resource_management/api/test_project.py
Due: none

feat: add tag composite filter to team resource allocation (#1624)
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/helpers.py
  next_pms/tests/resource_management/__init__.py
  next_pms/tests/resource_management/api/__init__.py
  next_pms/tests/resource_management/api/test_team.py
Due: none

remove bg color from attachements
  frontend/packages/app/src/pages/project-details/tabs/email/attachmentList.tsx
Due: eslint-react

add interactivity for attachments
  frontend/packages/app/src/pages/project-details/tabs/email/attachmentList.tsx
Due: eslint-react

chore: address reviews
  frontend/packages/app/src/pages/allocations/constants.ts
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/types.ts
  frontend/packages/app/src/pages/allocations/useAllocationModal.ts
Due: eslint-react

chore: fix styles for employee time off
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
Due: eslint-react

fix: stale redis cache (#1625)
  next_pms/resource_management/api/project.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/tests/resource_management/api/test_project.py
Due: none

chore: fix the team timesheet reportsto filter
  frontend/packages/app/src/components/filters/reportsToFilter.tsx
  frontend/packages/app/src/pages/timesheet/hooks/useTimesheetFilters.ts
  frontend/packages/app/src/pages/timesheet/team/provider.tsx
Due: eslint-react

fix: send field value so backend validation fires
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
Due: eslint-react

feat: fix week labels
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/personal/usePersonalTimesheetData.ts
  frontend/packages/app/src/pages/timesheet/personal/utils.ts
  frontend/packages/app/src/pages/timesheet/project/context.ts
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/useProjectTimesheetData.ts
  frontend/packages/app/src/pages/timesheet/team/context.ts
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/useTeamTimesheetData.ts
  frontend/packages/app/src/pages/timesheet/utils.ts
  frontend/packages/app/src/types/timesheet.ts
Due: eslint-react

chore: use sentence case across timesheets
  frontend/packages/app/src/components/filters/approvalStatusFilter.tsx
  frontend/packages/app/src/pages/timesheet/components/add-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/components/add-time/index.tsx
  frontend/packages/app/src/pages/timesheet/components/submit-approval/index.tsx
  frontend/packages/app/src/pages/timesheet/personal/personalTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/project/projectTimesheetTable.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-leave/index.tsx
  frontend/packages/app/src/pages/timesheet/team/add-employee-time/index.tsx
  frontend/packages/app/src/pages/timesheet/team/teamTimesheetTable.tsx
  frontend/packages/design-system/src/components/timesheet/index.ts
  frontend/packages/design-system/src/components/timesheet/rows/constants.ts
  frontend/packages/design-system/src/components/timesheet/rows/member/memberRow.tsx
  frontend/packages/design-system/src/components/timesheet/rows/week/weekRow.tsx
Due: eslint-react
