Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Move all plan resource components to resource management package
  frontend/packages/app/src/app/components/infiniteScroll.tsx
  frontend/packages/app/src/app/pages/resource_management/components/empty.tsx
  frontend/packages/app/src/app/pages/resource_management/components/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/timeLine.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/index.tsx
  frontend/packages/app/src/app/pages/resource_management/utils/helper.ts
  frontend/packages/app/src/app/pages/team/employee-detail/index.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/design-system/src/components/confirmation-dialog/index.tsx
  frontend/packages/design-system/src/components/index.ts
  frontend/packages/resource-management/components.json
  frontend/packages/resource-management/src/components/index.ts
  frontend/packages/resource-management/src/components/table/tableCell.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/components/table/tableRow.tsx
  frontend/packages/resource-management/src/store/index.ts
  frontend/packages/resource-management/src/store/tableContext.tsx
  frontend/packages/resource-management/src/utils/class.ts
  frontend/packages/resource-management/src/utils/helper.ts
  frontend/packages/resource-management/src/utils/index.ts
Due: eslint-react

Add job_id value in frappe.enqueue to prevent duplicate jobs
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
Due: none

Add TableDiableRow component in resource management package
  frontend/packages/app/src/app/pages/resource_management/components/empty.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/utils/helper.ts
  frontend/packages/resource-management/src/components/index.ts
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/components/table/tableRow.tsx
  frontend/packages/resource-management/src/utils/cell.ts
  frontend/packages/resource-management/src/utils/index.ts
Due: eslint-react

Move all resource management utils in resource package
  frontend/packages/app/src/app/pages/resource_management/components/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/timeLine.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/index.tsx
  frontend/packages/app/src/app/pages/resource_management/utils/cell.ts
  frontend/packages/app/src/app/pages/resource_management/utils/value.ts
  frontend/packages/app/src/store/resource_management/allocation.ts
  frontend/packages/resource-management/package.json
  frontend/packages/resource-management/src/components/table/tableCell.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/index.css
  frontend/packages/resource-management/src/utils/cell.ts
  frontend/packages/resource-management/src/utils/helper.ts
  frontend/tailwind.config.cjs
Due: eslint-react

Move timeline CSS overwrite to app package
  frontend/packages/app/src/global.css
  frontend/packages/resource-management/src/index.css
Due: none

Created branch from 'develop' and commited changes.
  .gitignore
  package-lock.json
  package.json
  tests/e2e/data/timesheet/employee.json
  tests/e2e/helpers/loginHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pages/loginPage.js
  tests/e2e/pages/teamPage.js
  tests/e2e/pages/timesheetPage.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/timesheet/employee.spec.js
  tests/e2e/specs/timesheet/manager.spec.js
  tests/e2e/utils/api/timesheetRequests.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Add ResourceContextProvider and remove resource_allocation_form redux dependency from timeline view
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/resource_management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/types.ts
  frontend/packages/app/src/app/pages/resource_management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/timeLine.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/index.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/types.ts
  frontend/packages/app/src/route.tsx
  package-lock.json
Due: eslint-react

Added sample workflow for CI and tests refactoring.
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/data/timesheet/employee.json
  tests/e2e/data/timesheet/manager.json
  tests/e2e/pages/loginPage.js
  tests/e2e/pages/teamPage.js
  tests/e2e/pages/timesheetPage.js
  tests/e2e/specs/timesheet/employee.spec.js
  tests/e2e/specs/timesheet/manager.spec.js
Due: eslint-js

Removed push block from CI.
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/specs/timesheet/employee.spec.js
Due: eslint-js

Remove redux allocation.ts file
  frontend/packages/app/src/app/pages/resource_management/components/empty.tsx
  frontend/packages/app/src/app/pages/resource_management/components/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/project/index.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/index.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/resource_management/allocation.ts
Due: eslint-react

Testing E2E CI.
  .github/workflows/e2e-playwright-test.yml
Due: none

Add TeamContextProvider file
  frontend/packages/app/src/app/pages/resource_management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/types.ts
Due: eslint-react

chore: Add revenue columns
  next_pms/next_pms/report/client_profitability/client_profitability.py
Due: none

fix: Use per day hours for report calculation
  next_pms/resource_management/report/capacity_planning/capacity_planning.py
Due: none

Testing CI.
  .github/workflows/e2e-playwright-test.yml
  .gitignore
  tests/e2e/playwright.config.js
Due: eslint-js

Testing CI.
  .github/workflows/e2e-playwright-test.yml
Due: none

Testing CI.
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/playwright.config.js
Due: eslint-js

Testing CI.
  .github/workflows/e2e-playwright-test.yml
  test-results/.last-run.json
  tests/e2e/data/timesheet/employee.json
  tests/e2e/playwright-report/index.html
  tests/e2e/specs/timesheet/employee.spec.js
  tests/e2e/specs/timesheet/manager.spec.js
  tests/e2e/test-results/.last-run.json
Due: eslint-js

Testing CI.
  .github/workflows/e2e-playwright-test.yml
  test-results/.last-run.json
Due: none

Updated .gitignore.
  .gitignore
Due: none

Testing CI.
  .github/workflows/e2e-playwright-test.yml
  package.json
Due: none

Updated tests directory structure as per feedback.
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/timesheet.json
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/timesheet.spec.js
Due: eslint-js

Updated E2E CI.
  .github/workflows/e2e-playwright-test.yml
Due: none

Add TeamContext and remove redux dependency of team page
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/skillSearch.tsx
  frontend/packages/app/src/app/pages/resource_management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/team/index.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/timeline/types.ts
  frontend/packages/app/src/app/pages/resource_management/utils/dates.ts
  frontend/packages/app/src/app/pages/resource_management/utils/group.ts
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/resource_management/team.ts
Due: eslint-react

Fetched test data from JSON files.
  .github/workflows/e2e-playwright-test.yml
  package.json
  tests/e2e/data/employee/timesheet.json
  tests/e2e/pages/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/timesheet.spec.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

Add ProjectContext and remove redux dependency of resource project page
  frontend/packages/app/src/app/pages/resource_management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource_management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource_management/project/index.tsx
  frontend/packages/app/src/app/pages/resource_management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource_management/store/types.ts
  frontend/packages/app/src/store/resource_management/project.ts
Due: eslint-react

Remove resourceProjectReducer
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/resource_management/project.ts
Due: eslint-react

Resolved duplicate time entries creation issue.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/loginHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.config.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/timesheet.spec.js
  tests/e2e/utils/api/timesheetRequests.js
  tests/e2e/utils/dateUtils.js
Due: eslint-js

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
