Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

refactor : removed unwanted code and resolved lint issues
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/utils/api/taskRequests.js
Due: eslint-js

fix: Do not consider paid leaves in holidays
  frontend/packages/app/src/app/components/timesheet-table/components/row/leaveRow.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/row/totalRow.tsx
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/types/timesheet.ts
  next_pms/resource_management/api/utils/query.py
  package-lock.json
Due: eslint-react

feat: Workflows: Add deployment job to e2e Playwright tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Remove closed pull request trigger from workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Remove branch restriction from pull request trigger in workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Add workflow_dispatch trigger to Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Remove unnecessary deployment job steps from Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Remove manual trigger from Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Update deployment workflow reference to use patch branch
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Refactor deploy job in Playwright Tests workflow to include explicit input parameters and secrets
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Simplify deploy job parameters in Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Remove unnecessary parameters from deploy job in Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Simplify deploy job by inheriting secrets in Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Add explicit input parameters for deploy job in Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Set explicit values for use_maintenance_mode and use_bench_migrate in deploy job
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Explicitly define secrets for deploy job in Playwright Tests workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Consider explicite ero value if raw exists in biling table
  next_pms/project_currency/overrides/timesheet.py
Due: none

feat : TC91- Apply employee Status Filter
  tests/e2e/data/manager/team.json
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/dateUtils.js
  tests/e2e/utils/stringUtils.js
Due: eslint-js

fix: return fallback value if work history does not exists
  next_pms/utils/employee.py
Due: none

feat: Add initial deployment configuration for ERP stage workflow
  .github/workflows/deploy_configs/erp-stage.rt.gw.toml
Due: none

chore: Add hosts configuration file for deployment
  .github/hosts.yml
Due: none

feat: Reintroduce erp-stage deployment configuration file
  .github/deploy_configs/erp-stage.rt.gw.toml
Due: none

feat: Add deployment scripts for managing remote execution and logging
  .github/deploy/addon.sh
  .github/deploy/helpers.sh
Due: none

fix: Correct workflow trigger configuration for Playwright Tests
  .github/hosts.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Sum and fetch paid & unpaid invoices separately
  next_pms/next_pms/report/client_profitability/client_profitability.py
  next_pms/next_pms/report/profit_report/profit_report.py
Due: none

chore: Use date range query
  next_pms/next_pms/report/client_profitability/client_profitability.py
Due: none

feat: Enhance e2e workflow to dynamically update deployment config for PRs and forks
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Format additional_commands for better readability in e2e workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : handle test contamination
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

refactor: Remove update-config job and streamline deployment process in e2e workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: Update frappe/insights reference to use 'develop' branch for consistency
  .github/deploy_configs/erp-stage.rt.gw.toml
Due: none

fix : solve the TC6 issue
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix: removed .only
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

fix: Update frappe/insights reference to use correct repository and branch
  .github/deploy_configs/erp-stage.rt.gw.toml
Due: none

fix: Install zip package before creating ZIP file in e2e workflow
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : zip file issue
  .github/workflows/e2e-playwright-test.yml
Due: none

Update globalSetup.js
  tests/e2e/globals/globalSetup.js
Due: eslint-js

Update storageStateHelper.js
  tests/e2e/helpers/storageStateHelper.js
Due: eslint-js

Update timesheet.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Create timesheet2.spec.js
  tests/e2e/specs/timesheet2.spec.js
Due: eslint-js
