Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

test
  .github/workflows/e2e-playwright-test.yml
Due: none

feat: add facade layer for environment variables
  frontend/packages/app/src/lib/envs.ts
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/main.tsx
  frontend/packages/app/src/providers/frappe/index.tsx
  frontend/packages/app/src/vite-env.d.ts
Due: eslint-react

feat: add type-safe Redux hooks
  frontend/package-lock.json
  frontend/packages/app/src/app/components/customViewWrapper.tsx
  frontend/packages/app/src/app/components/list-view/createView.tsx
  frontend/packages/app/src/app/components/list-view/viewWrapper.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/taskHoverCard.tsx
  frontend/packages/app/src/app/layout/index.tsx
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/task/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/user.ts
Due: eslint-react

feat: add type-safe Redux hooks
  frontend/package-lock.json
  frontend/packages/app/package.json
  frontend/packages/app/src/app.tsx
  frontend/packages/app/src/app/components/customViewWrapper.tsx
  frontend/packages/app/src/app/components/list-view/createView.tsx
  frontend/packages/app/src/app/components/list-view/header/action/index.tsx
  frontend/packages/app/src/app/components/list-view/viewWrapper.tsx
  frontend/packages/app/src/app/components/timesheet-table/components/taskHoverCard.tsx
  frontend/packages/app/src/app/layout/index.tsx
  frontend/packages/app/src/app/layout/sidebar/index.tsx
  frontend/packages/app/src/app/pages/home/header.tsx
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/project-updates.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
  frontend/packages/app/src/app/pages/task/index.tsx
  frontend/packages/app/src/app/pages/team/employee-detail/header.tsx
  frontend/packages/app/src/app/pages/timesheet/index.tsx
  frontend/packages/app/src/lib/storage.ts
  frontend/packages/app/src/route.tsx
  frontend/packages/app/src/store/index.ts
  frontend/packages/app/src/store/user.ts
Due: eslint-react

refactor: Ignore roles for back-dated validation
  next_pms/timesheet/doc_events/timesheet.py
  next_pms/timesheet/doctype/timesheet_role/__init__.py
  next_pms/timesheet/doctype/timesheet_role/timesheet_role.json
  next_pms/timesheet/doctype/timesheet_role/timesheet_role.py
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
Due: none

Disable email notifications on project updates
  next_pms/timesheet/api/project_status_update.py
Due: none

fix : https://github.com/rtCamp/next-pms/security/dependabot/23
  package-lock.json
  package.json
Due: none

fix: https://github.com/rtCamp/next-pms/security/dependabot/34
  package-lock.json
  package.json
Due: none

respect Activity Cost in timesheet costing (fixes #743)
  next_pms/project_currency/overrides/timesheet.py
Due: none

fix: pass activity_type parameter to avoid incorrect rate assignment
  next_pms/project_currency/overrides/timesheet.py
Due: none

Potential fix for code scanning alert no. 11: Incomplete multi-character sanitization
  tests/e2e/pageObjects/timesheetPage.js
Due: eslint-js

Potential fix for code scanning alert no. 10: Incomplete multi-character sanitization
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix: permissions of workflow not set
  .github/workflows/e2e-playwright-test.yml
Due: none

Updated code to fix issue at https://github.com/rtCamp/next-pms/security/code-scanning/7
  .github/workflows/visual-test-playwright.yml
Due: none

Moved permissions to workflow level
  .github/workflows/visual-test-playwright.yml
Due: none

Potential fix for code scanning alert no. 1: Code injection
  .github/workflows/e2e-playwright-test.yml
Due: none

fix: https://github.com/rtCamp/next-pms/security/code-scanning/1
  .github/workflows/e2e-playwright-test.yml
Due: none

Update .github/workflows/e2e-playwright-test.yml
  .github/workflows/e2e-playwright-test.yml
Due: none

fix : new code injection issue
  .github/workflows/e2e-playwright-test.yml
Due: none

Revert "Fix code scan issue"
  .github/workflows/e2e-playwright-test.yml
Due: none

style: apply pre-commit formatting fixes
  next_pms/project_currency/overrides/timesheet.py
Due: none

fix: Update frappe-react-sdk
  .eslint.config.cjs
  .pre-commit-config.yaml
  eslint.config.js
  frontend/package-lock.json
  frontend/packages/app/package.json
  frontend/packages/hooks/package.json
  next_pms/__init__.py
  next_pms/timesheet/api/project_status_update.py
  package.json
Due: eslint-js

fix: ignore case while checking regex
  next_pms/www/next-pms/index.py
Due: none

chore: Update playwright version
  package.json
Due: none

chore: Add module type in package.json
  package.json
Due: none

fix: Resolve regex issue
  next_pms/www/next-pms/index.py
Due: none

Potential fix for code scanning alert no. 14: Workflow does not contain permissions
  .github/workflows/pr-test-build.yml
Due: none

fix: ensure timesheet company derives from project
  next_pms/project_currency/overrides/timesheet.py
Due: none

chore: update error message and allow abbreviation in quick entry
  next_pms/fixtures/custom_field.json
  next_pms/resource_management/doc_events/customer.py
Due: none

feat: added autofill for abbreviation in quickentry and form view
  next_pms/hooks.py
  next_pms/public/js/customer.js
  next_pms/public/js/customer_quickentry.js
Due: eslint-js

chore: ran formatter
  next_pms/public/js/customer.js
  next_pms/public/js/customer_quickentry.js
Due: eslint-js

Fix billing amount not resetting to zero during update
  next_pms/project_currency/overrides/timesheet.py
Due: none

fix: Resolve issue with infinitescroll not triggering page load
  frontend/packages/hooks/src/useInfiniteScroll.ts
Due: eslint-react

chore: update deps for depandabot issues
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

chore: Resolve linter issue
  frontend/packages/hooks/src/useInfiniteScroll.ts
Due: eslint-react

pref: Reduce multiple db calls for fetching leaves
  next_pms/resource_management/api/utils/query.py
  next_pms/resource_management/tasks/no_allocation_reminder.py
Due: none

perf: Optimize cron job to send the timesheet reminder
  next_pms/timesheet/tasks/daily_reminder_for_time_entry.py
Due: none

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
