Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

Add dispatch calls to update siedeBar-collapse when viewport changes
  frontend/packages/app/src/app/layout/sidebar/index.tsx
Due: eslint-react

chore: Bump frappe react sdk to 1.11.0
  frontend/packages/app/package.json
  frontend/packages/hooks/package.json
Due: none

chore: Update package-lock file
  frontend/package-lock.json
Due: none

Added locators for Team tab - timesheets
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Add get_project_list_api and projectComboBox component
  frontend/packages/app/src/app/pages/project/project-detail/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/projectComboBox.tsx
  frontend/packages/app/src/types/index.ts
  next_pms/timesheet/api/project.py
Due: eslint-react

refactor: Add support for loading indicator in combo-box
  frontend/packages/app/src/app/components/employeeComboBox.tsx
  frontend/packages/app/src/app/components/list-view/header/comboBoxWrapper.tsx
  frontend/packages/design-system/src/components/combo-box/index.tsx
Due: eslint-react

fix: Pass loading state to combo-box
  frontend/packages/app/src/app/components/AddTime.tsx
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/pages/resource_management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/task/components/addTask.tsx
Due: eslint-react

Identifying locators in review timesheet pane.
  tests/e2e/pageObjects/teamPage.js
Due: eslint-js

Add permisison check on fields
  next_pms/timesheet/api/project.py
Due: none

Automated 2 Team tab test cases.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Updated test case title.
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Updated test case IDs.
  tests/e2e/data/manager/team.json
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Add get_doc_with_meta API and fieldRenderer component
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  next_pms/api/__init__.py
  next_pms/timesheet/api/project.py
Due: eslint-react

Automated 2 Timesheet tab cases.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Added task page objects and automated 2 test cases.
  tests/e2e/data/manager/task.json
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Rename frontend resource_management folder to resource-management
  frontend/packages/app/src/app/components/list-view/header/filterValue.tsx
  frontend/packages/app/src/app/pages/resource-management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/empty.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/types.ts
  frontend/packages/app/src/app/pages/resource-management/project/index.tsx
  frontend/packages/app/src/app/pages/resource-management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/timeLineContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/components/expandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/skillSearch.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/item.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/timeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/types.ts
  frontend/packages/app/src/app/pages/resource-management/utils/dates.ts
  frontend/packages/app/src/app/pages/resource-management/utils/group.ts
  frontend/packages/app/src/app/pages/resource-management/utils/helper.ts
  frontend/packages/app/src/route.tsx
Due: eslint-react

fix: Filter records while exporting the data
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/header.tsx
  frontend/packages/app/src/app/pages/task/components/header.tsx
  frontend/packages/app/src/app/pages/task/utils.ts
Due: eslint-react

Added .env.sample.
  tests/e2e/.env.example
Due: none

Fix readOnly issue and add types files
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  next_pms/api/__init__.py
Due: eslint-react

Convert all input fields to shadcn input components
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
Due: eslint-react

Add field description in get_doc_with_meta API response
  next_pms/api/__init__.py
Due: none

Make Tablist sticky for better UX
  frontend/packages/app/src/app/components/form-view/index.tsx
Due: eslint-react

Add description text in the form-view
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
Due: eslint-react

Split fieldRenderer component to smaller resuable chunks
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
Due: eslint-react

Updated test case IDs.
  tests/e2e/data/employee/timesheet.json
  tests/e2e/data/manager/task.json
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Refactored time and leave entry deletion.
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

Add currency symbol to form-view and remove custom input classes
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Separated logic for creation & update of time entries in setup.
  tests/e2e/globals/globalSetup.js
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Resolved linter failures.
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Hide empty fields and section
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
Due: eslint-react

Fix onChange callback
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
Due: eslint-react

Add hideFields list to explicitly hide fields from the form-view
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
Due: eslint-react

Add depends_on condition to render fields
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/types.ts
  frontend/packages/app/src/lib/utils.ts
  next_pms/api/__init__.py
Due: eslint-react

Add Time field
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  next_pms/api/__init__.py
Due: eslint-react

Fix input field styles and default values
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
Due: eslint-react

Forward formRef to externally submit the form
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Remove earn consoles from utils
  frontend/packages/app/src/lib/utils.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
