Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

eslint-react:
  name: ESlint React
  entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
  language: system
  pass_filenames: true

eslint-js:
  name: ESlint JS
  entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
  language: system

style(e2e): remove dead debug comments and narration
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/api/apiClient.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/resourceManagementRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/api/userGroupRequests.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

Removed extra comments from the code
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/utils/api/apiClient.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/resourceManagementRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/api/userGroupRequests.js
  tests/e2e/utils/fileUtils.js
Due: eslint-js

fix(allocation): scope overlap and schedule edits to booked days
  frontend/packages/app/src/pages/allocations/team/edit-schedule/components/scheduleSummaryTable.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/index.tsx
  frontend/packages/app/src/pages/allocations/team/edit-schedule/utils.ts
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/tests/resource_management/api/test_allocation.py
Due: eslint-react

fix(e2e): address Copilot review findings
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/apiClient.js
Due: eslint-js

Fixed the Copilot reviews
  tests/e2e/globals/globalTeardown.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/utils/api/apiClient.js
Due: eslint-js

fix(e2e): surface refused deletes instead of reporting them as cleaned
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/timesheetHelper.js
Due: eslint-js

fix(allocation): judge day conflicts on hours actually booked
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.py
  next_pms/tests/resource_management/api/test_allocation.py
Due: none

feat(timeline): add project timeline item category doctype
  next_pms/install.py
  next_pms/next_projects/doctype/project_timeline_item_category/__init__.py
  next_pms/next_projects/doctype/project_timeline_item_category/project_timeline_item_category.js
  next_pms/next_projects/doctype/project_timeline_item_category/project_timeline_item_category.json
  next_pms/next_projects/doctype/project_timeline_item_category/project_timeline_item_category.py
  next_pms/next_projects/patches/setup_timeline_item_categories.py
  next_pms/patches.txt
Due: eslint-js

feat(timeline): add category and is_internal to timeline items
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.py
Due: none

test(timeline): cover category and is_internal
  next_pms/next_projects/doctype/project_timeline_item/test_project_timeline_item.py
  next_pms/next_projects/doctype/project_timeline_item_category/test_project_timeline_item_category.py
  next_pms/tests/next_projects/api/test_project_timeline_item.py
Due: none

feat(timeline): scope category picker to the item type
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
  next_pms/next_projects/doctype/project_timeline_item/test_project_timeline_item.py
Due: none

feat(timeline): return category label in timeline payloads
  next_pms/api/dashboard.py
  next_pms/next_projects/api/project_timeline_item.py
  next_pms/tests/next_projects/api/test_project_timeline_item.py
Due: none

chore: Bump App version to 2.7.0
  next_pms/__init__.py
Due: none

chore: disable project column reordering via header drag
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/header.tsx
Due: eslint-react

fix: allow cancel to revert the sort option
  frontend/packages/app/src/pages/projects/components/project-filters/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/header.tsx
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/providers/views/index.ts
  frontend/packages/app/src/providers/views/provider.tsx
Due: eslint-react

feat: add is_ai_created field and query filtering for AI allocations
  next_pms/resource_management/api/allocation.py
  next_pms/resource_management/api/project.py
  next_pms/resource_management/api/team.py
  next_pms/resource_management/api/utils/query.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.json
Due: none

style(e2e): apply prettier and fix a ruff finding
  .claude/skills/next-pms-e2e/scripts/results.py
  tests/e2e/data/manager/project.js
  tests/e2e/data/manager/team.js
  tests/e2e/globals/globalSetup.js
  tests/e2e/helpers/employeeHelper.js
  tests/e2e/helpers/leaveHelper.js
  tests/e2e/helpers/resourceManagementHelpers.js
  tests/e2e/helpers/teamTabHelper.js
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/pageObjects/projectPage.js
  tests/e2e/pageObjects/resourceManagement/project.js
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/resourceManagement/timeline.js
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/e2e/playwright.fixture.cjs
  tests/e2e/specs/employee/timesheet.spec.js
  tests/e2e/specs/employee3/timesheet3.spec.js
  tests/e2e/specs/manager/project.spec.js
  tests/e2e/specs/manager/resourceManagement.spec.js
  tests/e2e/specs/manager/resourceManagement/project.spec.js
  tests/e2e/specs/manager/task.spec.js
  tests/e2e/specs/manager/team.spec.js
  tests/e2e/utils/api/apiClient.js
  tests/e2e/utils/api/employeeRequests.js
  tests/e2e/utils/api/erpNextRequests.js
  tests/e2e/utils/api/frappeRequests.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/projectRequests.js
  tests/e2e/utils/api/resourceManagementRequests.js
  tests/e2e/utils/api/taskRequests.js
  tests/e2e/utils/api/timesheetRequests.js
  tests/e2e/utils/api/userGroupRequests.js
  tests/e2e/utils/fileUtils.js
  tests/package.json
Due: eslint-js

style(e2e): format at CI's 80 columns and run ruff-format
  .claude/skills/next-pms-e2e/scripts/results.py
  tests/e2e/pageObjects/resourceManagement/team.js
  tests/e2e/pageObjects/timesheetPage.js
  tests/package.json
Due: eslint-js

fix(e2e): silence a semgrep file-traversal finding in the results script
  .claude/skills/next-pms-e2e/scripts/results.py
Due: none

fix(e2e): put the nosemgrep marker where semgrep reads it
  .claude/skills/next-pms-e2e/scripts/results.py
Due: none

feat(timesheet): allow delivery and system managers to review timesheets
  next_pms/timesheet/api/__init__.py
  next_pms/timesheet/api/project.py
  next_pms/timesheet/api/team.py
  next_pms/timesheet/api/timesheet.py
  next_pms/timesheet/api/utils.py
  next_pms/timesheet/utils/constant.py
Due: none

feat(projects): open project detail to delivery and system managers
  next_pms/next_pms/doctype/project_status_update/project_status_update.json
  next_pms/next_pms/doctype/project_status_update_template/project_status_update_template.json
  next_pms/next_pms/doctype/project_status_update_template_category/project_status_update_template_category.json
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/doctype/project_timeline_item/project_timeline_item.json
  next_pms/timesheet/api/project_status_update.py
Due: none

feat(dashboard): extend dashboard access to timesheet and system managers
  next_pms/api/dashboard.py
Due: none

feat(frontend): gate pages by the role access matrix
  frontend/packages/app/src/layout/index.tsx
  frontend/packages/app/src/layout/sidebar/index.tsx
  frontend/packages/app/src/lib/constant.ts
  frontend/packages/app/src/lib/utils.ts
  frontend/packages/app/src/pages/timesheet/components/timesheet-breadcrumbs.tsx
  frontend/packages/app/src/route.tsx
Due: eslint-react

feat(allocations): let delivery and system managers manage allocations
  frontend/packages/app/src/pages/allocations/project/allocationsProjectTable.tsx
  frontend/packages/app/src/pages/allocations/project/layout.tsx
  frontend/packages/app/src/pages/allocations/project/subHeader.tsx
  frontend/packages/app/src/pages/allocations/team/allocationsTeamTable.tsx
  frontend/packages/app/src/pages/allocations/team/layout.tsx
  frontend/packages/app/src/pages/allocations/team/subHeader.tsx
  next_pms/api/designation.py
  next_pms/resource_management/doctype/resource_allocation/resource_allocation.json
Due: eslint-react

feat(allocations): add AI created only filter to team and project views
  frontend/packages/app/src/pages/allocations/project/constants.ts
  frontend/packages/app/src/pages/allocations/project/useAllocationsProjectData.ts
  frontend/packages/app/src/pages/allocations/team/constants.ts
  frontend/packages/app/src/pages/allocations/team/type.ts
  frontend/packages/app/src/pages/allocations/team/useAllocationsTeamData.ts
  frontend/packages/app/src/pages/allocations/team/utils.ts
  frontend/packages/app/src/pages/allocations/utils.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

fix(risks): show create risk to system managers
  frontend/packages/app/src/pages/project-details/tabs/risks/constants.ts
Due: eslint-react

test(dashboard): cover timesheet and system manager access
  next_pms/tests/api/test_dashboard_permissions.py
Due: none

feat(settings): allow delivery managers to edit system settings
  frontend/packages/app/src/components/settings/index.tsx
  next_pms/install.py
  next_pms/patches.txt
  next_pms/timesheet/doctype/timesheet_settings/timesheet_settings.json
  next_pms/timesheet/patches/setup_role_permissions.py
Due: eslint-react

feat: add columns
  frontend/packages/app/src/pages/projects/list/cells/index.tsx
  frontend/packages/app/src/pages/projects/list/columns/constants.ts
  frontend/packages/app/src/pages/projects/list/columns/useColumnLayout.ts
  frontend/packages/app/src/pages/projects/list/types.ts
  frontend/packages/app/src/pages/projects/types.ts
  next_pms/next_projects/api/constant.py
  next_pms/next_projects/api/project.py
  next_pms/next_projects/api/utils.py
Due: eslint-react

chore: refactor to use separate ListView components for pinned and unpinned columns
  frontend/packages/app/src/pages/projects/list/columns/header.tsx
  frontend/packages/app/src/pages/projects/list/columns/utils.ts
  frontend/packages/app/src/pages/projects/list/view.tsx
Due: eslint-react

fix: address review — translation whitespace, scoped rate prefetch, helper tests
  next_pms/resource_management/report/spare_capacity_report/spare_capacity_report.py
  next_pms/tests/test_currency.py
  next_pms/utils/currency.py
Due: none

feat(design-system): style AI allocation bar and hover popover
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/allocationPopover.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/crosshatchLayer.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/ganttBar.tsx
  frontend/packages/design-system/src/components/gantt-view/gantt-bar/utils/allocationBarToEntry.ts
  frontend/packages/design-system/src/components/gantt-view/types.ts
Due: eslint-react

Path conditions:
  eslint-react: any of: \.(jsx|tsx|ts)$ and not ((?x)^(
    .*node_modules.*
)$
) and not (node_modules|.git)
  eslint-js: any of: \.(js)$ and not ((?x)^(
    next_pms/public/dist/.*|
    cypress/.*|
    .*node_modules.*|
    .*boilerplate.*|
    next_pms/templates/includes/.*|
)$
) and not (node_modules|.git)
