Repository rtCamp/next-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-react, eslint-js

.pre-commit-config.yaml:

exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: "next_pms.*"
        exclude: ".*json$|.*txt$|.*csv|.*md|.*svg"
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
        name: "Python linter"

      - id: ruff
        args: ["--select=T20","--exit-zero"]
        name: "Print Statement Warning"
        stages: [pre-commit]

      - id: ruff-format
        name: "Python formatter"

  - repo: local
    hooks:
      - id: clone-local-repo
        name: clone-local-repo
        entry: bash -c 'TARGET_DIR=".frappe-semgrep" && [ ! -d "$TARGET_DIR" ] && git clone "https://github.com/frappe/semgrep-rules" "$TARGET_DIR" || true'
        language: system
        always_run: true

  - repo: https://github.com/semgrep/pre-commit
    rev: 'v1.91.0'
    hooks:
      - id: semgrep-ci
        name: "Sempgrep: frappe"
        args: ['--config', './.frappe-semgrep/rules', '--config','r/python.lang.correctness','--error', '--skip-unknown-extensions', '--metrics','off']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: "JS/TS Formatter"
        language: node
        files: ^.*\.(jsx|tsx|ts|js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
                next_pms/public/js/lib/.*
            )$


  - repo: local
    hooks:
      - id: eslint-react
        name: "ESlint React"
        entry: bash -c 'cd frontend && npm run lint:precommit -- "${@#frontend/}" ' --
        language: system
        files: \.(jsx|tsx|ts)$
        types: [file]
        pass_filenames: true
        exclude: |
            (?x)^(
                .*node_modules.*
            )$

  - repo: local
    hooks:
      - id: eslint-js
        name: "ESlint JS"
        entry: bash -c 'npx run eslint --config .eslintrc -- "$@"' --
        language: system
        files: \.(js)$
        types: [file]
        exclude: |
            (?x)^(
                next_pms/public/dist/.*|
                cypress/.*|
                .*node_modules.*|
                .*boilerplate.*|
                next_pms/templates/includes/.*|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false

Add Noting to show messagewhen tab is empty
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
Due: eslint-react

Initial README for E2E tests.
  tests/e2e/README.md
Due: none

Automated TC48.
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Refactored API utilities.
  .github/workflows/e2e-playwright-test.yml
  tests/e2e/.env.example
  tests/e2e/utils/api/authRequests.js
  tests/e2e/utils/api/leaveRequests.js
  tests/e2e/utils/api/timesheetRequests.js
Due: eslint-js

CI test.
  .github/workflows/e2e-playwright-test.yml
Due: none

Updated CI.
  .github/workflows/e2e-playwright-test.yml
Due: none

Fixed CI email.
  .github/workflows/e2e-playwright-test.yml
Due: none

Replace cn with mergeClassNames
  frontend/packages/app/src/app/components/form-view/index.tsx
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/projectComboBox.tsx
Due: eslint-react

Replace projectComboBox compoennt to filter component
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/header.tsx
Due: eslint-react

Updated README.md
  tests/e2e/README.md
Due: none

Add empty status projects in response of get_project_list API and add flag to setQuerparams
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/projectComboBox.tsx
  next_pms/timesheet/api/project.py
Due: eslint-react

Remove API key string to uncache API response
  frontend/packages/app/src/app/pages/project/project-detail/projectComboBox.tsx
Due: eslint-react

Updated test case IDs.
  tests/e2e/data/manager/team.json
  tests/e2e/helpers/timesheetHelper.js
  tests/e2e/specs/employee/team.spec.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Added TC50.
  tests/e2e/data/manager/team.json
  tests/e2e/pageObjects/teamPage.js
  tests/e2e/specs/manager/team.spec.js
Due: eslint-js

Add 'add project' button and API
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/pages/project/components/addProject.tsx
  frontend/packages/app/src/app/pages/project/components/columns.tsx
  frontend/packages/app/src/app/pages/project/components/header.tsx
  frontend/packages/app/src/app/pages/project/index.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  frontend/packages/app/src/app/pages/project/types.ts
  frontend/packages/app/src/schema/project.ts
  frontend/packages/app/src/store/project.ts
  next_pms/api/__init__.py
  next_pms/timesheet/api/project.py
Due: eslint-react

Add permissions to get_doc_with_meta API
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
  next_pms/api/__init__.py
Due: eslint-react

Automated TC25 and TC26.
  tests/e2e/data/manager/task.json
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Addressed feedback.
  tests/e2e/README.md
Due: none

Updated test data config section.
  tests/e2e/README.md
Due: none

Automated TC20.
  tests/e2e/data/manager/task.json
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/manager/task.spec.js
Due: eslint-js

Refactor: Removed redundant code.
  tests/e2e/pageObjects/taskPage.js
  tests/e2e/specs/employee/timesheet.spec.js
Due: eslint-js

Fixed linter failure.
  frontend/tailwind.config.cjs
  tests/e2e/pageObjects/taskPage.js
Due: eslint-js

Reverted ESLint changes.
  frontend/tailwind.config.cjs
Due: none

Update project name in header
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/components/list-view/header/index.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/components/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Fix emprty projectName when creating projects in project-detail page
  frontend/packages/app/src/app/components/list-view/header/filter.tsx
  frontend/packages/app/src/app/components/list-view/types.ts
  frontend/packages/app/src/app/pages/project/project-detail/components/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/projectComboBox.tsx
Due: eslint-react

Update tabbody data on projectId change
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Remove Component suffix form component names
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/index.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/resource-management/src/components/table/cell/tableCellContent.tsx
  frontend/packages/resource-management/src/components/table/cell/tableInformationCellContent.tsx
  frontend/packages/resource-management/src/components/table/row/resourceTableRow.tsx
Due: eslint-react

Fix duplicate decaltion of ResourceTimeline issue
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/index.tsx
Due: eslint-react

Replace react default context with use-context-selector
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/empty/emptyTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expand-view/expandView.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expand-view/expandViewCell.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTable.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/project/index.tsx
  frontend/packages/app/src/app/pages/resource-management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/timeLineContext.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/expandViewCell.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/resourceExpandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTable.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/timeLineDateHeader.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/timeLine.tsx
  frontend/packages/app/src/lib/UserProvider.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/resource-management/src/components/table/cell/resourceTableCell.tsx
  frontend/packages/resource-management/src/components/table/cell/tableInformationCellContent.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/store/tableContext.tsx
  package-lock.json
  package.json
Due: eslint-react

Update form field when projectID is changed
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Fix null in deafult values when resetting form
  frontend/packages/app/src/app/components/form-view/fieldRenderer.tsx
Due: eslint-react

Shift submit logic in the main component and add req field rules on form submission
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/header.tsx
  frontend/packages/app/src/app/pages/project/project-detail/index.tsx
Due: eslint-react

Reset root package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

Add default naming_series and company values in addProjectDialog
  frontend/packages/app/src/app/pages/project/components/addProject.tsx
Due: eslint-react

Make state and actions separate in Context
  frontend/packages/app/src/app/layout/sidebar/userNavigation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/addAllocation.tsx
  frontend/packages/app/src/app/pages/resource-management/components/empty/emptyTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationCard.tsx
  frontend/packages/app/src/app/pages/resource-management/components/resource-allocation-list/resourceAllocationList.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expand-view/expandView.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/expand-view/expandViewCell.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTable.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/project/components/table/resourceProjectTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/project/index.tsx
  frontend/packages/app/src/app/pages/resource-management/store/projectContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/resourceFormContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/teamContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/timeLineContext.tsx
  frontend/packages/app/src/app/pages/resource-management/store/types.ts
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/expandViewCell.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/expand-view/resourceExpandView.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/header.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTable.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableBody.tsx
  frontend/packages/app/src/app/pages/resource-management/team/components/table/resourceTeamTableCell.tsx
  frontend/packages/app/src/app/pages/resource-management/team/index.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/ resourceTimeLine.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/group.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/resourceTimLineHeaderSection.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/header/timeLineDateHeader.tsx
  frontend/packages/app/src/app/pages/resource-management/timeline/components/timeLine.tsx
  frontend/packages/app/src/lib/UserProvider.tsx
  frontend/packages/app/src/route.tsx
  frontend/packages/resource-management/src/components/table/cell/resourceTableCell.tsx
  frontend/packages/resource-management/src/components/table/cell/tableInformationCellContent.tsx
  frontend/packages/resource-management/src/components/table/tableHeader.tsx
  frontend/packages/resource-management/src/store/tableContext.tsx
Due: eslint-react

Fix incorrect values in select fields
  frontend/packages/app/src/app/components/form-view/renderField.tsx
  frontend/packages/app/src/app/pages/project/project-detail/components/header.tsx
Due: eslint-react
